 <!-- ******CTA Section****** -->
        <section id="cta" class="section cta-section text-center home-cta-section">
            <div class="container">
               <h2 class="title">We're launching soon. Sooner than you'd expect.</h2>
               <p class="intro">If you're <span class="counting">interested</span> in learning more about us and want to hear updates from us regularly (and even give feedback as we build). Shout-out your email below. </p><br/>
               <form class="signup-form navbar-form">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your email please. We dont spam.">
                    </div>
                    <button type="submit" class="btn btn-sm btn-cta btn-cta-primary">Loop me in</button>
                </form>
            </div><!--//container-->
        </section><!--//cta-section-->