 <!-- ******CTA Section****** -->
        <section id="cta" class="section cta-section text-center home-cta-section" data-ng-controller="bottomBannerController">
            <div class="container">
               <h2 class="title">Store, Search, Sync data instantly.</h2>
               <p class="intro">If you still aren't convinced. Please do check out our quckstart or docs here. If you want to hack around with the SDK. You can begin right away by signing up for our free account. </p><br/>
                <a href="#!/signup" class="btn btn-sm btn-cta btn-cta-primary">
                    Start Hacking
                </a>
            </div><!--//container-->
        </section><!--//cta-section-->
