<!-- ******HEADER****** -->
<header id="header" class="header">
    <div class="container">
        <h1 class="logo" id="logoContainer">
            <a href="#/">
                <span class="text">
                    <img id="logoImg" style="margin-bottom:10px" height="50" src='/assets/images/cblogo.png'/>
                </span>
            </a>
        </h1><!--//logo-->
        <nav class="main-nav navbar-right" role="navigation">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button><!--//nav-toggle-->
            </div><!--//navbar-header-->
            <div id="navbar-collapse" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li id="home" class="nav-item"><a href="#/index-2">Home</a></li>
                    <li id="features" class="nav-item"><a href="#/features">Features</a></li>
                    <li id="pricing" class="nav-item"><a href="#/pricing">Pricing</a></li>
                    <li id="aboutus" class="nav-item dropdown" style="cursor:pointer">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">About us <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#/about">Who are we?</a></li>
                            <li><a href="#/joinus">Join us</a></li>
                            <li><a href="#/contact">Contact</a></li>
                        </ul>
                    </li><!--//dropdown-->
                    <li class="nav-item nav-item-cta last"><a class="btn btn-cta btn-cta-secondary" href="#/signup">Tell me when you launch</a></li>
                </ul><!--//nav-->
            </div><!--//navabr-collapse-->
        </nav><!--//main-nav-->
    </div><!--//container-->
</header><!--//header-->
