<!-- ******HEADER****** -->
<header id="header" class="header" data-ng-controller="headerController">
    <div class="container">
        <h1 class="logo" id="logoContainer">
            <a href="#/">
                <span class="text">
                    <img id="logoImg" style="margin-bottom:10px" height="50" src='/assets/images/cblogo.png'/>
                </span>
            </a>
        </h1><!--//logo-->
        <nav class="main-nav navbar-right" role="navigation">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button><!--//nav-toggle-->
            </div><!--//navbar-header-->
            <div id="navbar-collapse" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li style="cursor:pointer" id="home" ng-class="{active: isActive('/')}" class="nav-item"><a data-ng-click="navigate('#/index')" >Home</a></li>
                    <li style="cursor:pointer" id="features" ng-class="{active: isActive('/features')}" class="nav-item"><a data-ng-click="navigate('#/features')">Features</a></li>
                    <li style="cursor:pointer" id="pricing" ng-class="{active: isActive('/faq')}" class="nav-item"><a data-ng-click="navigate('#/faq')">FAQ</a></li>
                    <li style="cursor:pointer" id="aboutus" ng-class="{active: (isActive('/about') || isActive('/contact') || isActive('/joinus'))}" class="nav-item dropdown" style="cursor:pointer">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">About us <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li style="cursor:pointer"><a data-ng-click="navigate('#/about')">Who are we?</a></li>
                            <li style="cursor:pointer"><a data-ng-click="navigate('#/joinus')">Join us</a></li>
                            <li style="cursor:pointer"><a data-ng-click="navigate('#/contact')">Contact</a></li>
                        </ul>
                    </li><!--//dropdown-->
                    <li class="nav-item nav-item-cta last"><a class="btn btn-cta btn-cta-secondary" data-ng-click="toCta()">Tell me when you launch</a></li>
                </ul><!--//nav-->
            </div><!--//navabr-collapse-->
        </nav><!--//main-nav-->
    </div><!--//container-->
</header><!--//header-->
