<div class="container">
   <h4 class="title" style="margin: 0px;
    padding: 0px;
    font-size: 22px;">Consulting and Software Development Services</h4>
   <h2 class="title" style="margin:30px">We use <b>AI to build exceptional apps</b> for you.</h2>
   <p class="intro"> We use AI to automate most of the processes to build your app <br/>which eventually saves you over 50% in development costs and time. <br/>The exact same team who has built CloudBoost can now help you build your app. </p><br/>
    <a id="home-footer-signup-btn" href="/software-development-service" class="whiteButton">
        &nbsp;&nbsp;&nbsp;&nbsp;Learn more&nbsp;&nbsp;&nbsp;&nbsp;
    </a>
</div>
