<div class="container">
   <h2 class="title">Start building <b>exceptional</b> apps today.</h2>
   <p class="intro"> Build much richer apps with real-time, search and more in half less time. <br/>Build exceptional apps and delight your users.  </p><br/>
    <a id="home-footer-signup-btn" href="https://accounts.cloudboost.io/#/signup" class="whiteButton">
        &nbsp;&nbsp;&nbsp;&nbsp;Sign up for free&nbsp;&nbsp;&nbsp;&nbsp;
    </a>
</div>
