<div class="container">
   <h4 class="title" style="margin: 0px;
    padding: 0px;
    font-size: 15px; font-weight:400;color:#b1d8ec;"><b>CONSULTING AND SOFTWARE DEVELOPMENT SERVICES</b></h4>
   <h2 class="title" style="margin:30px; font-family: 'Signika', sans-serif; font-weight:700;font-size:50px">Let's build something great.</h2>
   <p class="intro"> We also help the world’s leading companies and startups build amazing websites, apps and services that are simple, beautiful and easy to use.</p><br/>
    <a id="home-footer-signup-btn" href="/software-development-service" class="whiteButton">
        &nbsp;&nbsp;See our work&nbsp;&nbsp;
    </a>
    <section class="container-wide" id="showcase-wide" style="position: relative;
    float: left;
    overflow: hidden;
    margin-top: 100px;
    width: 100%;
    height: 340px;
    z-index: 1000;">
      <ul>
          <li><a href="work.html"><img src="images/work/thumb.jpg" alt="portfolio"></a></li>
          <li><a href="work.html"><img src="images/work/thumb (1).jpg" alt="portfolio"></a></li>
          <li><a href="work.html"><img src="images/work/thumb (2).jpg" alt="portfolio"></a></li>
          <li><a href="work.html"><img src="images/work/thumb (3).jpg" alt="portfolio"></a></li>
          <li><a href="work.html"><img src="images/work/thumb (4).jpg" alt="portfolio"></a></li>
      </ul>
  </section>
</div>
