    
<div class="footer-content">
    <div class="container">
        <div class="row">
            <div class="footer-col links col-md-2 col-sm-4 col-xs-12">
                <div class="footer-col-inner">
                    <h3 class="title">About us</h3>
                    <ul class="list-unstyled">
                        <li><a href="/about"><i class="fa fa-caret-right"></i>Who we are</a></li>
                        <li><a href="/joinus"><i class="fa fa-caret-right"></i>Join us</a></li>
                        <li><a href="/contact"><i class="fa fa-caret-right"></i>Contact us</a></li>
                    </ul>
                </div><!--//footer-col-inner-->
            </div><!--//foooter-col-->
            <div class="footer-col links col-md-2 col-sm-4 col-xs-12">
                <div class="footer-col-inner">
                    <h3 class="title">Support</h3>
                    <ul class="list-unstyled">
                        <li><a href="/contact"><i class="fa fa-caret-right"></i>Help</a></li>
                        <li><a href="/terms"><i class="fa fa-caret-right"></i>Terms of services</a></li>
                        <li><a href="/privacy"><i class="fa fa-caret-right"></i>Privacy Policy</a></li>
                        <li><a href="/service-level-agreement"><i class="fa fa-caret-right"></i>Service Level Agreement</a></li>
                    </ul>
                </div><!--//footer-col-inner-->
            </div><!--//foooter-col-->
            <div class="footer-col links col-md-2 col-sm-4 col-xs-12 sm-break">
                
            </div><!--//foooter-col-->
            <div class="footer-col connect col-md-6 col-sm-12 col-xs-12">
                <div class="footer-col-inner">
                    
                    <div class="form-container">
                        <p class="intro">Want us to send you adrenalin filled emails right to your inbox when we have something new? Type in your email.We dont spam, We're hackers and we hate that too!</p>
                        <form  class="signup-form navbar-form" name="footerSubscribeForm">
                            <div class="form-group">
                                <input id="subscribeInput" type="email" class="form-control" placeholder="Enter your email address" required >
                            </div>
                            <button id="subscribeBtn" type="submit" class="btn btn-cta btn-cta-primary">Subscribe Now</button>
                        </form>                       
                        <i id="footerShowSpinner" class="fa fa-spinner fa-spin fa-lg"></i>
                        <p id="footerSubscribeResult"></p>
                        <p id="footerSubscribeErr"></p>
                    </div><!--//subscription-form-->
                </div><!--//footer-col-inner-->
            </div><!--//foooter-col-->
            <div class="clearfix"></div>
        </div><!--//row-->
        <div class="row has-divider">
            <div class="footer-col download col-md-6 col-sm-12 col-xs-12">
                <div class="footer-col-inner">
                    <h3 class="title">Hey, We're hiring!</h3>
                    <ul class="list-unstyled download-list">
                        <li>
                            <p class="adr clearfix">
                                <span class="adr-group pull-left">
                                    <span class="region">We build a lot of awesome products at HackerBay</span><br>
                                    <span class="region">CloudBoost is just one of them </span><br>
                                    <span class="street-address">Want to be a part of HackerBay Mafia?</span><br>
                                    <span class="region">Drop-by to check us out or click below. </span><br>
                                </span>
                            </p>
                            </li>
                        <li><a class="btn btn-ghost" href="/joinus"><i class="fa fa-terminal"></i><span class="text">Want to be one of us?</span></a></li>

                    </ul>
                </div><!--//footer-col-inner-->
                
            </div><!--//download-->
            <div class="footer-col contact col-md-6 col-sm-12 col-xs-12">
                <div class="footer-col-inner">
                    <ul class="social list-inline">
                        <li><a href="https://twitter.com/cloudboostio" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://facebook.com/cloudboost.io"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UC513RAcmBiMB5W6eiTaOOGw"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="https://facebook.com/cloudboost.io"><i class="fa fa-github"></i></a></li>
                        <li><a href="http://stackoverflow.com/questions/tagged/cloudboost"><i class="fa fa-stack-overflow"></i></a></li>
                        <li><a href="mailto:hello@cloudboost.io"><i class="fa fa-envelope-o"></i></a></li>
                        
                    </ul>
                   

                    <img style="margin-top:30px" height="60px" src='/images/LogoWhite.png'/>
                </div><!--//footer-col-inner-->
            </div><!--//contact-->
        </div>
    </div><!--//container-->
</div><!--//footer-content-->
<div class="bottom-bar">
    <div class="container">
        <small class="copyright">Copyright @ 2014 HackerBay Software Private Limited</a></small>
    </div><!--//container-->
</div><!--//bottom-bar-->
   
