
<div class="container">
    <h1 class="logo" id="logoContainer">
        <a href="/">
            <span class="text">
                <img id="logoImg" src='/images/cbfull.png'/>
                <a href="/joinus" style="text-decoration:none;">                        
                    <img  src='/images/cb-hiring.png' style="width:85px; height:23px;"/>
                </a>
            </span>
        </a>
    </h1><!--//logo-->
    <nav class="main-nav navbar-right" role="navigation">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button><!--//nav-toggle-->
        </div><!--//navbar-header-->
        <div id="navbar-collapse" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

                <li style="cursor:pointer; color:white"  class="nav-item linkHover">
                    <a  style="color:white"  href="/quickstart">QUICKSTART</a>
                </li>
                
                <li style="cursor:pointer; color:white"  class="nav-item linkHover">
                    <a style="color:white"  href="/pricing">PRICING</a>
                </li>              

                <li style="cursor:pointer; color:white"  class="nav-item dropdown linkHover">
                    <a style="color:white"  class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">MORE<i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu"> 
                        <li style="cursor:pointer"><a href="/compare">Compare</a></li>                           
                        <li style="cursor:pointer"><a href="/about">Who are we?</a></li>
                        <li style="cursor:pointer"><a href="/partners">Be our partner</a></li>
                        <li style="cursor:pointer"><a href="/experts">Expert Program</a></li>
                        <li style="cursor:pointer"><a href="/joinus">CloudBoost Careers</a></li>
                        <li style="cursor:pointer"><a href="/contact">Help and Support</a></li>
                        <li style="cursor:pointer"><a href="http://blog.cloudboost.io/">Blog</a></li>
                    </ul>
                </li><!--//dropdown-->
                <li style="cursor:pointer; color:white"  class="nav-item linkHover"><a style="color:white"  href="https://dashboard.cloudboost.io/accounts/">LOGIN</a></li>

                <li style="cursor:pointer; color:white" class="nav-item  linkHover ">
                    <a style="color:white; padding-top: 10px;padding-right: 10px;padding-left: 10px;padding-bottom: 7px;" class="buttonBorder" href="https://dashboard.cloudboost.io/accounts/#/signup">SIGN UP FOR FREE</a>
                </li>
            </ul><!--//nav-->
        </div><!--//navabr-collapse-->
    </nav><!--//main-nav-->
</div><!--//container-->
