
<div class="container">
    <h1 class="logo" id="logoContainer">
        <a href="/">
            <span class="text">
                <img id="logoImg" src='/images/cbfull.png'/>
                <a href="/joinus" style="text-decoration:none;" class="hiring-tail">                        
                    <img  src='/images/cb-hiring.png' style="width:85px; height:23px;"/>
                </a>
            </span>
        </a>
    </h1><!--//logo-->
    <nav class="main-nav navbar-right" role="navigation">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button><!--//nav-toggle-->
        </div><!--//navbar-header-->
        <div id="navbar-collapse" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

                <li style="cursor:pointer; color:white"  class="nav-item linkHover-nrml cb-main-linkz">
                    <a class="" href="/quickstart">Quickstart</a>
                </li>
                
                <li style="cursor:pointer; color:white"  class="nav-item linkHover-nrml cb-main-linkz">
                    <a href="/pricing">Pricing</a>
                </li>              

                <li style="cursor:pointer; color:white"  class="nav-item dropdown linkHover-nrml cb-main-linkz">
                    <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">More&nbsp;<i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu"> 
                        <li style="cursor:pointer"><a href="https://github.com/CloudBoost/cloudboost" target="_blank">Star us on GitHub</a></li> 
                        <li style="cursor:pointer"><a href="/compare">Compare</a></li> 
                        <li style="cursor:pointer"><a href="https://github.com/cloudboost" target="_blank">Open source</a></li> 
                        <li style="cursor:pointer"><a href="http://status.cloudboost.io/" target="_blank">Status</a></li>
                        <li style="cursor:pointer"><a href="https://slack.cloudboost.io/" target="_blank">Slack</a></li>                           
                        <li style="cursor:pointer"><a href="/about">Who are we?</a></li>                        
                        <li style="cursor:pointer"><a href="/joinus">CloudBoost Careers</a></li>
                        <li style="cursor:pointer"><a href="/contact">Help and Support</a></li>
                        <li style="cursor:pointer"><a href="http://blog.cloudboost.io/">Blog</a></li>
                    </ul>
                </li><!--//dropdown-->
                <li style="cursor:pointer; color:white"  class="nav-item linkHover-nrml cb-main-linkz">
                 <a  href="https://accounts.cloudboost.io" id="header-loginbtn">Login</a>
                </li>

                <li style="cursor:pointer; margin-top:8px;" class="nav-item  linkHover">
                    <a style="color:#BFE6FC;padding-top: 2px;padding-right: 8px;padding-left: 8px;padding-bottom: 3px;border-radius:12px;" class="buttonBorder" href="https://accounts.cloudboost.io/#/signup" id="header-signupbtn">Sign up for free</a>
                </li>
            </ul><!--//nav-->
        </div><!--//navabr-collapse-->
    </nav><!--//main-nav-->
</div><!--//container-->
