<div class="container">
    <div class="trending-wrapper">
        <div class="trending-slides cf">

            <!--Section1-->
            <section class="animsec1">
                <div class="">

                    <div class="graphic-row1">
                        <!--Row1-->
                    </div>

                    <div class="graphic-row2 flex-general-row-wrapper">
                        <div class="graphic-column1 flex-general-column-wrapper-center">

                            <div class="demo-explain flex-general-column-wrapper-center">

                                <div  class="demo-main-heading flex-general-column-wrapper-center">
                                    <p> One API for all your needs</p>
                                </div>

                                <div class="demo-sub-heading flex-general-column-wrapper-center" style="">
                                    <span style="font-size:25px;font-weight: 100;color:#333;"> The best payment flow </span>
                                    <span  style="font-size:25px;font-weight: 100;margin-top: -5px;color:#333;"> on web and mobile</span>
                                </div>

                                <div class="demo-start-btn flex-general-column-wrapper-center">
                                    <button class="start-demo">Show me</button>
                                </div>

                            </div> 

                        </div>

                        <div class="graphic-column2 flex-general-column-wrapper-center">
                            <div class="demo-product-wrap flex-general-column-wrapper-center">

                                <!--Desktop-->
                                <div class="big-desktop-wrap flex-general-column-wrapper-center">
                                    <div class="big-desktop">
                                        <div class="big-deskscreen flex-general-column-wrapper-center">
                                            <div class="big-deskscreen-inn">
                                                <img src="/images/foodapp2.jpg" style="width:286px; height:164px;">
                                            </div>
                                        </div>
                                        <div class="big-desktail flex-general-column-wrapper-center">
                                            <div class="big-desktail-part1 flex-general-column-wrapper-center">
                                                <div style="height:10px;width:10px; border-radius:25px;background-color:rgba(0, 0, 0, 0.38);">
                                                </div>
                                            </div>
                                            <div class="big-desktail-part2">
                                            </div>
                                            <div class="big-desktail-part3">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--/Desktop-->

                                <!--Laptop-->
                                <div class="laptop-wrap">
                                    <div class="laptop flex-general-column-wrapper-center">

                                        <div class="laptop-spl flex-general-column-wrapper-center">
                                            <div class="laptop-head flex-general-column-wrapper-center">
                                                <div style="height:3px;width:3px; border-radius:25px;background-color:#ccc;">
                                                </div>
                                            </div>
                                            <div class="laptop-screen flex-general-column-wrapper-center">
                                                <div class="laptop-inn">
                                                    <img src="/images/foodapp2.jpg" style="width:188px; height:102px;">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="laptop-tail flex-general-column-wrapper-center">
                                            
                                        </div>
                                    </div>
                                </div>
                                <!--/Laptop-->

                                <!--BigTab-->
                                <div class="bigtab-wrap">
                                    <div class="bigtab flex-general-column-wrapper-center">   

                                        <div class="bigtab-head flex-general-column-wrapper-center">
                                            <div class="cf">
                                                <div class="pull-left" style="height:2px;width:2px;background-color:#ccc;">
                                                </div>
                                                <div class="pull-left" style="margin-left:2px; height:2px;width:6px;background-color:#ccc;">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="bigtab-screen flex-general-column-wrapper-center">
                                            <div class="bigtab-inn">
                                                <img src="/images/foodapp2-bigtab.jpg" style="width:93px; height:115px;">
                                            </div>
                                        </div>
                                        <div class="bigtab-tail flex-general-column-wrapper-center">
                                            <div style="height:6px;width:6px;background-color:#ccc;border-radius:25px;">
                                            </div>
                                        </div>                                       
                                        
                                    </div>
                                </div>
                                <!--/BigTab-->

                                <!--SmallTab-->
                                <div class="smalltab-wrap">
                                    <div class="smalltab flex-general-column-wrapper-center">   

                                        <div class="smalltab-head flex-general-column-wrapper-center">
                                            <div class="cf">
                                                <div class="pull-left" style="height:2px;width:2px;background-color:#ccc;">
                                                </div>
                                                <div class="pull-left" style="margin-left:2px; height:2px;width:6px;background-color:#ccc;">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="smalltab-screen flex-general-column-wrapper-center">
                                            <div class="bigtab-inn">
                                                <img src="/images/foodapp2-smalltab.jpg" style="width:67px; height:91px;">
                                            </div>
                                        </div>
                                        <div class="smalltab-tail flex-general-column-wrapper-center">
                                            <div style="height:6px;width:6px;background-color:#ccc;border-radius:25px;">
                                            </div>
                                        </div>                                       
                                        
                                    </div>
                                </div>
                                <!--/SmallTab-->

                                <!--Mobile-->
                                <div class="mobile-wrap">
                                    <div class="mobile flex-general-column-wrapper-center">   

                                        <div class="mobile-head flex-general-column-wrapper-center">
                                            <div class="cf">
                                                <div class="mbl-head-features-point1 pull-left">
                                                </div>
                                                <div class="pull-left mbl-head-features-point2">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mobile-screen  flex-general-column-wrapper-center">
                                            <div class="mobile-screen-inn">

                                                <!--mbl-slide0-->
                                                <div class="mbl-slide0 demo-app-color-bg flex-general-column-wrapper-center">
                                                 <img src="/images/foodapp2-name.jpg">
                                                </div>
                                                <!--/mbl-slide0-->

                                                <!--mbl-slide1-->
                                                <div class="mbl-slide1">
                                                    <div class="mbl-app-header demo-app-color-bg flex-general-row-wrapper">
                                                        <div class="mbl-app-head-logo">
                                                            <img src="/images/food-app2-mbl-head.jpg">
                                                        </div>
                                                        <div class="mbl-app-head-features">
                                                            <div class="mbl-app-notify-icon">
                                                                <i class="fa fa-bell"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--Search-->
                                                    <div class="mbl-app-search flex-general-row-wrapper">
                                                       <div class="mbl-app-searchin-wrap flex-general-row-wrapper">
                                                            <div class="search-input">
                                                                <div class="inputlike">
                                                                    <p>Search Restaurants</p>
                                                                </div>
                                                            </div>

                                                            <div class="search-icon">
                                                                <i class="fa fa-search mbl-search-default"></i>                  
                                                            </div>
                                                       </div>
                                                    </div>

                                                    <div class="mbl-app-content">
                                                        <!--Card-->
                                                        <div class="restaurants-box">
                                                            <div class="restaurants-box-img">
                                                             <img src="/images/app.pizza.jpg">
                                                            </div>
                                                            <div class="restaurants-box-det">
                                                                <div class="rest-name flex-general-column-wrapper-center">
                                                                    <span>Almorzastee</span>
                                                                </div>
                                                                <div class="rest-det flex-general-column-wrapper-center">
                                                                    <span>Tomato pizza with double cheeze $40</span>
                                                                </div>
                                                                 <div class="rest-link flex-general-column-wrapper-center">
                                                                    <span>Show Details</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--/Card-->

                                                         <!--Card-->
                                                        <div class="restaurants-box">
                                                            <div class="restaurants-box-img">
                                                             <img src="/images/food.food2.jpg">
                                                            </div>
                                                            <div class="restaurants-box-det">
                                                                <div class="rest-name flex-general-column-wrapper-center">
                                                                    <span>Almorzastee</span>
                                                                </div>
                                                                <div class="rest-det flex-general-column-wrapper-center">
                                                                    <span>Tomato pizza with double cheeze $40</span>
                                                                </div>
                                                                 <div class="rest-link flex-general-column-wrapper-center">
                                                                    <span>Show Details</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--/Card-->
                                                    </div>                                                 
                                                </div>
                                                <!--/mbl-slide1-->

                                               <!--mbl-slide2-->
                                                <div class="mbl-slide2">
                                                    <div class="mbl-app-header demo-app-color-bg flex-general-row-wrapper">
                                                        
                                                    </div>
                                                    <!--Search-->
                                                    <div class="mbl-app-search flex-general-row-wrapper">
                                                       <div class="mbl-app-searchin-wrap flex-general-row-wrapper">
                                                            <div class="search-input">
                                                                <div class="inputlike">
                                                                    <p>Restaurants near santiago</p>
                                                                </div>
                                                            </div>

                                                            <div class="search-icon">
                                                                <div class="searchicon-mode1">
                                                                    <i class="fa fa-search mbl-search-default"></i>
                                                                </div>

                                                                <div class="searchspinner">
                                                                    <img src="/images/app-spinner.gif" class="mbl-search-loading">
                                                                </div>

                                                                <div class="searchicon-mode2">
                                                                    <i class="fa fa-search mbl-search-default"></i>
                                                                </div>
                                                                
                                                            </div>
                                                       </div>
                                                    </div>

                                                    <div class="mbl-app-content"> 
                                                            <!--Card-->
                                                            <div class="restaurants-box">
                                                                <div class="restaurants-box-img">
                                                                 <img src="/images/food.ragada.jpg">
                                                                </div>
                                                                <div class="restaurants-box-det">
                                                                    <div class="rest-name flex-general-column-wrapper-center">
                                                                        <span>Comida Hindu</span>
                                                                    </div>
                                                                    <div class="rest-det flex-general-column-wrapper-center">
                                                                        <span>Sweet and sour snacks $30</span>
                                                                    </div>
                                                                     <div class="rest-link flex-general-column-wrapper-center">
                                                                        <span>Show Details</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--/Card-->

                                                            <!--Card-->
                                                            <div class="restaurants-box">
                                                                <div class="restaurants-box-img">
                                                                 <img src="/images/food.dessert.jpg">
                                                                </div>
                                                                <div class="restaurants-box-det">
                                                                    <div class="rest-name flex-general-column-wrapper-center">
                                                                        <span>Dulce house</span>
                                                                    </div>
                                                                    <div class="rest-det flex-general-column-wrapper-center">
                                                                        <span>Double creame cakes $20</span>
                                                                    </div>
                                                                     <div class="rest-link flex-general-column-wrapper-center">
                                                                        <span>Show Details</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--/Card-->                                               
                                                    </div>                                                 
                                                </div>
                                                <!--/mbl-slide2-->

                                            </div>
                                        </div>
                                        <div class="mobile-tail flex-general-column-wrapper-center">
                                            <div class="mbl-tail-features">
                                            </div>
                                        </div>                                       
                                        
                                    </div>
                                </div>
                                <!--/Mobile-->

                            </div>
                        </div>

                        <div class="graphic-column3 flex-general-column-wrapper-center"> 
                            <!--Column3-->                   
                        </div>
                    </div>

                    <div class="graphic-row3">
                        <!--Row3-->
                    </div>

                </div>
            </section>
            <!--/Section1-->

            <!--Section2-->
            <section class="animsec2">
                <div class="">

                    <div class="graphic-row1">
                        <!--Row1-->
                    </div>

                    <div class="graphic-row2 flex-general-row-wrapper">

                        <div class="graphic-column1 flex-general-column-wrapper-center">
                            <div class="demo-explain flex-general-column-wrapper-center">

                                <div  class="demo-main-heading flex-general-column-wrapper-center">
                                    <p style="font-size:28px;"> Total Change</p>
                                </div>

                                <div class="demo-sub-heading flex-general-column-wrapper-center" style="">
                                    <span style="font-size:25px;font-weight: 100;color:#333;"> The best payment flow </span>
                                    <span  style="font-size:25px;font-weight: 100;margin-top: -5px;color:#333;"> on web and mobile</span>
                                </div>                               

                            </div>
                        </div>

                        <div class="graphic-column2 flex-general-column-wrapper-center">                            
                            <!--Column2-->
                        </div>                        

                        <div class="graphic-column3 flex-general-column-wrapper-center"> 
                            <div class="demo-explain2 flex-general-column-wrapper-center">

                                <div  class="demo-main-heading2 flex-general-column-wrapper-center">
                                    <p style="font-size:32px;"> Total Change</p>
                                </div>

                                <div class="demo-sub-heading2 flex-general-column-wrapper-center" style="">
                                    <span style="font-size:25px;font-weight: 100;color:#333;"> The best payment flow </span>
                                    <span  style="font-size:25px;font-weight: 100;margin-top: -5px;color:#333;"> on web and mobile</span>
                                </div>                             

                            </div>                   
                        </div>
                    </div>

                    <div class="graphic-row3">
                        <!--Row3-->
                    </div>

                </div>
            </section>
            <!--/Section2-->

            <!--Section3-->
            <section class="animsec3">
                <div class="">

                    <div class="graphic-row1">
                        <!--Row1-->
                    </div>

                    <div class="graphic-row2 flex-general-row-wrapper">                        

                        <div class="graphic-column1 flex-general-column-wrapper-center">

                            <div class="demo-explain flex-general-column-wrapper-center">

                                <div  class="demo-main-heading flex-general-column-wrapper-center">
                                    <p style="font-size:32px;"> Todos cambio</p>
                                </div>

                                <div class="demo-sub-heading flex-general-column-wrapper-center" style="">
                                    <span style="font-size:25px;font-weight: 100;color:#333;"> The best payment flow </span>
                                    <span  style="font-size:25px;font-weight: 100;margin-top: -5px;color:#333;"> on web and mobile</span>
                                </div>

                                <div class="flex-general-column-wrapper-center">
                                    <button class="start-demo6">Show me</button>
                                </div>

                            </div> 

                        </div>

                        <div class="graphic-column2 flex-general-column-wrapper-center">
                            <div class="demo-product-wrap flex-general-column-wrapper-center">
                                <img src="/images/devices.png" class="demo-product">
                            </div>
                        </div>                        

                        <div class="graphic-column3 flex-general-column-wrapper-center"> 
                            <!--Column3-->                   
                        </div>
                    </div>

                    <div class="graphic-row3">
                        <!--Row3-->
                    </div>

                </div>
            </section>
            <!--/Section3-->

            <!--Section4-->
            <section class="animsec4">
                <div class="">

                    <div class="graphic-row1">
                        <!--Row1-->
                    </div>

                    <div class="graphic-row2 flex-general-row-wrapper">                        

                        <div class="graphic-column1 flex-general-column-wrapper-center">

                            <div class="demo-explain flex-general-column-wrapper-center">

                                <div  class="demo-main-heading flex-general-column-wrapper-center">
                                    <p style="font-size:32px;"> Todos cambio2</p>
                                </div>

                                <div class="demo-sub-heading flex-general-column-wrapper-center" style="">
                                    <span style="font-size:25px;font-weight: 100;color:#333;"> The best payment flow </span>
                                    <span  style="font-size:25px;font-weight: 100;margin-top: -5px;color:#333;"> on web and mobile</span>
                                </div>

                                <div class="flex-general-column-wrapper-center">
                                    <button class="start-demo5">Show me</button>
                                </div>

                            </div> 

                        </div>

                        <div class="graphic-column2 flex-general-column-wrapper-center">
                            <div class="demo-product-wrap flex-general-column-wrapper-center">
                                <img src="/images/devices.png" class="demo-product">
                            </div>
                        </div>                        

                        <div class="graphic-column3 flex-general-column-wrapper-center">

                            <div class="demo-explain flex-general-column-wrapper-center">

                                <div  class="demo-main-heading flex-general-column-wrapper-center">
                                    <p style="font-size:32px;"> Todos cambio2</p>
                                </div>

                                <div class="demo-sub-heading flex-general-column-wrapper-center" style="">
                                    <span style="font-size:25px;font-weight: 100;color:#333;"> The best payment flow </span>
                                    <span  style="font-size:25px;font-weight: 100;margin-top: -5px;color:#333;"> on web and mobile</span>
                                </div>

                                <div class="flex-general-column-wrapper-center">
                                    <button class="start-demo4">Show me</button>
                                </div>

                            </div> 

                        </div>
                    </div>

                    <div class="graphic-row3">
                        <!--Row3-->
                    </div>

                </div>
            </section>
            <!--/Section4-->

            <!--Section5-->
            <section class="animsec5">
                <div class="">

                    <div class="graphic-row1">
                        <div class="graphic-column1 flex-general-column-wrapper-center">

                            <div class="demo-explain flex-general-column-wrapper-center">                             

                                <div class="demo-sub-heading flex-general-column-wrapper-center" style="">
                                    <span style="font-size:25px;font-weight: 100;color:#333;"> The best payment flow </span>                                   
                                </div>

                            </div> 

                        </div>
                    </div>

                    <div class="graphic-row2 flex-general-row-wrapper">                        

                        <div class="graphic-column1 flex-general-column-wrapper-center">

                            <div class="demo-explain flex-general-column-wrapper-center">

                                <div  class="demo-main-heading flex-general-column-wrapper-center">
                                    <p style="font-size:32px;"> Todos cambio2</p>
                                </div>

                                <div class="demo-sub-heading flex-general-column-wrapper-center" style="">
                                    <span style="font-size:25px;font-weight: 100;color:#333;"> The best payment flow </span>
                                    <span  style="font-size:25px;font-weight: 100;margin-top: -5px;color:#333;"> on web and mobile</span>
                                </div>

                                <div class="flex-general-column-wrapper-center">
                                    <button class="start-demo3">Show me</button>
                                </div>

                            </div> 

                        </div>

                        <div class="graphic-column2 flex-general-column-wrapper-center">
                            <div class="demo-product-wrap flex-general-column-wrapper-center">
                                <img src="/images/devices.png" class="demo-product">
                            </div>
                        </div>                        

                        <div class="graphic-column3 flex-general-column-wrapper-center">

                            <div class="demo-explain flex-general-column-wrapper-center">

                                <div  class="demo-main-heading flex-general-column-wrapper-center">
                                    <p style="font-size:32px;"> Todos cambio2</p>
                                </div>

                                <div class="demo-sub-heading flex-general-column-wrapper-center" style="">
                                    <span style="font-size:25px;font-weight: 100;color:#333;"> The best payment flow </span>
                                    <span  style="font-size:25px;font-weight: 100;margin-top: -5px;color:#333;"> on web and mobile</span>
                                </div>

                                <div class="flex-general-column-wrapper-center">
                                    <button class="start-demo2">Show me</button>
                                </div>

                            </div> 

                        </div>
                    </div>

                    <div class="graphic-row3">
                        <!--Row3-->
                    </div>

                </div>
            </section>
            <!--/Section5-->

        </div>
    </div>
</div>