<div class="container">
    <div class="trending-wrapper">
        <div>
            <!--Section1-->
            <section class="animsec1">
                <div class="">

                    <div class="graphic-row1">
                    </div>

                    <div class="graphic-row2 flex-general-row-wrapper">
                        <div class="graphic-column1 flex-general-column-wrapper-center">

                            <div class="demo-explain flex-general-column-wrapper-center">

                                <div  class="demo-main-heading flex-general-column-wrapper-center">
                                    <p style="font-size:32px;"> One API for all your needs</p>
                                </div>

                                <div class="demo-sub-heading flex-general-column-wrapper-center" style="">
                                    <span style="font-size:25px;font-weight: 100;color:#333;"> The best payment flow </span>
                                    <span  style="font-size:25px;font-weight: 100;margin-top: -5px;color:#333;"> on web and mobile</span>
                                </div>

                                <div class="flex-general-column-wrapper-center">
                                    <button id="start-demo">Show me</button>
                                </div>

                            </div> 

                        </div>

                        <div class="graphic-column2 flex-general-column-wrapper-center">
                            <div class="demo-product-wrap flex-general-column-wrapper-center">
                                <img src="/images/devices.png" class="demo-product">
                            </div>
                        </div>

                        <div class="graphic-column3 flex-general-column-wrapper-center">                            
                        </div>
                    </div>

                    <div class="graphic-row3">
                    </div>

                </div>
            </section>
            <!--/Section1-->

            <!--Section2-->
            <section class="animsec2">
                <div class="">

                    <div class="graphic-row1">
                    </div>

                    <div class="graphic-row2 flex-general-row-wrapper">

                        <div class="graphic-column1 flex-general-column-wrapper-center">
                            <div class="demo-product-wrap flex-general-column-wrapper-center">
                                <img src="/images/devices.png" class="demo-product">
                            </div>
                        </div>

                        <div class="graphic-column2 flex-general-column-wrapper-center">

                            <div class="demo-explain flex-general-column-wrapper-center">

                                <div  class="demo-main-heading flex-general-column-wrapper-center">
                                    <p style="font-size:20px;"> One API for all your needs</p>
                                </div>

                                <div class="demo-sub-heading flex-general-column-wrapper-center" style="">
                                    <span style="font-size:25px;font-weight: 100;color:#333;"> The best payment flow </span>
                                    <span  style="font-size:25px;font-weight: 100;margin-top: -5px;color:#333;"> on web and mobile</span>
                                </div>
                            </div> 

                        </div>                       

                        <div class="graphic-column3 flex-general-column-wrapper-center">                           
                        </div>
                    </div>

                    <div class="graphic-row3">
                    </div>

                </div>
            </section>
            <!--/Section2-->
        </div>
    </div>
</div>