<div class="container trending-container" style="margin-top:-30px">
    <div class="trending-wrapper">
        <div class="trending-slides cf">
            <!--Section1-->
            <section class="animsec1">
                <div class="">

                    <div class="graphic-row1">
                        <!--Row1-->
                    </div>

                    <div class="graphic-row2 flex-general-row-wrapper">
                        <div class="graphic-column1 flex-general-column-wrapper-center">

                            <div class="demo-explain flex-general-column-wrapper-center">

                                <div  class="demo-main-heading flex-general-column-wrapper-center">
                                    <p class="open-line1" style="color:white; font-family:font-family: 'Signika', sans-serif;font-weight:700;">
                                        <span style="font-weight:100;">One </span>
                                        Complete Platform
                                        <span style="font-weight:100;">to build your </span>
                                    </p>
                                    <p class="open-line2" style="color:white;margin-top:-26px;font-weight:100;">
                                        app in <span>half less time.</span>
                                    </p>
                                </div>

                                <div class="demo-sub-heading flex-general-column-wrapper-center" style="color:white;width:100%;">
                                    <div class="flex-general-row-wrapper" style="width:100%;">
                                        <div style="width:33%;margin-left:1%">
                                            <p class="allfeatures" style="font-weight: 100;font-family: sans-serif;">
                                                <span><i class="fa fa-database"></i>&nbsp;STORAGE</span>
                                            </p>
                                             <p class="allfeatures" style="font-weight: 100;margin-top:-10px;font-family: sans-serif;;margin-left:-1px;">
                                                <span><i class="fa fa-envelope"></i>&nbsp;EMAILS</span>
                                            </p>
                                        </div>

                                        <div style="width:30%">
                                            <p class="allfeatures" style="font-weight: 100;font-family: sans-serif;">
                                                <span><i class="fa fa-search"></i>&nbsp;SEARCH</span>
                                            </p>
                                             <p class="allfeatures" style="font-weight: 100;font-family: sans-serif;margin-top:-10px;margin-left:-1px;">
                                                <span><i class="fa fa-bell"></i>&nbsp;
                                                    <span style="margin-left:-2px;">NOTIFICATIONS</span>
                                                </span>
                                            </p>
                                        </div>

                                        <div style="width:35.33%">
                                            <p class="allfeatures" style="font-weight: 100;font-family: sans-serif;">
                                                <span><i class="fa fa-comment"></i>&nbsp;REALTIME</span>
                                            </p>
                                             <p class="allfeatures" style="font-weight: 100;margin-top:-10px;font-family: sans-serif;">
                                                <span><i class="fa fa-refresh"></i>&nbsp;OFFLINE SYNC</span>
                                            </p>
                                        </div>
                                    </div>

                                </div>

                                <div class="demo-start-btn flex-general-column-wrapper-center">
                                    <button type="button" class="start-demo">Show me &nbsp;<i class="fa fa-angle-right bounce-arrow" style="font-size:18px;"></i></button>
                                </div>

                            </div>

                        </div>

                        <div class="graphic-column2 flex-general-column-wrapper-center">
                            <div class="demo-product-wrap flex-general-column-wrapper-center">

                                <!--Desktop-->
                                <div class="big-desktop-wrap flex-general-column-wrapper-center">
                                    <div class="big-desktop">
                                        <div class="big-deskscreen flex-general-column-wrapper-center">
                                            <div class="big-deskscreen-inn">
                                                <img src="/images/monitor2.jpg">
                                            </div>
                                        </div>
                                        <div class="big-desktail flex-general-column-wrapper-center">
                                            <div class="big-desktail-part1 flex-general-column-wrapper-center">
                                                <div style="height:10px;width:10px; border-radius:25px;background-color:rgba(0, 0, 0, 0.38);">
                                                </div>
                                            </div>
                                            <div class="big-desktail-part2">
                                            </div>
                                            <div class="big-desktail-part3">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--/Desktop-->

                                <!--Laptop-->
                                <div class="laptop-wrap">
                                    <div class="laptop flex-general-column-wrapper-center">

                                        <div class="laptop-spl flex-general-column-wrapper-center">
                                            <div class="laptop-head flex-general-column-wrapper-center">
                                                <div style="height:3px;width:3px; border-radius:25px;background-color:#ccc;">
                                                </div>
                                            </div>
                                            <div class="laptop-screen flex-general-column-wrapper-center">
                                                <div class="laptop-inn">
                                                    <img src="/images/monitor2.jpg">
                                                </div>
                                            </div>
                                        </div>

                                        <div style="margin-top:-2px;" class="laptop-tail">
                                        </div>
                                    </div>

                                </div>
                                <!--/Laptop-->

                                <!--BigTab-->
                                <div class="bigtab-wrap">
                                    <div class="bigtab flex-general-column-wrapper-center">

                                        <div class="bigtab-head flex-general-column-wrapper-center">
                                            <div class="cf">
                                                <div class="pull-left" style="height:2px;width:2px;background-color:#ccc;">
                                                </div>
                                                <div class="pull-left" style="margin-left:2px; height:2px;width:6px;background-color:#ccc;">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="bigtab-screen flex-general-column-wrapper-center">
                                            <div class="bigtab-inn">
                                                <img src="/images/bigtab2.jpg">
                                            </div>
                                        </div>
                                        <div class="bigtab-tail flex-general-column-wrapper-center">
                                            <div style="height:6px;width:6px;background-color:#ccc;border-radius:25px;">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!--/BigTab-->

                                <!--SmallTab-->
                                <div class="smalltab-wrap">
                                    <div class="smalltab flex-general-column-wrapper-center">

                                        <div class="smalltab-head flex-general-column-wrapper-center">
                                            <div class="cf">
                                                <div class="pull-left" style="height:2px;width:2px;background-color:#ccc;">
                                                </div>
                                                <div class="pull-left" style="margin-left:2px; height:2px;width:6px;background-color:#ccc;">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="smalltab-screen flex-general-column-wrapper-center">
                                            <div class="smalltab-inn">
                                                <img src="/images/smalltab2.jpg">
                                            </div>
                                        </div>
                                        <div class="smalltab-tail flex-general-column-wrapper-center">
                                            <div style="height:6px;width:6px;background-color:#ccc;border-radius:25px;">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!--/SmallTab-->

                                <!--Mobile-->
                                <div class="mobile-wrap">
                                    <div class="mobile flex-general-column-wrapper-center">

                                        <div class="mobile-head flex-general-column-wrapper-center">
                                            <div class="cf">
                                                <div class="mbl-head-features-point1 pull-left">
                                                </div>
                                                <div class="pull-left mbl-head-features-point2">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mobile-screen  flex-general-column-wrapper-center">
                                            <div class="mobile-screen-inn">

                                                <!--mbl-slide0-->
                                                <div class="mbl-slide0  flex-general-column-wrapper-center">
                                                 <img src="/images/mobile2.jpg" style="width:100%;height:100%;">
                                                </div>
                                                <!--/mbl-slide0-->

                                                <!--mbl-slide1-->
                                                <div class="mbl-slide1">
                                                    <div class="mbl-app-header-defaults flex-general-row-wrapper">
                                                        <div class="mbl-defaults-left" style="padding-left: 8px;">
                                                            <div style="color:white;font-size:10px;margin-top:-1.4px;">
                                                                <span><i class="fa fa-signal"></i></span>
                                                                <span style="color:white;font-size:10px;margin-left:2px;">AT&T</span>
                                                            </div>
                                                        </div>

                                                        <div class="mbl-defaults-center flex-general-column-wrapper-center">
                                                            <span style="color:white;font-size:10px;">12:00 PM</span>
                                                        </div>

                                                        <div class="mbl-defaults-right flex-general-row-wrapper" margin-right:4px;>
                                                            <div style="margin-top:-7px;">
                                                                <span style="color:white;font-size:10px;">100%</span>
                                                            </div>

                                                            <div class="flex-general-row-wrapper" style="margin-top:1.4px;margin-left:3px;">
                                                                <div style="height:9px;width:21px;border:1px solid white;">
                                                                    <div style="height:5px;width:17px;margin:1px;background-color:white;">
                                                                    </div>
                                                                </div>

                                                                <div class="flex-general-column-wrapper-center" style="width:7px;height:8px;margin-left:-3px;">
                                                                    <div style="height:5px;width:3px; background-color:white;">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="mbl-app-header demo-app-color-bg flex-general-row-wrapper">
                                                        <div class="mbl-app-head-logo flex-general-column-wrapper-center">
                                                            <img src="/images/newapplogo.jpg">
                                                        </div>
                                                        <div class="mbl-app-head-features">
                                                            <div class="mbl-app-notify-icon">
                                                                <i class="fa fa-bell"></i>
                                                            </div>
                                                            <div class="mbl-app-notify-bubble flex-general-column-wrapper-center">
                                                                <span>2</span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!--Search-->
                                                    <div class="mbl-app-search flex-general-row-wrapper">
                                                       <div class="mbl-app-searchin-wrap flex-general-row-wrapper">
                                                            <div class="search-icon">
                                                                <i class="fa fa-search mbl-search-default"></i>
                                                            </div>

                                                            <div class="search-input">
                                                                <div class="inputlike">
                                                                    <p>Search people near by</p>
                                                                </div>
                                                            </div>
                                                       </div>
                                                    </div>
                                                    <!--/Search-->

                                                    <div class="mbl-app-content">
                                                        <div class="mbl-app-content-wrap2">

                                                            <!--Card-->
                                                            <div class="coverpage-box">
                                                                <div class="coverpage-wrap">
                                                                    <div class="coverpage-box-img">
                                                                        <div class="big-rect-profile">
                                                                            <img src="/images/cover2.jpg">
                                                                        </div>
                                                                        <div class="small-round-profile">
                                                                            <img src="/images/profilepic1.png">
                                                                        </div>
                                                                        <div class="cover-big-name">
                                                                            <span>Matt</span>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="coverpage-box-det">
                                                                    <div class="coverpage-each-det">
                                                                        <span style="color:#333;font-size:12px;margin-left:2px;">
                                                                            <i class="fa fa-map-marker"></i>
                                                                        </span>
                                                                        <span style="color:gray;font-size:10px;">5KM away</span>
                                                                    </div>
                                                                    <div class="coverpage-each-det" style="margin-top:-7px;">
                                                                        <span style="color:#333;font-size:10px;">
                                                                            <i class="fa fa-heart"></i>
                                                                        </span>
                                                                        <span style="color:gray;;font-size:10px;">Hiking</span>
                                                                    </div>

                                                                    <div class="coverpage-small-descri" style="margin-top:2px;">
                                                                        <p style="color:#333;font-size:10px;font-weight:bold;">
                                                                            ABOUT
                                                                        </p>
                                                                        <p style="color:gray;font-size:10px;margin-top:-18px;">
                                                                            Hiking, backpacking, camping, trekking, and outdoor adventure!
                                                                        </p>

                                                                    </div>

                                                                </div>
                                                            </div>
                                                            <!--/Card-->

                                                           <!--Card-->
                                                            <div class="coverpage-box">
                                                                <div class="coverpage-wrap">
                                                                    <div class="coverpage-box-img">
                                                                        <div class="big-rect-profile">
                                                                            <img src="/images/cover4.png">
                                                                        </div>
                                                                        <div class="small-round-profile">
                                                                            <img src="/images/smallcover1.jpg">
                                                                        </div>
                                                                        <div class="cover-big-name">
                                                                            <span>Natalie</span>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="coverpage-box-det">
                                                                    <div class="coverpage-each-det">
                                                                        <span style="color:#333;font-size:12px;margin-left:2px;">
                                                                            <i class="fa fa-map-marker"></i>
                                                                        </span>
                                                                        <span style="color:gray;font-size:10px;">5KM away</span>
                                                                    </div>
                                                                    <div class="coverpage-each-det" style="margin-top:-7px;">
                                                                        <span style="color:#333;font-size:10px;">
                                                                            <i class="fa fa-heart"></i>
                                                                        </span>
                                                                        <span style="color:gray;;font-size:10px;">Guitar</span>
                                                                    </div>

                                                                    <div class="coverpage-small-descri" style="margin-top:2px;">
                                                                        <p style="color:#333;font-size:10px;font-weight:bold;">
                                                                            ABOUT
                                                                        </p>
                                                                        <p style="color:gray;font-size:10px;margin-top:-18px;">
                                                                            Guitar Enthusias - Pursuing My Passion for Guitar
                                                                        </p>

                                                                    </div>

                                                                </div>
                                                            </div>
                                                            <!--/Card-->

                                                            <!--Card-->
                                                            <div class="coverpage-box" style="margin-top:12px;">
                                                                <div class="coverpage-wrap">
                                                                    <div class="coverpage-box-img">
                                                                        <div class="big-rect-profile">
                                                                            <img src="/images/cover5.jpg">
                                                                        </div>
                                                                        <div class="small-round-profile">
                                                                            <img src="/images/people1.png">
                                                                        </div>
                                                                        <div class="cover-big-name">
                                                                            <span>Valentina</span>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="coverpage-box-det">
                                                                    <div class="coverpage-each-det">
                                                                        <span style="color:#333;font-size:12px;margin-left:2px;">
                                                                            <i class="fa fa-map-marker"></i>
                                                                        </span>
                                                                        <span style="color:gray;font-size:10px;">7KM away</span>
                                                                    </div>
                                                                    <div class="coverpage-each-det" style="margin-top:-7px;">
                                                                        <span style="color:#333;font-size:10px;">
                                                                            <i class="fa fa-heart"></i>
                                                                        </span>
                                                                        <span style="color:gray;;font-size:10px;">Modeling</span>
                                                                    </div>

                                                                    <div class="coverpage-small-descri" style="margin-top:2px;">
                                                                        <p style="color:#333;font-size:10px;font-weight:bold;">
                                                                            ABOUT
                                                                        </p>
                                                                        <p style="color:gray;font-size:10px;margin-top:-18px;">
                                                                            I am an Western model based in Dublin
                                                                        </p>

                                                                    </div>

                                                                </div>
                                                            </div>
                                                            <!--/Card-->
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/mbl-slide1-->

                                               <!--mbl-slide2-->
                                                <div class="mbl-slide2">
                                                    <div class="mbl-app-header-defaults flex-general-row-wrapper">
                                                    </div>
                                                    <div class="mbl-app-header demo-app-color-bg flex-general-row-wrapper">
                                                    </div>

                                                    <!--Search-->
                                                    <div class="mbl-app-search flex-general-row-wrapper">
                                                       <div class="mbl-app-searchin-wrap flex-general-row-wrapper">
                                                            <div class="search-icon">
                                                                <div class="searchicon-mode1">
                                                                    <i class="fa fa-search"></i>
                                                                </div>

                                                                <div class="searchspinner">
                                                                    <img src="/images/app-spinner.gif">
                                                                </div>

                                                            </div>

                                                            <div class="search-input">
                                                                <div class="inputlike">
                                                                    <p>People who like travelling</p>
                                                                </div>
                                                            </div>

                                                       </div>
                                                    </div>

                                                    <div class="mbl-app-content">
                                                        <div class="mbl-app-content-wrap2">
                                                             <!--Card-->
                                                            <div class="coverpage-box" style="margin-top:1px;">
                                                                <div class="coverpage-wrap">
                                                                    <div class="coverpage-box-img">
                                                                        <div class="big-rect-profile">
                                                                            <img src="/images/cover1.jpg">
                                                                        </div>
                                                                        <div class="small-round-profile">
                                                                            <img src="/images/smallcover2.jpg">
                                                                        </div>
                                                                        <div class="cover-big-name">
                                                                            <span>Sophia</span>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="coverpage-box-det">
                                                                    <div class="coverpage-each-det">
                                                                        <span style="color:#333;font-size:12px;margin-left:2px;">
                                                                            <i class="fa fa-map-marker"></i>
                                                                        </span>
                                                                        <span style="color:gray;font-size:10px;">1.3KM away</span>
                                                                    </div>
                                                                    <div class="coverpage-each-det" style="margin-top:-7px;">
                                                                        <span style="color:#333;font-size:10px;">
                                                                            <i class="fa fa-heart"></i>
                                                                        </span>
                                                                        <span style="color:gray;;font-size:10px;">Travelling</span>
                                                                    </div>

                                                                    <div class="coverpage-small-descri" style="margin-top:2px;">
                                                                        <p style="color:#333;font-size:10px;font-weight:bold;">
                                                                            ABOUT
                                                                        </p>
                                                                        <p style="color:gray;font-size:10px;margin-top:-18px;">
                                                                            I like long walks on the beach...and then to be dragged through the sand
                                                                        </p>

                                                                    </div>

                                                                </div>
                                                            </div>
                                                            <!--/Card-->

                                                            <!--Card-->
                                                            <div class="coverpage-box" style="margin-top:12px;">
                                                                <div class="coverpage-wrap">
                                                                    <div class="coverpage-box-img">
                                                                        <div class="big-rect-profile">
                                                                            <img src="/images/cover3.jpg">
                                                                        </div>
                                                                        <div class="small-round-profile">
                                                                            <img src="/images/smallcover3.jpg">
                                                                        </div>
                                                                        <div class="cover-big-name">
                                                                            <span>Emily</span>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="coverpage-box-det">
                                                                    <div class="coverpage-each-det">
                                                                        <span style="color:#333;font-size:12px;margin-left:2px;">
                                                                            <i class="fa fa-map-marker"></i>
                                                                        </span>
                                                                        <span style="color:gray;font-size:10px;">1.3KM away</span>
                                                                    </div>
                                                                    <div class="coverpage-each-det" style="margin-top:-7px;">
                                                                        <span style="color:#333;font-size:10px;">
                                                                            <i class="fa fa-heart"></i>
                                                                        </span>
                                                                        <span style="color:gray;;font-size:10px;">Para Gliding</span>
                                                                    </div>

                                                                    <div class="coverpage-small-descri" style="margin-top:2px;">
                                                                        <p style="color:#333;font-size:10px;font-weight:bold;">
                                                                            ABOUT
                                                                        </p>
                                                                        <p style="color:gray;font-size:10px;margin-top:-18px;">
                                                                            Feel the freedom! All news about paragliding
                                                                        </p>

                                                                    </div>

                                                                </div>
                                                            </div>
                                                            <!--/Card-->

                                                            <!--Card-->
                                                            <div class="coverpage-box" style="margin-top:12px;">
                                                                <div class="coverpage-wrap">
                                                                    <div class="coverpage-box-img">
                                                                        <div class="big-rect-profile">
                                                                            <img src="/images/cover6.jpg">
                                                                        </div>
                                                                        <div class="small-round-profile">
                                                                            <img src="/images/smallcover2.jpg">
                                                                        </div>
                                                                        <div class="cover-big-name">
                                                                            <span>Jolly</span>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="coverpage-box-det">
                                                                    <div class="coverpage-each-det">
                                                                        <span style="color:#333;font-size:12px;margin-left:2px;">
                                                                            <i class="fa fa-map-marker"></i>
                                                                        </span>
                                                                        <span style="color:gray;font-size:10px;">1.3KM away</span>
                                                                    </div>
                                                                    <div class="coverpage-each-det" style="margin-top:-7px;">
                                                                        <span style="color:#333;font-size:10px;">
                                                                            <i class="fa fa-heart"></i>
                                                                        </span>
                                                                        <span style="color:gray;;font-size:10px;">Guitar</span>
                                                                    </div>

                                                                    <div class="coverpage-small-descri" style="margin-top:2px;">
                                                                        <p style="color:#333;font-size:10px;font-weight:bold;">
                                                                            ABOUT
                                                                        </p>
                                                                        <p style="color:gray;font-size:10px;margin-top:-18px;">
                                                                            Music is the outlet of our emotions,love playing guitar.
                                                                        </p>

                                                                    </div>

                                                                </div>
                                                            </div>
                                                            <!--/Card-->
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/mbl-slide2-->

                                                <!--mbl-slide3-->
                                                <div class="mbl-slide3">
                                                    <div class="mbl-app-header-defaults flex-general-row-wrapper">
                                                    </div>

                                                    <div class="mbl-app-header demo-app-color-bg flex-general-row-wrapper">
                                                        <div class="mbl-app-head-logo flex-general-column-wrapper-center">
                                                            <img src="/images/newapplogo.jpg">
                                                        </div>
                                                        <div class="mbl-app-head-features">

                                                            <div class="mbl-app-notify-icon">
                                                                <i class="fa fa-bell"></i>
                                                            </div>
                                                            <div class="mbl-app-notify-bubble flex-general-column-wrapper-center">
                                                                <span>2</span>
                                                            </div>

                                                        </div>
                                                    </div>

                                                    <div class="mbl-app-content">
                                                        <!--Notification-->
                                                        <div class="notification-box">
                                                            <!--Datewise-->
                                                            <div class="datewise">
                                                                <div class="date">
                                                                    <span>Today</span>
                                                                </div>
                                                                <div class="each-notify-bx flex-general-row-wrapper">
                                                                    <div class="notify-type">
                                                                        <img src="/images/mbl-notify-icon.png">
                                                                    </div>
                                                                    <div class="notify-info">
                                                                        <p>
                                                                            <span class="name">Kaylee</span>
                                                                                is following you
                                                                            <span class="time">7:30 am</span>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                 <div class="each-notify-bx flex-general-row-wrapper">
                                                                    <div class="notify-type">
                                                                        <img src="/images/mbl-notify-icon.png">
                                                                    </div>
                                                                    <div class="notify-info">
                                                                        <p>
                                                                            <span class="name">Natalie</span>
                                                                             unfollowed you
                                                                            <span class="time">5:12 pm</span>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="each-notify-bx flex-general-row-wrapper">
                                                                    <div class="notify-type">
                                                                        <img src="/images/mbl-notify-icon.png">
                                                                    </div>
                                                                    <div class="notify-info">
                                                                        <p>
                                                                            <span class="name">Sophia</span>
                                                                                liked your status
                                                                            <span class="time">10:45 am</span>
                                                                        </p>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <!--/Datewise-->

                                                              <!--Datewise-->
                                                            <div class="datewise">
                                                                <div class="date">
                                                                    <span>Yesterday</span>
                                                                </div>
                                                                <div class="each-notify-bx flex-general-row-wrapper">
                                                                    <div class="notify-type">
                                                                        <img src="/images/mbl-notify-icon.png">
                                                                    </div>
                                                                    <div class="notify-info">
                                                                        <p>
                                                                            <span class="name">Matt</span>
                                                                                poked you
                                                                            <span class="time">9:00 am</span>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                 <div class="each-notify-bx flex-general-row-wrapper">
                                                                    <div class="notify-type">
                                                                        <img src="/images/mbl-notify-icon.png">
                                                                    </div>
                                                                    <div class="notify-info">
                                                                        <p>
                                                                            <span class="name">Amelia</span>
                                                                                shared a photo
                                                                            <span class="time">8:30 pm</span>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="each-notify-bx flex-general-row-wrapper">
                                                                    <div class="notify-type">
                                                                        <img src="/images/mbl-notify-icon.png">
                                                                    </div>
                                                                    <div class="notify-info">
                                                                        <p>
                                                                            <span class="name">Andrew</span>
                                                                                changed his status
                                                                            <span class="time">7:10 pm</span>
                                                                        </p>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <!--/Datewise-->

                                                             <!--Datewise-->
                                                            <div class="datewise">
                                                                <div class="date">
                                                                    <span>Monday</span>
                                                                </div>
                                                                <div class="each-notify-bx flex-general-row-wrapper">
                                                                    <div class="notify-type">
                                                                        <img src="/images/mbl-notify-icon.png">
                                                                    </div>
                                                                    <div class="notify-info">
                                                                        <p>
                                                                            <span class="name">Immanuel</span>
                                                                                is following you
                                                                            <span class="time">1:00 pm</span>
                                                                        </p>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <!--/Datewise-->

                                                        </div>
                                                    <!--/Notification-->

                                                    </div>
                                                </div>
                                                <!--/mbl-slide3-->

                                                <!--mbl-slide4-->
                                                <div class="mbl-slide4">
                                                    <div class="mbl-app-content">
                                                        <!--Data transfer-->
                                                        <div class="data-trans-wrap">
                                                            <!--<img class="rollingimg1" src="/images/metro-image.png">
                                                            <img class="rollingimg2" src="/images/metro-music.png">
                                                            <img class="rollingimg3" src="/images/metro-movie.png">
                                                            <img class="rollingimg4" src="/images/metro-folder.png">-->
                                                        </div>
                                                        <!--/Data transfer-->
                                                    </div>
                                                </div>
                                                <!--/mbl-slide4-->

                                            </div>
                                        </div>
                                        <div class="mobile-tail flex-general-column-wrapper-center">
                                            <div class="mbl-tail-features">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!--/Mobile-->

                            </div>
                        </div>

                        <div class="graphic-column3 flex-general-column-wrapper-center">
                            <!--Column3-->
                        </div>

                        <div class="graphic-column4 flex-general-column-wrapper-center">
                            <!--Column4-->
                        </div>

                    </div>

                    <div class="graphic-row3">
                        <!--Row3-->
                    </div>

                </div>
            </section>
            <!--/Section1-->

            <!--Section2-->
            <section class="animsec2">
                <div class="">

                    <div class="graphic-row1">
                        <!--Row1-->
                    </div>

                    <div class="graphic-row2 flex-general-row-wrapper">

                        <div class="graphic-column1 flex-general-column-wrapper-center">
                            <div class="demo-explain flex-general-column-wrapper-center">

                                <div  class="demo-main-heading">
                                    <p class="searchex-main1" style="font-weight:100;">Build Powerful</p>
                                    <p class="searchex-main2" style="font-weight:100;margin-top:-24px;">Search Experiences.</p>
                                </div>

                                <div  class="demo-sub-heading" style="width:100%">
                                    <p style="font-size:20px;font-weight:100;opacity:0.8;">
                                    It's like having search engine
                                    </p>
                                    <p style="font-size:20px;font-weight:100;margin-top:-18px;opacity:0.8;">
                                    in your app in seconds.
                                    </p>
                                </div>

                            </div>
                        </div>

                        <div class="graphic-column2 flex-general-column-wrapper-center">
                            <!--Column2-->
                        </div>

                        <div class="graphic-column3 flex-general-column-wrapper-center">
                            <div class="demo-explain2 flex-general-column-wrapper-center">

                                <div class="demo-main-heading2" style="">
                                    <div class="flex-general-row-wrapper searchfeature1">
                                        <span class="round-search-features flex-general-column-wrapper-center">
                                            <i class="fa fa-bolt"></i>
                                        </span>
                                        <p style="font-size:17px;color:white;">
                                            Find at the speed of thought.
                                        </p>
                                    </div>

                                    <div class="flex-general-row-wrapper searchfeature2" style="margin-top:-11px;">
                                        <span class="round-search-features flex-general-column-wrapper-center">
                                            <i class="fa fa-font"></i>
                                        </span>
                                        <p style="font-size:17px;color:white;">
                                            Search through typos.
                                        </p>
                                    </div>

                                    <div class="flex-general-row-wrapper searchfeature3" style="margin-top:-11px;">
                                        <span class="round-search-features flex-general-column-wrapper-center">
                                            <i class="fa fa-strikethrough"></i>
                                        </span>
                                        <p style="font-size:17px;color:white;">
                                            Search with synonyms.
                                        </p>
                                    </div>

                                    <div class="flex-general-row-wrapper searchfeature4" style="margin-top:-11px;">
                                        <span class="round-search-features flex-general-column-wrapper-center">
                                            <i class="fa fa-globe"></i>
                                        </span>
                                        <p style="font-size:17px;color:white;">
                                            Geo location search.
                                        </p>
                                    </div>

                                    <div class="flex-general-row-wrapper searchfeature5" style="margin-top:-11px;">
                                        <span class="round-search-features flex-general-column-wrapper-center">
                                            <i class="fa fa-text-height"></i>
                                        </span>
                                        <p style="font-size:17px;color:white;">
                                            Autocomplete.
                                        </p>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="graphic-row3">
                        <!--Row3-->
                    </div>

                    <div class="graphic-column4 flex-general-column-wrapper-center">
                        <!--Column4-->
                    </div>

                </div>
            </section>
            <!--/Section2-->


            <!--Section3-->
            <section class="animsec3">
                <div class="">

                    <div class="graphic-row1">
                        <!--Row1-->
                    </div>

                    <div class="graphic-row2 flex-general-row-wrapper">

                        <div class="graphic-column1 flex-general-column-wrapper-center">
                            <div class="demo-explain flex-general-column-wrapper-center">

                                <div  class="demo-main-heading flex-general-column-wrapper-center">
                                    <p>
                                        <i class="icon ion-chatbubble-working" style="color:white;font-size:70px;"></i>
                                    </p>
                                </div>

                                <div  class="demo-sub-heading flex-general-column-wrapper-center" style="margin-top:-20px;">
                                    <p class="realtime-intro1" style="color:white;font-size:36px;font-weight:500;">Real Time Apps</p>
                                    <p class="realtime-intro2" style="font-weight:100;margin-top:-24px;">made simple and effortless.</p>
                                </div>

                            </div>
                        </div>

                        <div class="graphic-column2 flex-general-column-wrapper-center">
                            <!--Column2-->
                        </div>

                        <div class="graphic-column3">
                            <div class="demo-explain2" style="width:100%;">

                                <div  class="demo-main-heading2" style="margin-top:70%;">

                                    <p style="color:white;font-weight:100;line-height:30px;margin-left:16px;" class="relatime-main">Build realtime apps with</p>

                                    <div style="font-size:34px;color:white;font-weight: 400;line-height:30px;margin-top:-10px;margin-left:5px;" class="flex-general-column-wrapper-center">

                                        <div style="margin-left:10px;margin-top:5px;padding-left:10px;padding-right:10px;height:45px;border-radius:3px;font-size:28px !important;font-weight:100;" class="realtime-feature-wrap">

                                            <div class="relatime-feat1 flex-general-column-wrapper-center" style="padding:0;margin:0;color:white;">
                                                <p style="border-radius:3px;padding-left:6px;padding-right:6px;">Data Streams</p>
                                            </div>

                                            <div class="relatime-feat2 flex-general-column-wrapper-center" style="padding:0;margin:0;color:white;">
                                                <p style="border-radius:3px;padding-left:6px;padding-right:6px;">Pub / Sub</p>
                                            </div>

                                            <div class="relatime-feat3 flex-general-column-wrapper-center" style="padding:0;margin:0;color:white;">
                                                <p style="border-radius:3px;padding-left:6px;padding-right:6px;">ACL and Security</p>
                                            </div>

                                        </div>

                                        <span class="dotyped" style="display:inline-block !important;width: auto !important;">
                                        </span>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="graphic-row3">
                        <!--Row3-->
                    </div>

                    <div class="graphic-column4 flex-general-column-wrapper-center">
                        <!--Column4-->
                    </div>

                </div>
            </section>
            <!--/Section3-->

            <!--Section4-->
            <section class="animsec4">
                <div class="">

                    <div class="graphic-row1">
                        <!--Row1-->
                    </div>

                    <div class="graphic-row2 flex-general-row-wrapper">

                        <div class="graphic-column1 flex-general-column-wrapper-center">
                            <!--Column1-->
                        </div>

                        <div class="graphic-column2 flex-general-column-wrapper-center">
                            <!--Column2-->

                            <div class="datatrans-head">
                                <div class="flex-general-column-wrapper-center main" style="margin-top:130px;">
                                    <p class="main" style="margin:0 auto;font-weight:100 !important">
                                    <span style="font-weight:500 !important;">Store</span> and <span style="font-weight:500 !important;"> Stream</span> videos, music,</p>
                                </div>

                                <div class="flex-general-column-wrapper-center sub" style="margin-top:-7px;">
                                    <p class="sub" style="margin:0 auto;font-weight:100 !important;">documents of <span style="font-weight:100 !important;">any size.</span></p>
                                </div>
                            </div>

                            <!--Data shooter-->
                            <div class="datatrans-body flex-general-row-wrapper" style="padding-top:5px;">
                            </div>
                            <!--/Data shooter-->

                            <div class="datatrans-tail">
                                <div class="flex-general-column-wrapper-center">
                                    <div class="flex-general-column-wrapper-center" style="margin-top:8px;">
                                        <span style="margin:0 auto;font-size:22px;font-weight:100;">Rock-Solid Platform. Unlimited Scalability.</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="graphic-column3">
                            <div class="server-bx-wrap">
                                <div class="server-racks">
                                    <div class="server-light-shape server-light1">
                                    </div>
                                </div>
                                <div class="server-racks" style="margin-top:15px;">
                                    <div class="server-light-shape server-light2">
                                    </div>
                                </div>
                                <div class="server-racks" style="margin-top:15px;">
                                    <div class="server-light-shape server-light3">
                                    </div>
                                </div>
                                <div class="server-racks" style="margin-top:15px;">
                                    <div class="server-light-shape server-light4">
                                    </div>
                                </div>
                                <div class="server-racks" style="margin-top:15px;">
                                    <div class="server-light-shape server-light5">
                                    </div>
                                </div>
                                <div class="server-racks" style="margin-top:15px;">
                                    <div class="server-light-shape server-light6">
                                    </div>
                                </div>
                                <div class="server-racks" style="margin-top:15px;">
                                    <div class="server-light-shape server-light7">
                                    </div>
                                </div>
                                <div class="server-racks" style="margin-top:15px;">
                                    <div class="server-light-shape server-light8">
                                    </div>
                                </div>
                                <div class="server-racks" style="margin-top:15px;">
                                    <div class="server-light-shape server-light9">
                                    </div>
                                </div>
                                <div class="server-racks" style="margin-top:15px;">
                                    <div class="server-light-shape server-light10">
                                    </div>
                                </div>
                                <div class="server-racks" style="margin-top:15px;">
                                    <div class="server-light-shape server-light11">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="graphic-column4 flex-general-column-wrapper-center">
                            <!--Column4-->
                        </div>
                    </div>

                    <div class="graphic-row3">
                        <!--Row3-->
                    </div>


                </div>
            </section>
            <!--/Section4-->

            <!--Section5-->
            <section class="animsec5">
                <div class="">

                    <div class="graphic-row1">
                        <div class="graphic-column1 flex-general-column-wrapper-center">

                            <div class="demo-explain flex-general-column-wrapper-center">

                                <div class="demo-main-heading flex-general-column-wrapper-center" style="">
                                    <div class="flex-general-row-wrapper">
                                        <span class="sent1" style="font-size:34px;font-weight: 100 !important;color:white;">...and that's not all.</span>
                                        <span class="sent2" style="font-size:34px;font-weight: 100;color:white;">There's a lot more. </span>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="graphic-row2 flex-general-row-wrapper">

                        <div class="graphic-column1 flex-general-column-wrapper-center">
                            <div class="flex-general-row-wrapper" style="width:78%;height:100%;">

                                <div class="more-functs funct1">
                                    <div class="funct-head flex-general-column-wrapper-center">
                                        <span style="color:white;font-weight:700;">QUEUES</span>
                                    </div>
                                    <div class="funct-body flex-general-column-wrapper-center">
                                        <img src="/images/queues2.png" style="height:100px;">
                                    </div>
                                </div>
                                <div class="more-functs funct2">
                                    <div class="funct-head flex-general-column-wrapper-center">
                                        <span style="color:white;font-weight:700;">CACHE</span>
                                    </div>
                                     <div class="funct-body flex-general-column-wrapper-center">
                                        <i class="fa fa-bolt" style="font-size:100px;color:white;"></i>
                                    </div>
                                </div>
                                <div class="more-functs funct3">
                                    <div class="funct-head flex-general-column-wrapper-center">
                                        <span style="color:white;font-weight:700;">OFFLINE SYNC</span>
                                    </div>
                                     <div class="funct-body flex-general-column-wrapper-center">
                                        <img src="/images/synchro2.png" style="height:84px;">
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="graphic-row3">
                        <!--Row3-->
                        <div class="demo-explain flex-general-column-wrapper-center">

                            <div class="head flex-general-column-wrapper-center" style="margin-top:12px;">
                                <span style="font-size:20px;font-weight: 100;color:white;"> Available in</span>
                            </div>

                            <div class="head flex-general-column-wrapper-center allfeauteres-box" style="margin-top:12px;">
                                <div style="width:100%;" class="allplatforms flex-general-column-wrapper-center">
                                    <div class="flex-general-row-wrapper">
                                        <div style="width:42px;" class="plat1">
                                            <i class="icon ion-social-javascript" style="color:white;font-size:32px;"></i>
                                        </div>
                                        <div style="width:42px" class="plat2">
                                            <i class="icon ion-social-windows" style="color:white;font-size:32px;"></i>
                                        </div>
                                        <div style="width:42px" class="plat3">
                                            <i class="icon ion-social-nodejs" style="color:white;font-size:32px;"></i>
                                        </div>
                                        <div style="width:42px" class="plat4">
                                            <img src="./images/javablack3.png" style="height:36px;">
                                        </div>
                                        <div style="width:42px" class="plat5">
                                            <i class="icon ion-social-android" style="color:white;font-size:34px;"></i>
                                        </div>

                                        <div style="width:10px" class="plat6" style="margin-left:10px;">
                                            <div style="position:relative !important;">
                                            <p style="position:absolute !important; top:-14px; color:white;font-size:46px;font-weight:100;">|</p>
                                            </div>
                                        </div>

                                        <div style="width:42px" class="plat7" style="">
                                            <img src="./images/docker3.png" style="height:45px;margin-left:14px;">
                                        </div>
                                        <div style="width:42px" class="plat8" style="">
                                            <img src="./images/Kubernetes.png" style="height:28px;margin-top:8px;margin-left:28px;">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="graphic-column4 flex-general-column-wrapper-center">
                        <!--Column4-->
                    </div>

                </div>
            </section>
            <!--/Section5-->
        </div>

        <!--<div class="latestnews flex-general-column-wrapper-center">
            <div class="newscontainer flex-general-row-wrapper">
                <div style="padding:5px;border-radius:5px;width:100px;height:22px;" class="flex-general-column-wrapper-center">
                    <span class="whatsnew-label" style="color:white;font-weight:500;"></span>
                </div>
                <div style="margin-left:3px;">
                    <p class="whatsnew-title" style="font-weight:100;">
                    </p>
                </div>
                <div style="">
                    <p style="font-weight:100;" class="whatsnewlink-wrap">
                        &nbsp;
                        <a class="whatsnewlink" href="" style="cursor:pointer;color:white;text-decoration:underline;font-weight:100;" target="_blank"></a>
                    </p>
                </div>

            </div>
        </div>-->
    </div>
</div>
