<!DOCTYPE html>
<html lang="en">
<head>
    <title>CloudBoost | Meet the mafia</title> 
    <base href="/">   
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="CloudBoost | Meet the mafia"/>
    <meta name="description" content="About us. Meet the HackerBay Mafia! ">
    <meta name="keywords" content="about cloudboost, cloudboost team, baas, backend as a service, database as a service, hybrid database, cloudboost, search, realtime, storage, app storage, signup, cloudboost">
    <meta name="fragment" content="!"/>  
    <!--common head links-->  
    <% include ./partials/commonHead %>
</head>

<body>

<!--header-->
<header id="header" class="header">
  <% include ./partials/header %>
</header>

<!--Content-->
<!--********************************************************************************************-->
    <div class="headline-bg about-headline-bg">
    </div><!--//headline-bg-->

    <!-- ******Video Section****** -->
    <section class="story-section section section-on-bg">
        <h2 class="title container text-center" style="font-family:Signika">Meet the <b>HackerBay Mafia!</b></h2>
        <div class="story-container container text-center">
            <div class="story-container-inner" >
                <div class="about">
                    <p>Visionaries, rebels, crazed inventors, hustlers, ambitious entrepreneurs, people who believe they can change the world…</p>

                    <p>What we promise: a tight team of the best minds, and people who dream everyday to change this world and make it a better place to live in. If you like what you see, we invite you to join us as we are hiring all year round to fuel our growth.</p>

                    <blockquote class="belife">"If something's important enough, you should try. 
Even if you - the probable outcome is failure." - Elon Musk</blockquote>
                </div><!--//about-->
                <div class="team row">
                    
                    <div class="member col-md-4 col-sm-6 col-xs-12">
                        <div class="member-inner">
                            <figure class="profile" style="margin:0px">
                                <img style="height:230px;" class="img-responsive" src="/images/team/member-1.png" alt="Nawaz Dhandala"/>
                                <figcaption class="info" style="margin:0px">
                                    <span class="name">Nawaz Dhandala</span>
                                    <br />
                                    <span class="job-title">Hustler</span>
                                </figcaption>
                            </figure><!--//profile-->
                            <div class="social">
                                <ul class="social-list list-inline" >
                                    <li><a href="http://in.linkedin.com/in/nawazdhandala"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="https://twitter.com/nawazdhandala"><i class="fa fa-twitter"></i></a></li>
                                </ul><!--//social-list-->
                            </div><!--//social-->
                        </div><!--//member-inner-->
                    </div><!--//member-->
                     <div class="member col-md-4 col-sm-6 col-xs-12">
                        <div class="member-inner">
                            <figure class="profile" style="margin:0px">
                                <img style="height:230px;" class="img-responsive" src="/images/team/member-3.png" alt=""/>
                                <figcaption class="info"><span class="name">Ravi Teja</span><br /><span class="job-title">UI Ninja</span></figcaption>
                            </figure><!--//profile-->
                            <div class="social">
                                <ul class="social-list list-inline">
                                    <li><a href="http://in.linkedin.com/pub/raviteja-bathula/85/717/1b7"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="https://twitter.com/SaurabTeznath"><i class="fa fa-twitter"></i></a></li>
                                </ul><!--//social-list-->
                            </div><!--//social-->
                        </div><!--//member-inner-->
                    </div><!--//member-->
                    <div class="member col-md-4 col-sm-6 col-xs-12">
                        <div class="member-inner">
                            <figure class="profile" style="margin:0px">
                                <img style="height:230px;" class="img-responsive" style="height:230px;" src="/images/people/vipul.jpg" alt=""/>
                                <figcaption class="info"><span class="name">Vipul Maheshwari</span><br /><span class="job-title">Hacker</span></figcaption>
                            </figure><!--//profile-->
                            <div class="social">
                                <ul class="social-list list-inline">
                                    <li><a href="https://in.linkedin.com/pub/vipul-maheshwari/6a/861/569"><i class="fa fa-linkedin"></i></a></li>
                                </ul><!--//social-list-->
                            </div><!--//social-->
                        </div><!--//member-inner-->
                    </div><!--//member-->
                     <div class="member col-md-4 col-sm-6 col-xs-12">
                        <div class="member-inner">
                            <figure class="profile" style="margin:0px">
                                <img style="height:230px;" class="img-responsive" src="/images/people/ranjeet.jpg" alt=""/>
                                <figcaption class="info"><span class="name">Ranjeet Kumar</span><br /><span class="job-title">Hacker</span></figcaption>
                            </figure><!--//profile-->
                            <div class="social">
                                <ul class="social-list list-inline">
                                    <li><a href="https://www.linkedin.com/profile/view?id=220628226"><i class="fa fa-linkedin"></i></a></li>
                                </ul><!--//social-list-->
                            </div><!--//social-->
                        </div><!--//member-inner-->
                    </div><!--//member-->
                   
                    <div class="member col-md-4 col-sm-6 col-xs-12">
                        <div class="member-inner" >
                            <figure class="profile" style="margin:0px">
                                <img style="height:230px;" class="img-responsive" src="/images/team/member-6.png" alt=""/>
                                <figcaption class="info"><span class="name">You?</span><br /><span class="job-title">Role? - Any! (If you're aweosme) </span></figcaption>
                            </figure><!--//profile-->
                            <div class="social">
                                <ul class="social-list list-inline" style="cursor:pointer">
                                    <li><a href="mailto:careers@cloudboost.io"><i class="fa fa-envelope-o"></i></a></li>
                                </ul><!--//social-list-->
                            </div><!--//social-->
                        </div><!--//member-inner-->
                    </div><!--//member-->
                </div><!--//team-->
                <div class="press-kit text-center">
                    <h3 class="title">Hey, we're hiring! </h3>
                    <p>Get paid to play, learn, grow and work. From a good pay package, to flexible work and vacation policy and to fly weeks (that's new), parties and more.We also invite you to drop by our office, chat with one of our engineers and even have lunch with us. <br/>
                    <a id="about-bottom-joinus-btn" class="btn btn-cta btn-cta-primary" href="/joinus">Join us</a>
                </div><!--//press-kit-->
            </div><!--//story-container-->
        </div><!--//container-->
    </section><!--//story-video-->    

    <!--footer-->
    <footer class="footer">
        <% include ./partials/footer %>
    </footer>    

    <!--scripts-->
    <% include ./partials/commonScripts %>   
    <script type="text/javascript">
        //Initialization
        $(document).ready(function(){         
            if(!__isDevelopment){
              /****Tracking************/            
               mixpanel.track('Visted About Page', {"visited":"visited About Page"});
              /****End of Tracking*****/
            }  
        });
        //Initialization

        $("#about-bottom-joinus-btn").click(function(){         
            if(!__isDevelopment){
              /****Tracking************/            
                mixpanel.track('Aboutpage Bottom JoinUs Button', {"Clicked":"Aboutpage Bottom JoinUs Button"});
              /****End of Tracking*****/
            }  
        });
    </script>

<!--********************************************************************************************-->

</body>
</html>
