<!DOCTYPE html>
<html lang="en">
<head>
    <title>CloudBoost Partners</title> 
    <base href="/">   
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="CloudBoost Partners : Join the CloudBoost Partner Program to earn client revenue share and access exclusive resources.">
    <meta name="keywords" content="partners, become a cloudboost partner,  baas, backend as a service, database as a service, hybrid database, cloudboost, search, realtime, storage, app storage, signup, cloudboost">
    <meta name="fragment" content="!"/>  
    <!--common head links-->  
    <% include ./partials/commonHead %>
</head>

<body>

<!--header-->
<header id="header" class="header">
  <% include ./partials/header %>
</header>

<!--Content-->
<!--********************************************************************************************-->
    <div class="headline-bg">
    </div><!--//headline-bg-->

     <section class="contact-section section section-on-bg" style="margin-bottom:-200px">
        <div class="container text-center">
            <h2 class="title text-center"> We help freelancers and agencies grow quicker. <br/> Let us help <b>rocket fuel</b> your growth. </h2>
            <p class="intro text-center"> Join the <b>CloudBoost Partner Program</b> to earn client revenue share and access exclusive resources.  It'll just take few lines of code to power your clients app with CloudBoost, saving you tons of time to focus on new projects. </p>
        </div><!--//container-->
    </section><!--//promo-->

    <br/><br/><br/></br><br/><br/></br><br/><br/></br>     

    <section id="why" class="section why">
            <div class="container">
                <h2 class="title text-center">The best solution for your next project. </h2>  <br/> 
                <h3 class="title text-center">Search, realtime, storage a simple API call away.</h3>
            </div><!--//container-->
    </section>


    <!-- ******Steps Section****** -->
    <section class="steps section">
        <div class="container">
            <h2 class="title text-center">3 simple steps to be a <b>CloudBoost Partner.</b></h2>
            <div class="row">
                 <div class="step text-center col-md-4 col-sm-4 col-xs-12">
                     <h3 class="title"><span class="number">1</span><br /><span class="text">Reach out to us.</span></h3>
                     <p>Fill application form <a href="https://cloudboostio.typeform.com/to/XnJjbv">here </a> and tell us more about you, your team and why you want to be a partner.</p>
                 </div><!--//step-->
                 <div class="step text-center col-md-4 col-sm-4 col-xs-12">
                     <h3 class="title"><span class="number">2</span><br /><span class="text">One of our ninjas will reach out you.</span></h3>
                     <p>This usually takes 2 business days. One of our dedicated partner support monkeys will reach out to you. Equip your team with resources exclusive to our partners. Will be in constant touch with you to get product feedback and help your team, and make on-boarding process simpler.  </p>
                 </div><!--//step-->
                 <div class="step text-center col-md-4 col-sm-4 col-xs-12">
                     <h3 class="title"><span class="number">3</span><br /><span class="text">Party! You're in.</span></h3>
                     <p>Start experimenting and power your client's app with CloudBoost, We have features from data store, all the way to CloudNotificaions, and CloudSearch. Build your client's apps on CloudBoost to earn a revenue share and if you have a talented team. We get a ton of project requests. You'll earn more projects from us. </p>
                 </div><!--//step-->
            </div><!--//row-->

        </div><!--//container-->

    </section><!--//steps-->

    <section id="cta" class="section cta-section text-center home-cta-section">
        <% include ./partials/bottom_banner %>
    </section>   

    <!--footer-->
    <footer class="footer">
        <% include ./partials/footer %>
    </footer> 

    <!--scripts-->
    <% include ./partials/commonScripts %>   

<!--********************************************************************************************-->

</body>
</html>
