<!DOCTYPE html>
<html lang="en">
<head>
    <title>CloudBoost | Compare with other DBaaS &amp; BaaS</title> 
    <base href="/">   
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Compare CloudBoost with other Database as a Service and Backend as a Service Platforms like Parse, Firebase, Algolia, Cloudant, Orchestrate and more.">
    <meta name="keywords" content="parse, firebase, cloudant, orchestrate, algolia, cloudboost competition, cloudboost compare">
    <meta name="fragment" content="!"/>  
    <!--common head links-->  
    <% include ./partials/commonHead %>
</head>

<body>

<!--header-->
<header id="header" class="header">
  <% include ./partials/header %>
</header>

<!--Content-->
<!--********************************************************************************************-->
    <div class="headline-bg">
    </div><!--//headline-bg-->

     <section class="contact-section section section-on-bg" style="margin-bottom:-200px">
        <div class="container text-center">
            <h2 class="title text-center"> Confused? Here's the crystal clear picture. </h2>
            <p class="intro text-center"> Compare <b>CloudBoost</b> with other Database as a Service (DBaaS) &amp; Backend as a Service (BaaS) platforms. Even look at our roadmap.</p>
        </div><!--//container-->
    </section><!--//promo-->

    <br/><br/><br/></br><br/><br/></br><br/><br/></br> <br/></br>     

    <section id="why" class="section why">
        <div class="container">
            <h2 class="title text-center">How CloudBoost Compares With Other DBaaS and BaaS Platforms. </h2><br/>
            <div class="cb-compare">                
                <table class="table table-striped">
                    <thead>
                         <tr class="compare-head">
                            <th class="compare-th">
                                <div class="compare-company-wrap">

                                </div>    
                            </th> 

                            <th class="compare-th">
                                <div class="compare-company-wrap flex-general-column-wrapper-center">
                                    <!--<img src='/images/cbfull.png' style="width:100%;;height:auto;">-->
                                    <span class="com-company-name">CloudBoost</span>
                                </div>    
                            </th> 
                            <th class="compare-th">
                                <div class="compare-company-wrap flex-general-column-wrapper-center">
                                    <span class="com-company-name">Parse</span>
                                </div>    
                            </th>
                            <th class="compare-th">
                                <div class="compare-company-wrap flex-general-column-wrapper-center">
                                    <span class="com-company-name">Firebase</span>
                                </div>    
                            </th>
                            <th class="compare-th">
                                <div class="compare-company-wrap flex-general-column-wrapper-center">
                                   <span class="com-company-name">Algolia</span>
                                </div>    
                            </th>
                            <th class="compare-th">
                                <div class="compare-company-wrap flex-general-column-wrapper-center">
                                   <span class="com-company-name">Orchestrate</span>
                                </div>    
                            </th> 
                            <th class="compare-th">
                                <div class="compare-company-wrap flex-general-column-wrapper-center">
                                   <span class="com-company-name">Cloudant</span>
                                </div>    
                            </th>                                                        
                        </tr>                            
                    </thead>    
                    <tbody>
                        <tr class="compare-row1">
                            <td class="compare-td">
                               <div class="compare-feature-wrap">
                                    Data Storage
                                </div>
                            </td> 
                            <td class="compare-td">
                                <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-checkmark" style="font-size:18px !important; color:green;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                                <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-checkmark" style="font-size:18px !important; color:green;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-checkmark" style="font-size:18px !important; color:green;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-checkmark" style="font-size:18px !important; color:green;margin-top:5px;"></i>
                                </div>
                            </td> 
                             <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-checkmark" style="font-size:18px !important; color:green;margin-top:5px;"></i>
                                </div>
                            </td>
                             <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-checkmark" style="font-size:18px !important; color:green;margin-top:5px;"></i>
                                </div>
                            </td>                              
                        </tr>

                        <tr class="compare-row2">
                            <td class="compare-td">
                               <div class="compare-feature-wrap">
                                     Search
                                </div>
                            </td> 
                            <td class="compare-td">
                                <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-checkmark" style="font-size:18px !important; color:green;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                                <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-close" style="font-size:18px !important; color:red;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-close" style="font-size:18px !important; color:red;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                     <i class="icon ion-checkmark" style="font-size:18px !important; color:green;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                     <i class="icon ion-checkmark" style="font-size:18px !important; color:green;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                     <i class="icon ion-checkmark" style="font-size:18px !important; color:green;margin-top:5px;"></i>
                                </div>
                            </td>                               
                        </tr>
                            
                         <tr class="compare-row2">
                            <td class="compare-td">
                               <div class="compare-feature-wrap">
                                     Real-Time
                                </div>
                            </td> 
                            <td class="compare-td">
                                <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                     <i class="icon ion-checkmark" style="font-size:18px !important; color:green;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                                <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-close" style="font-size:18px !important; color:red;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-checkmark" style="font-size:18px !important; color:green;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-close" style="font-size:18px !important; color:red;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-close" style="font-size:18px !important; color:red;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-close" style="font-size:18px !important; color:red;margin-top:5px;"></i>
                                </div>
                            </td>                               
                        </tr>                        
                        
                        <tr class="compare-row2">
                            <td class="compare-td">
                               <div class="compare-feature-wrap">
                                     Relations
                                </div>
                            </td> 
                            <td class="compare-td">
                                <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-checkmark" style="font-size:18px !important; color:green;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                                <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-checkmark" style="font-size:18px !important; color:green;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-close" style="font-size:18px !important; color:red;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-close" style="font-size:18px !important; color:red;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-checkmark" style="font-size:18px !important; color:green;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-close" style="font-size:18px !important; color:red;margin-top:5px;"></i>
                                </div>
                            </td>                               
                        </tr>

                        <tr class="compare-row2">
                            <td class="compare-td">
                               <div class="compare-feature-wrap">
                                     Files
                                </div>
                            </td> 
                            <td class="compare-td">
                                <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-checkmark" style="font-size:18px !important; color:green;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                                <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-checkmark" style="font-size:18px !important; color:green;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-close" style="font-size:18px !important; color:red;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-close" style="font-size:18px !important; color:red;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-close" style="font-size:18px !important; color:red;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                     <i class="icon ion-checkmark" style="font-size:18px !important; color:green;margin-top:5px;"></i>
                                </div>
                            </td>                               
                        </tr>

                        <tr class="compare-row2">
                            <td class="compare-td">
                               <div class="compare-feature-wrap">
                                     Geospatial
                                </div>
                            </td> 
                            <td class="compare-td">
                                <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-checkmark" style="font-size:18px !important; color:green;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                                <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-checkmark" style="font-size:18px !important; color:green;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-checkmark" style="font-size:18px !important; color:green;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                     <i class="icon ion-checkmark" style="font-size:18px !important; color:green;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-checkmark" style="font-size:18px !important; color:green;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                     <i class="icon ion-checkmark" style="font-size:18px !important; color:green;margin-top:5px;"></i>
                                </div>
                            </td>                               
                        </tr>

                        <tr class="compare-row2">
                            <td class="compare-td">
                               <div class="compare-feature-wrap">
                                     Sessions&nbsp;<i class="icon ion-help-circled feature-exp" style="font-size:14px !important; color:gray; cursor:pointer;"  title="User Authentication and Session Management API's like login, logout, etc"></i>
                                </div>
                            </td> 
                            <td class="compare-td">
                                <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-checkmark" style="font-size:18px !important; color:green;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                                <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-checkmark" style="font-size:18px !important; color:green;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-checkmark" style="font-size:18px !important; color:green;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                     <i class="icon ion-close" style="font-size:18px !important; color:red;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-close" style="font-size:18px !important; color:red;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                     <i class="icon ion-checkmark" style="font-size:18px !important; color:green;margin-top:5px;"></i>
                                </div>
                            </td>                               
                        </tr> 

                        <tr class="compare-row2">
                            <td class="compare-td">
                               <div class="compare-feature-wrap">
                                     Server-Less apps&nbsp;<i class="icon ion-help-circled feature-exp" style="font-size:14px !important; color:gray; cursor:pointer;"  title="Can you build secure apps by just using client-side code?"></i>
                                </div>
                            </td> 
                            <td class="compare-td">
                                <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-checkmark" style="font-size:18px !important; color:green;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                                <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-checkmark" style="font-size:18px !important; color:green;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-checkmark" style="font-size:18px !important; color:green;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                     <i class="icon ion-close" style="font-size:18px !important; color:red;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-close" style="font-size:18px !important; color:red;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                     <i class="icon ion-close" style="font-size:18px !important; color:red;margin-top:5px;"></i>
                                </div>
                            </td>                               
                        </tr>
                         <tr class="compare-row2">
                            <td class="compare-td">
                               <div class="compare-feature-wrap">
                                     Cloud Deployment&nbsp;<i class="icon ion-help-circled feature-exp" style="font-size:14px !important; color:gray; cursor:pointer;" title="Can you install the service on your cloud accounts on Amazon, Azure, etc."></i>
                                </div>
                            </td> 
                            <td class="compare-td">
                                <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                     <i class="icon ion-checkmark" style="font-size:18px !important; color:green;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                                <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-close" style="font-size:18px !important; color:red;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-close" style="font-size:18px !important; color:red;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-close" style="font-size:18px !important; color:red;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-close" style="font-size:18px !important; color:red;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                     <i class="icon ion-checkmark" style="font-size:18px !important; color:green;margin-top:5px;"></i>
                                </div>
                            </td>                               
                        </tr>
                         <tr class="compare-row2">
                            <td class="compare-td">
                               <div class="compare-feature-wrap">
                                     Queues
                                </div>
                            </td> 
                            <td class="compare-td">
                                <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                   <i class="icon ion-checkmark" style="font-size:18px !important; color:green;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                                <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-close" style="font-size:18px !important; color:red;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-close" style="font-size:18px !important; color:red;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-close" style="font-size:18px !important; color:red;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-close" style="font-size:18px !important; color:red;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-close" style="font-size:18px !important; color:red;margin-top:5px;"></i>
                                </div>
                            </td>                               
                        </tr>
                        <tr class="compare-row2">
                            <td class="compare-td">
                               <div class="compare-feature-wrap">
                                     Push Notifications
                                </div>
                            </td> 
                            <td class="compare-td">
                                <div class="compare-compare-wrap flex-general-column-wrapper-center">                          
                                    <span style="font-size:12px !important; color:gray;margin-top:8px;">Coming soon</span>
                                </div>
                            </td>
                            <td class="compare-td">
                                <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                     <i class="icon ion-checkmark" style="font-size:18px !important; color:green;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-close" style="font-size:18px !important; color:red;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-close" style="font-size:18px !important; color:red;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-close" style="font-size:18px !important; color:red;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-close" style="font-size:18px !important; color:red;margin-top:5px;"></i>
                                </div>
                            </td>                               
                        </tr>
                       

                        <tr class="compare-row2">
                            <td class="compare-td">
                               <div class="compare-feature-wrap">
                                     Worker
                                </div>
                            </td> 
                            <td class="compare-td">
                                <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <span style="font-size:12px !important; color:gray;margin-top:8px;">Coming soon</span>
                                </div>
                            </td>
                            <td class="compare-td">
                                <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-checkmark" style="font-size:18px !important; color:green;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-close" style="font-size:18px !important; color:red;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-close" style="font-size:18px !important; color:red;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-close" style="font-size:18px !important; color:red;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-close" style="font-size:18px !important; color:red;margin-top:5px;"></i>
                                </div>
                            </td>                               
                        </tr>

                        <tr class="compare-row2">
                            <td class="compare-td">
                               <div class="compare-feature-wrap">
                                     Cache&nbsp;<i class="icon ion-help-circled feature-exp" style="font-size:14px !important; color:gray; cursor:pointer;" title="Does the service have an API to cache data?"></i>
                                </div>
                            </td> 
                            <td class="compare-td">
                                <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <span style="font-size:12px !important; color:gray;margin-top:8px;">Coming soon</span>
                                </div>
                            </td>
                            <td class="compare-td">
                                <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-close" style="font-size:18px !important; color:red;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-close" style="font-size:18px !important; color:red;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-close" style="font-size:18px !important; color:red;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-close" style="font-size:18px !important; color:red;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-close" style="font-size:18px !important; color:red;margin-top:5px;"></i>
                                </div>
                            </td>                               
                        </tr>

                        <tr class="compare-row2">
                            <td class="compare-td">
                               <div class="compare-feature-wrap">
                                     App Hosting
                                </div>
                            </td> 
                            <td class="compare-td">
                                <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <span style="font-size:12px !important; color:gray;margin-top:8px;">Coming soon</span>
                                </div>
                            </td>
                            <td class="compare-td">
                                <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-checkmark" style="font-size:18px !important; color:green;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                   <i class="icon ion-checkmark" style="font-size:18px !important; color:green;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-close" style="font-size:18px !important; color:red;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-close" style="font-size:18px !important; color:red;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-close" style="font-size:18px !important; color:red;margin-top:5px;"></i>
                                </div>
                            </td>                               
                        </tr>

                        <tr class="compare-row2">
                            <td class="compare-td">
                               <div class="compare-feature-wrap">
                                     Graph Relations&nbsp;<i class="icon ion-help-circled feature-exp" style="font-size:14px !important; color:gray; cursor:pointer;" title="Does the service support queries on relations which are deep?"></i>
                                </div>
                            </td> 
                            <td class="compare-td">
                                <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <span style="font-size:12px !important; color:gray;margin-top:8px;">Coming soon</span>
                                </div>
                            </td>
                            <td class="compare-td">
                                <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-close" style="font-size:18px !important; color:red;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-close" style="font-size:18px !important; color:red;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-close" style="font-size:18px !important; color:red;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-checkmark" style="font-size:18px !important; color:green;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-close" style="font-size:18px !important; color:red;margin-top:5px;"></i>
                                </div>
                            </td>                               
                        </tr> 

                         <tr class="compare-row2">
                            <td class="compare-td">
                               <div class="compare-feature-wrap">
                                     Time Series
                                </div>
                            </td> 
                            <td class="compare-td">
                                <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <span style="font-size:12px !important; color:gray;margin-top:8px;">Coming soon</span>
                                </div>
                            </td>
                            <td class="compare-td">
                                <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-close" style="font-size:18px !important; color:red;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-close" style="font-size:18px !important; color:red;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-close" style="font-size:18px !important; color:red;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-checkmark" style="font-size:18px !important; color:green;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-close" style="font-size:18px !important; color:red;margin-top:5px;"></i>
                                </div>
                            </td>                               
                        </tr>                        

                         <tr class="compare-row2">
                            <td class="compare-td">
                               <div class="compare-feature-wrap">
                                     Offline Sync
                                </div>
                            </td> 
                            <td class="compare-td">
                                <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                   <span style="font-size:12px !important; color:gray;margin-top:8px;">Coming soon</span>
                                </div>
                            </td>
                            <td class="compare-td">
                                <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-checkmark" style="font-size:18px !important; color:green;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                     <i class="icon ion-checkmark" style="font-size:18px !important; color:green;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-close" style="font-size:18px !important; color:red;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-close" style="font-size:18px !important; color:red;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                     <i class="icon ion-checkmark" style="font-size:18px !important; color:green;margin-top:5px;"></i>
                                </div>
                            </td>                               
                        </tr>                         

                        <tr class="compare-row2">
                            <td class="compare-td">
                               <div class="compare-feature-wrap">
                                     File Processing&nbsp;<i class="icon ion-help-circled feature-exp" style="font-size:14px !important; color:gray; cursor:pointer;" title="API's for Image processing like crop,resize, etc. and file processing like extract text out of a file etc. "></i>
                                </div>
                            </td> 
                            <td class="compare-td">
                                <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                     <span style="font-size:12px !important; color:gray;margin-top:8px;">Coming soon</span>
                                </div>
                            </td>
                            <td class="compare-td">
                                <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-close" style="font-size:18px !important; color:red;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-close" style="font-size:18px !important; color:red;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-close" style="font-size:18px !important; color:red;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-close" style="font-size:18px !important; color:red;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-close" style="font-size:18px !important; color:red;margin-top:5px;"></i>
                                </div>
                            </td>                               
                        </tr>

                        <tr class="compare-row2">
                            <td class="compare-td">
                               <div class="compare-feature-wrap">
                                     Daily  Backups&nbsp;<i class="icon ion-help-circled feature-exp" style="font-size:14px !important; color:gray; cursor:pointer;" title="Can service backup your data daily and dump it into your storage account (like Amazon S3)"></i>
                                </div>
                            </td> 
                            <td class="compare-td">
                                <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                     <span style="font-size:12px !important; color:gray;margin-top:8px;">Coming soon</span>
                                </div>
                            </td>
                            <td class="compare-td">
                                <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-close" style="font-size:18px !important; color:red;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-close" style="font-size:18px !important; color:red;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-close" style="font-size:18px !important; color:red;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                   <i class="icon ion-checkmark" style="font-size:18px !important; color:green;margin-top:5px;"></i>
                                </div>
                            </td>
                            <td class="compare-td">
                               <div class="compare-compare-wrap flex-general-column-wrapper-center">
                                    <i class="icon ion-checkmark" style="font-size:18px !important; color:green;margin-top:5px;"></i>
                                </div>
                            </td>                               
                        </tr>
                        
                    </tbody>    
                </table>    
            </div>                
        </div><!--//container-->
    </section>
    

    <section id="cta" class="section cta-section text-center home-cta-section">
        <% include ./partials/bottom_banner %>
    </section>   

    <!--footer-->
    <footer class="footer">
        <% include ./partials/footer %>
    </footer> 

    <!--Slack chat-->
    <a href="http://slack.cloudboost.io" target="_blank">
        <div class="intercomm flex-general-column-wrapper-center">    
            <i class="icon ion-ios-chatboxes" style="font-size:26px !important; color:white;margin-top:3px;"></i>
        </div> 
    </a>
    <!--/Slack chat-->
    
    <!--scripts-->
    <% include ./partials/commonScripts %>  
    <script type="text/javascript">
        $(document).ready(function() {           
            $('.feature-exp').poshytip({
                className: 'tip-violet'                
            });        
        });
    </script> 

<!--********************************************************************************************-->

</body>
</html>
