<!DOCTYPE html>
<html lang="en">
<head>
    <title>CloudBoost Partners</title> 
    <base href="/">   
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="CloudBoost Partners : Join the CloudBoost Partner Program to earn client revenue share and access exclusive resources.">
    <meta name="keywords" content="partners, become a cloudboost partner,  baas, backend as a service, database as a service, hybrid database, cloudboost, search, realtime, storage, app storage, signup, cloudboost">
    <meta name="fragment" content="!"/>  
    <!--common head links-->  
    <% include ./partials/commonHead %>
</head>

<body>

<!--header-->
<header id="header" class="header">
  <% include ./partials/header %>
</header>

<!--Content-->
<!--********************************************************************************************-->
    <div class="headline-bg">
    </div><!--//headline-bg-->

     <section class="contact-section section section-on-bg" style="margin-bottom:-200px">
        <div class="container text-center">
            <h2 class="title text-center"> We help freelancers and agencies grow quicker. <br/> Let us help <b>rocket fuel</b> your growth. </h2>
            <p class="intro text-center"> Join the <b>CloudBoost Partner Program</b> to earn client revenue share and access exclusive resources.  It'll just take few lines of code to power your clients app with CloudBoost, saving you tons of time to focus on new projects. </p>
        </div><!--//container-->
    </section><!--//promo-->

    <br/><br/><br/></br><br/><br/></br><br/><br/></br>     

    <section id="why" class="section why">
        <div class="container">
            <h2 class="title text-center">The best solution for your next project. </h2>
            <div class="cb-compare">
                <div class="compare-head">
                </div>    
            </div>                
        </div><!--//container-->
    </section>
    

    <section id="cta" class="section cta-section text-center home-cta-section">
        <% include ./partials/bottom_banner %>
    </section>   

    <!--footer-->
    <footer class="footer">
        <% include ./partials/footer %>
    </footer> 

    <!--Slack chat-->
    <a href="http://slack.cloudboost.io" target="_blank">
        <div class="intercomm flex-general-column-wrapper-center">    
            <i class="icon ion-ios-chatboxes" style="font-size:26px !important; color:white;margin-top:3px;"></i>
        </div> 
    </a>
    <!--/Slack chat-->
    
    <!--scripts-->
    <% include ./partials/commonScripts %>   

<!--********************************************************************************************-->

</body>
</html>
