<!DOCTYPE html>
<html lang="en">
<head>
    <title>CloudBoost | Contact us</title> 
    <base href="/">   
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="CloudBoost | Contact us"/>
    <meta name="description" content="Contact us. We're listening.">
    <meta name="keywords" content="cloudboost help, cloudboost support, baas, backend as a service, database as a service, hybrid database, cloudboost, search, realtime, storage, app storage, signup, cloudboost">
    <meta name="fragment" content="!"/>  
    <!--common head links-->  
    <% include ./partials/commonHead %>
</head>

<body>

<!--header-->
<header id="header" class="header">
  <% include ./partials/header %>
</header>

<!--Content-->
<!--********************************************************************************************-->
   <div class="headline-bg contact-headline-bg">
        </div><!--//headline-bg-->


        <!-- ******Contact Section****** -->
        <section class="contact-section section section-on-bg">
            <div class="container">
                <h2 class="title text-center">Need help? We're all ears.</h2>
                <p class="intro text-center">We're here to talk about anything you like - <b>Anything!</b> <br/> Even if you need someone to talk to. :)<br/><br/>We'd even love if you drop by our office and grab lunch with us.</p>
            </div><!--//container-->
        </section><!--//contact-section-->

        <!-- ******Other Contact Section****** -->
        <section class="contact-other-section section">
            <div class="container text-center">
            <br/><br/><br/><br/><br/>
                <div class="row">
                    <ul class="other-info list-unstyled col-md-6 col-sm-10 col-xs-12 col-md-offset-3 col-sm-offset-1 xs-offset-0" >
                        <li>
                            <i class="fa fa-stack-overflow"></i>
                            <b>Stackoverflow : <a href="http://stackoverflow.com/questions/ask?tags=cloudboost" target="_blank">#cloudboost</a>
                            </b>
                        </li>

                        <li>
                            <i class="fa fa-slack"></i>Our engineers hangout here :<br/>
                            <a href="https://slack.cloudboost.io/" target="_blank">slack.cloudboost.io</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope-o"></i><a href="mailto:hello@cloudboost.io">hello@cloudboost.io</a>
                        </li>
                        <li>
                            <i class="fa fa-facebook"></i>
                            <a href="https://www.facebook.com/groups/805935712787827" target="_blank">CloudBoost Developers</a>
                        </li>
                        <li>
                            <i class="fa fa-twitter"></i>
                            Want to share your feedback with the world?</br> Good? Bad? We're listening.<br/><br/>
                            <a href="https://twitter.com/cloudboostio" target="_blank">@cloudboostio</a>
                        </li>
                    </ul>
                </div><!--//row-->
            </div><!--//container-->
        </section><!--//contact-other-section-->

    <section id="cta" class="section cta-section text-center home-cta-section">
        <% include ./partials/bottom_banner %>
    </section> 

    <!--footer-->
    <footer class="footer">
        <% include ./partials/footer %>
    </footer>    
    
    <!--scripts-->
    <% include ./partials/commonScripts %>  
    <script type="text/javascript">
        //Initialization
        $(document).ready(function(){         
            if(!__isDevelopment){
              /****Tracking************/            
               mixpanel.track('Visted Contact Page', {"visited":"visited Contact Page"});
              /****End of Tracking*****/
            }  
        });
        //Initialization
    </script> 

<!--********************************************************************************************-->

<script type="text/javascript" src="assets/plugins/back-to-top.js"></script>
<script type="text/javascript" src="assets/plugins/jquery-placeholder/jquery.placeholder.js"></script>
<script type="text/javascript" src="assets/plugins/FitVids/jquery.fitvids.js"></script>
<script type="text/javascript" src="assets/plugins/flexslider/jquery.flexslider-min.js"></script>


</body>
</html>
