<!DOCTYPE html>
<html lang="en">

<head>
    <title>CloudBoost | Software Development and Consulting</title>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="CloudBoost | CSoftware Development and Consulting" />
    <meta name="description" content="Engineers who have built CloudBoost can now help you build your app. Talk to us and get started right away.">
    <meta name="keywords" content="consulting, development shop, software development, cloudboost help, cloudboost support, baas, backend as a service, database as a service, hybrid database, cloudboost, search, realtime, storage, app storage, signup, cloudboost">
    <meta name="fragment" content="!" />
    <!--common head links-->
    <% include ./partials/commonHead %>
</head>

<body>

    <!--header-->
    <header id="header" class="header">
        <% include ./partials/header %>
    </header>

    <!--Content-->
    <!--********************************************************************************************-->
    <div class="headline-bg contact-headline-bg">
    </div>
    <!--//headline-bg-->


    <!-- ******Contact Section****** -->
    <section class="contact-section section section-on-bg">
        <div class="container">
            <center>
                <h1 style="color:white; font-size:44px; font-family: 'Signika', sans-serif; font-weight: 300;">
                    <span style="font-family: 'Signika', sans-serif; font-weight:700;font-size:50px">Let's build something great.</span>
                </h1>

                <div>
                    <h3 style="color:white; font-size:30px;  font-family:font-family: 'Signika', sans-serif; font-weight: 300; ">
                        <span style="color:#b1d8ec; font-family: 'Signika', sans-serif; font-weight: 300;">We also help the world’s leading companies and startups <br/>build amazing websites, apps and services that are simple, beautiful and easy to use.</span>
                    </h3>
                </div>

            </center>
        </div>
        <!--//container-->
    </section>
    <!--//contact-section-->

    <section id="why" class="section why" style="margin-top:75px;padding-bottom: 0px">
        <div class="container">
            <h5 class="text-center" style="color:#898989;font-size:20px">Consulting & Development Services</h5>
            <h2 class="title text-center" style="font-size:50px; color:#565656">Our work speaks for us.</h2>
            <p class="intro text-center"> Exact same team who has built CloudBoost will now helpyou build your product. We work with any technology you like and can build websites, apps, services and more. <br/><br/> Satisfaction guaranteed. If you don't like our work, we also give you a refund. </p>
            <p class="intro text-center">
                <a id="expert-bcomepert-btn" class="typeform-share text-center btn btn-cta btn-cta-primary" style="font-size:20px;" href="https://calendly.com/nawazdhandala/call"
                    data-mode="1" target="_blank">
                    <i class="fa fa-skype" style="font-size: 24px;"></i>&nbsp;TALK TO US
                </a>
                &nbsp;&nbsp;
                <a id="expert-bcomepert-btn" class="text-center btn btn-cta btn-cta-primary" style="font-size:20px;" href="mailto:projects@cloudboost.io"
                    data-mode="1">
                    <i class="fa fa-envelope" style="font-size: 24px;"></i>&nbsp;MAIL US
                </a>
            </p>
        </div>
        <!--//container-->
    </section>
    <!--//why-->

    <div id="content-wrap">



        <section class="container-wide" id="portfolio">

            <article class="port-wide img-panda invisible">
                <section class="port-item">
                    <div class="port-info">
                        <h2 style="font-family: 'Signika', sans-serif;">LunaLights</h2>
                        <h3>MongoDB, Node, Angular, Docker</h3>

                        <p>Transitioning from a developer portfolio showcase to Magento extension online store, I gave PandaWebstudio
                            a functional and visual makeover.
                        </p>

                        <a href="https://www.lunalights.org" target="blank" class="btn btn-outline">See the product</a>
                    </div>
                    <div class="port-img">

                        <div class="browser"></div>
                        <div class="img-source"></div>
                    </div>
                </section>
            </article>

            <article class="port-wide img-andrei invisible">
                <section class="port-item">
                    <div class="port-info">
                        <h2 style="font-family: 'Signika', sans-serif;">PetCloud</h2>
                        <h3>PostgreSQL, Redis, ElasticSearch, Node, Angular, Docker</h3>

                        <p>Andrei Rosu is a seemingly normal romanian guy with a very inspiring story. In the span of just a
                            couple of years he went from a typical corporate couch potato to a Guinness record holder for
                            running 7 marathons on seven continents, finished some of the world's toughest running and endurance
                            competitions.
                        </p>

                        <a href="https://www.petcloud.com.au" target="blank" class="btn btn-outline">See the product</a>
                    </div>
                    <div class="port-img">

                        <div class="browser"></div>
                        <div class="img-source"></div>
                    </div>
                </section>
            </article>


            <article class="port-wide img-ewb invisible">
                <section class="port-item">
                    <div class="port-info">
                        <h2 style="font-family: 'Signika', sans-serif;">Properly</h2>
                        <h3>PostgreSQL, Redis, ElasticSearch, Node, React, Docker</h3>

                        <p>From goal discovery, to wireframing, to final build, I helped the Dutch Engineers Without Borders
                            organization establish a new online presence.
                        </p>

                        <a href="https://getproperly.com" target="blank" class="btn btn-outline">See the product</a>
                    </div>
                    <div class="port-img">

                        <div class="browser"></div>
                        <div class="img-source"></div>
                    </div>
                </section>
            </article>


            <article class="port-wide img-hex">
                <section class="port-item">
                    <div class="port-info">
                        <h2 style="font-family: 'Signika', sans-serif;">ChefSteps</h2>
                        <h3>Ionic, MongoDB, ElasticSearch, Node, Angular, Docker</h3>

                        <p>One-page website for a Taiwanese manufacturer of high-tech screws.
                        </p>

                        <a href="https://www.chefsteps.com" target="blank" class="btn btn-outline">See the product</a>

                    </div>
                    <div class="port-img">

                        <div class="browser"></div>
                        <div class="img-source"></div>
                    </div>
                </section>
            </article>


            <article class="port-wide img-ux">
                <section class="port-item">
                    <div class="port-info">
                        <h2 style="font-family: 'Signika', sans-serif;">Bold</h2>
                        <h3>UI/UX, HTML5/CSS3, RESPONSIVE, WORDPRESS</h3>

                        <p>The evolution of recruiters and UX designers interactions.</p>
                        <a href="https://gobold.com/"  target="blank" class="btn btn-outline">See the product</a>
                    </div>
                    <div class="port-img">

                        <div class="browser"></div>
                        <div class="img-source"></div>
                    </div>
                </section>
            </article>

        </section>

        <div class="feature-lead text-center" style="margin-bottom: 60px;">
                <h2 class="title text-center" style="font-size:35px; color:#565656">Your Tech Team. One Mission - To help you succeed.</h2>
                <br/>
                <p class="intro text-center">
                <a id="expert-joinprogram-btn" class="typeform-share text-center btn btn-cta btn-cta-primary" style="font-size:20px;" href="https://calendly.com/nawazdhandala/call" data-mode="1" target="_blank"><i class="fa fa-skype" style="font-size: 24px;"></i>&nbsp;TALK TO US</a>
                &nbsp;&nbsp;
                <a id="expert-bcomepert-btn" class="text-center btn btn-cta btn-cta-primary" style="font-size:20px;" href="mailto:projects@cloudboost.io" data-mode="1">
                    <i class="fa fa-envelope" style="font-size: 24px;"></i>&nbsp;MAIL US
                </a>
            </p>
        </div>
    </div>

    <!--footer-->
    <footer class="footer">
        <% include ./partials/footer %>
    </footer>

    <!--scripts-->
    <% include ./partials/commonScripts %>


        <link rel="stylesheet" href="/consulting/css/layout.css">
        <script type="text/javascript">
            //Initialization
            $(document).ready(function () {
                mixpanel.track('Visted Consulting Page', { "visited": "visited Consulting Page" });
            });
            //Initialization

            $("#expert-bcomepert-btn").click(function () {
                mixpanel.track('Consulting Click : Talk to us', { "Clicked": "Talk to us." });
            });

            $("#expert-joinprogram-btn").click(function () {
                mixpanel.track('Consulting Click : Talk to us', { "Clicked": "Talk to us." });
            });
        </script>


</body>

</html>
