<!DOCTYPE html>
<html lang="en">
<head>
    <title>CloudBoost | AI based Software Development Services</title>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="CloudBoost | Consulting & Development Services"/>
    <meta name="description" content="Engineers who have built CloudBoost can now help you build your app. Talk to us and get started right away.">
    <meta name="keywords" content="consulting, development shop, software development, cloudboost help, cloudboost support, baas, backend as a service, database as a service, hybrid database, cloudboost, search, realtime, storage, app storage, signup, cloudboost">
    <meta name="fragment" content="!"/>
    <!--common head links-->
    <% include ./partials/commonHead %>
</head>

<body>

<!--header-->
<header id="header" class="header">
  <% include ./partials/header %>
</header>

<!--Content-->
<!--********************************************************************************************-->
   <div class="headline-bg contact-headline-bg">
        </div><!--//headline-bg-->


        <!-- ******Contact Section****** -->
        <section class="contact-section section section-on-bg">
            <div class="container">
                <h1 class="title text-center" style="font-size:100px;margin-top:-40px"><i class="fa fa-code"></i></h2>
                <h2 class="title text-center">We use <b> AI to build exceptional apps </b><br/> and save you over <b>50% of the time and costs</b>.</h2>
                <p class="intro text-center">
                  We use AI to automate most of the processes to build your app <br/>which eventually saves you over 50% in development costs and time. <br/>The exact same team whon has built CloudBoost can now help you build your app.
                </p>
            </div><!--//container-->
        </section><!--//contact-section-->

        <!-- ******Why Section****** -->
        <section id="why" class="section why" style="margin-top:-75px">
            <div class="container">
                <h5 class="text-center" style="color:#898989;font-size:20px">Consulting & Development Services</h5>
                <h2 class="title text-center" style="font-size:50px; color:#565656">From whiteboard to launch. </h2>
                <p class="intro text-center"> If you're using CloudBoost or not, we want to be a part of your mission.<br/>We have engineers on every platform - Web, Mobile and IoT. <br/>The exact same team who has built CloudBoost can now help you build your exceptional app.</p>
                <p class="intro text-center">
                    <a id="expert-bcomepert-btn" class="typeform-share text-center btn btn-cta btn-cta-primary" style="font-size:20px;" href="https://calendly.com/nawazdhandala/call" data-mode="1" target="_blank">
                        <i class="fa fa-skype" style="font-size: 24px;"></i>&nbsp;TALK TO US
                    </a>
                    &nbsp;&nbsp;
                    <a id="expert-bcomepert-btn" class="text-center btn btn-cta btn-cta-primary" style="font-size:20px;" href="mailto:projects@cloudboost.io" data-mode="1">
                        <i class="fa fa-envelope" style="font-size: 24px;"></i>&nbsp;MAIL US
                    </a>
                </p>

                <div class="row item">
                    <div class="content col-md-5 col-sm-12 col-xs-12 col-md-push-6 col-sm-push-0 col-xs-push-0">
                        <h3 class="title">AI & Automation.</h3>
                        <div class="desc">
                            <p> Today, apps need many data stores - from database to search index, to cache and more. Our AI algorithm learns about your app and auto configures these for you so we don't have to which saves 50% or more of your time.</p>
                        </div>
                    </div><!--//content-->
                    <figure class="figure col-md-4 col-sm-12 col-xs-12 col-md-pull-4 col-sm-pull-0 col-xs-pull-0">
                        <img class="img-responsive"  style="height:175px; margin-top:-30px" src="/images/ai.png" alt="" />
                    </figure>
                </div><!--//item-->

                <div class="row item">
                    <div class="content col-md-offset-1 col-md-4 col-sm-12 col-xs-12" style="margin-top:50px;">
                        <h3 class="title"> We work with any technology. </h3>
                        <div class="desc">
                            <p> We have engineers who work on every platform - Web, Mobile, or IoT. From React, Angular, Ionic, Node to Android, iOS, Arduino... and all databases in between.  </p>
                        </div>
                    </div><!--//content-->
                    <figure class="figure col-md-6 col-sm-12 col-xs-12 col-sm-offset-0 col-xs-offset-0">
                        <img class="img-responsive" style="height:200px" src="/images/frameworks-1.png" alt="Frameworks & Platforms" />
                    </figure>
                </div><!--//item-->

                <div class="row item">
                    <div class="content col-md-5 col-sm-12 col-xs-12 col-md-push-6 col-sm-push-0 col-xs-push-0">
                        <h3 class="title">We heart startups.</h3>
                        <div class="desc">
                            <p> Building a Startup? We're here to help. Think of us as your tech team as a service. We're with you from whiteboard to launch. </p>
                        </div>
                    </div><!--//content-->
                    <figure class="figure col-md-4 col-sm-12 col-xs-12 col-md-pull-4 col-sm-pull-0 col-xs-pull-0">
                        <img class="img-responsive"  style="height:225px;margin-top:-100px" src="/images/ideas.jpg" alt="" />
                    </figure>
                </div><!--//item-->

                <div class="row item">
                    <div class="content col-md-offset-1 col-md-4 col-sm-12 col-xs-12">
                        <h3 class="title">Exceptional apps, we promise.</h3>
                        <div class="desc">
                            <p>We strive to make every pixel perfect on the screen, and are only satisfied if we WOW your customers and users. Exceptional quality, we promise!</p>
                        </div>
                    </div><!--//content-->
                    <figure class="figure col-md-6 col-sm-12 col-xs-12 col-sm-offset-0 col-xs-offset-0">
                       <img class="img-responsive" style="height:300px;margin-top:-50px" src="/images/design-prototype.jpg" alt="" />
                    </figure>
                </div><!--//item-->

                <div class="row item last-item">
                    <div class="content col-md-5 col-sm-12 col-xs-12 col-md-push-6 col-sm-push-0 col-xs-push-0">
                        <h3 class="title">Satisfaction Guaranteed.</h3>
                        <div class="desc">
                            <p>We strive for our customer's happiness and if at any point you're not satisfied by our work. You get a full refund of last 30 days we've worked on your project.</p>
                        </div>
                    </div><!--//content-->
                    <figure class="figure col-md-4 col-sm-12 col-xs-12 col-md-pull-4 col-sm-pull-0 col-xs-pull-0">
                        <img class="img-responsive" style="height:250px;margin-top:-80px" src="/images/satisfaction.png" alt="" />
                    </figure>
                </div><!--//item-->

                <div class="feature-lead text-center">
                     <h2 class="title text-center" style="font-size:35px; color:#565656">Your Tech Team. One Mission - To help you succeed.</h2>
                     <br/>
                     <p class="intro text-center">
                        <a id="expert-joinprogram-btn" class="typeform-share text-center btn btn-cta btn-cta-primary" style="font-size:20px;" href="https://calendly.com/nawazdhandala/call" data-mode="1" target="_blank"><i class="fa fa-skype" style="font-size: 24px;"></i>&nbsp;TALK TO US</a>
                        &nbsp;&nbsp;
                        <a id="expert-bcomepert-btn" class="text-center btn btn-cta btn-cta-primary" style="font-size:20px;" href="mailto:projects@cloudboost.io" data-mode="1">
                            <i class="fa fa-envelope" style="font-size: 24px;"></i>&nbsp;MAIL US
                        </a>
                    </p>
                </div>
            </div><!--//container-->
        </section><!--//why-->


<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>


    <section id="cta" class="section cta-section text-center home-cta-section">
        <% include ./partials/bottom_banner %>
    </section>

    <!--footer-->
    <footer class="footer">
        <% include ./partials/footer %>
    </footer>

    <!--scripts-->
    <% include ./partials/commonScripts %>
    <script type="text/javascript">
        //Initialization
        $(document).ready(function(){
            if(!__isDevelopment){
              /****Tracking************/
               mixpanel.track('Visted Consulting Page', {"visited":"visited Consulting Page"});
              /****End of Tracking*****/
            }
        });
        //Initialization

        $("#expert-bcomepert-btn").click(function(){
            if(!__isDevelopment){
              /****Tracking************/
                mixpanel.track('Consulting Click : Talk to us', {"Clicked":"Talk to us."});
              /****End of Tracking*****/
            }
        });

        $("#expert-joinprogram-btn").click(function(){
            if(!__isDevelopment){
              /****Tracking************/
               mixpanel.track('Consulting Click : Talk to us', {"Clicked":"Talk to us."});
              /****End of Tracking*****/
            }
        });

    </script>

<!--********************************************************************************************-->

<script type="text/javascript" src="assets/plugins/back-to-top.js"></script>
<script type="text/javascript" src="assets/plugins/jquery-placeholder/jquery.placeholder.js"></script>
<script type="text/javascript" src="assets/plugins/FitVids/jquery.fitvids.js"></script>
<script type="text/javascript" src="assets/plugins/flexslider/jquery.flexslider-min.js"></script>


</body>
</html>
