<!DOCTYPE html>
<html lang="en">

<head>
    <title>CloudBoost | AI based Software Development Services</title>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="CloudBoost | Consulting & Development Services" />
    <meta name="description" content="Engineers who have built CloudBoost can now help you build your app. Talk to us and get started right away.">
    <meta name="keywords" content="consulting, development shop, software development, cloudboost help, cloudboost support, baas, backend as a service, database as a service, hybrid database, cloudboost, search, realtime, storage, app storage, signup, cloudboost">
    <meta name="fragment" content="!" />
    <!--common head links-->
    <% include ./partials/commonHead %>
</head>

<body>

    <!--header-->
    <header id="header" class="header">
        <% include ./partials/header %>
    </header>

    <!--Content-->
    <!--********************************************************************************************-->
    <div class="headline-bg contact-headline-bg">
    </div>
    <!--//headline-bg-->


    <!-- ******Contact Section****** -->
    <section class="contact-section section section-on-bg">
        <div class="container">
            <center>
                <h1 style="color:white; font-size:44px; font-family:font-family: 'Signika', sans-serif; font-weight: 300;">
                    <span style="font-family: 'Signika', sans-serif; font-weight:700;font-size:50px">Let's build something great.</span>
                </h1>

                <div>
                    <h3 style="color:white; font-size:30px;  font-family:font-family: 'Signika', sans-serif; font-weight: 300; ">
                        <span style="color:white; font-family:font-family: 'Signika', sans-serif; ">CloudBoost saves you a lot more time and money than we charge.</span>
                    </h3>
                </div>

            </center>
        </div>
        <!--//container-->
    </section>
    <!--//contact-section-->

    <div id="content-wrap">



        <section class="container-wide" id="portfolio">

            <article class="port-wide img-panda invisible">
                <section class="port-item">
                    <div class="port-info">
                        <h2>Panda Web Studio</h2>
                        <h3>Design, Code, Wordpress</h3>

                        <p>Transitioning from a developer portfolio showcase to Magento extension online store, I gave PandaWebstudio
                            a functional and visual makeover.
                        </p>

                        <a href="case-panda.html" class="btn btn-outline">view more</a>
                    </div>
                    <div class="port-img">

                        <div class="browser"></div>
                        <div class="img-source"></div>
                    </div>
                </section>
            </article>

            <article class="port-wide img-andrei invisible">
                <section class="port-item">
                    <div class="port-info">
                        <h2>andrei rosu</h2>
                        <h3>Design, Code, Wordpress</h3>

                        <p>Andrei Rosu is a seemingly normal romanian guy with a very inspiring story. In the span of just a
                            couple of years he went from a typical corporate couch potato to a Guinness record holder for
                            running 7 marathons on seven continents, finished some of the world's toughest running and endurance
                            competitions.
                        </p>

                        <a href="case-andrei.html" class="btn btn-outline">view more</a>
                    </div>
                    <div class="port-img">

                        <div class="browser"></div>
                        <div class="img-source"></div>
                    </div>
                </section>
            </article>


            <article class="port-wide img-ewb invisible">
                <section class="port-item">
                    <div class="port-info">
                        <h2>Engineers Without Borders</h2>
                        <h3>Design, Code, Wordpress</h3>

                        <p>From goal discovery, to wireframing, to final build, I helped the Dutch Engineers Without Borders
                            organization establish a new online presence.
                        </p>

                        <a href="case-ewb.html" class="btn btn-outline">view more</a>
                    </div>
                    <div class="port-img">

                        <div class="browser"></div>
                        <div class="img-source"></div>
                    </div>
                </section>
            </article>



            <article class="port-wide img-otg invisible">
                <section class="port-item">
                    <div class="port-info">
                        <h2>omnium travel group</h2>
                        <h3>Design, Code, Wordpress</h3>

                        <p>One of Guatemala's most popular tour operators needed a new immersive website that showcases the
                            area's amazing natural beauty and history.</p>

                        <a href="case-otg.html" class="btn btn-outline">view more</a>

                    </div>
                    <div class="port-img">

                        <div class="browser"></div>
                        <div class="img-source"></div>
                    </div>
                </section>
            </article>

            <article class="port-wide img-cfait invisible">
                <section class="port-item">
                    <div class="port-info">
                        <h2>Cfait</h2>
                        <h3>Design, Front-End Code </h3>

                        <p>I worked with the Cfait team to build a web interface for their startup that aims to connect local
                            people and help them complete small tasks together.</p>

                        <a href="case-cfait.html" class="btn btn-outline">view more</a>

                    </div>
                    <div class="port-img">

                        <div class="browser"></div>
                        <div class="img-source"></div>
                    </div>
                </section>
            </article>

            <article class="port-wide img-hex">
                <section class="port-item">
                    <div class="port-info">
                        <h2>Henghex</h2>
                        <h3>Design, Code</h3>

                        <p>One-page website for a Taiwanese manufacturer of high-tech screws.
                        </p>

                        <a href="case-hex.html" class="btn btn-outline">view more</a>

                    </div>
                    <div class="port-img">

                        <div class="browser"></div>
                        <div class="img-source"></div>
                    </div>
                </section>
            </article>


            <article class="port-wide img-ux">
                <section class="port-item">
                    <div class="port-info">
                        <h2>UX Switch</h2>
                        <h3>UI/UX, HTML5/CSS3, RESPONSIVE, WORDPRESS</h3>

                        <p>The evolution of recruiters and UX designers interactions.</p>
                        <a href="case-ux.html" class="btn btn-outline">view more</a>
                    </div>
                    <div class="port-img">

                        <div class="browser"></div>
                        <div class="img-source"></div>
                    </div>
                </section>
            </article>

        </section>

    </div>

    <!--footer-->
    <footer class="footer">
        <% include ./partials/footer %>
    </footer>

    <!--scripts-->
    <% include ./partials/commonScripts %>

    
        <link rel="stylesheet" href="/consulting/css/layout.css">
        <script type="text/javascript">
            //Initialization
            $(document).ready(function () {
                mixpanel.track('Visted Consulting Page', { "visited": "visited Consulting Page" });
            });
            //Initialization

            $("#expert-bcomepert-btn").click(function () {
                mixpanel.track('Consulting Click : Talk to us', { "Clicked": "Talk to us." });
            });

            $("#expert-joinprogram-btn").click(function () {
                mixpanel.track('Consulting Click : Talk to us', { "Clicked": "Talk to us." });
            });
        </script>


</body>

</html>