<!DOCTYPE html>
<html lang="en">
<head>
    <title>CloudBoost | NoSQL Database as a Service</title> 
    <base href="/">   
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="CloudBoost is one complete Database Solution for your apps which does data-storage, search and realtime, graphs, time-series and much more.">
    <meta name="keywords" content="database service,database as a service, hybrid database, cloudboost, search, realtime, storage, app storage, nosql">
    <meta name="fragment" content="!"/>  
    <!--common head links-->  
    <% include ./partials/commonHead %>
    <link rel="stylesheet" href="/bower_components/slick-carousel/slick/slick.css"> 
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.8/slick-theme.css"/>
</head>

<body>

<!--header-->
<header id="header" class="header">
  <% include ./partials/header %>
</header>

<!--Content-->
<!--********************************************************************************************-->
    <div style="height:100%">

    <div class="bg-slider-wrapper">
        <div class="flexslider bg-slider">
            <ul class="slides">
                <li class="slide slide-1"></li>
                <li class="slide slide-2"></li>
                <li class="slide slide-3"></li>
            </ul>
        </div>
    </div><!--//bg-slider-wrapper-->

    <section class="promo section section-on-bg">

       <div class="container">
            <div class="row">
                <center>
                    <div class="col-md-12"> 
                        <h1 style="color:white; font-family:font-family: 'Signika', sans-serif; font-weight: 300; ">One <span style="font-weight: 700;">Complete Database Service </span> for the next web.</h1>
                    </div> 
                    <div>             
                            <h4 style="color:white; font-family:font-family: 'Signika', sans-serif; font-weight: 300; ">Add Data-storage, Realtime, Search, Cache,  Graphs, Time-Series, Geospatial with <b>One Simple API.</b> </h4>
                    </div>
                    <div>
                         <button type="button" class="play-trigger btn-link " data-toggle="modal" data-target="#modal-video" data-backdrop="static" data-keyboard="false"><i class="fa fa-youtube-play"></i> Watch the video</button>
                    </div>
                </center>
            </div>       
            <div class="row">
                <div class="col-md-5">
                    <div class="widget-div">
                        <div class="widget-bx">
                            <div class="widget-bxmenu cf">
                                <div class="apple-circle pull-left" style="background-color:#FB544E;"></div>
                                <div class="apple-circle pull-left" style="margin-left:4px; background-color:#F7BD43;"></div>
                                <div class="apple-circle pull-left" style="margin-left:4px; background-color:#00C57E;"></div>
                            </div>  

                            <div class="widget-header cf">
                                <div class="cf" style="position:relative;">
                                    <div class="widget-search pull-left cf">
                                        <input type="text" id="search-input" placeholder="Search anything" class="pull-left">
                                        <a class="search-btn pull-left">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </div>                         
                                     
                                    <div id="notificationshow" class="realtime-div pull-right">
                                        <i class="fa fa-comments notify-icon"></i>
                                        <div id="red-counter" class="notify-counter">
                                            <center>
                                               <span class="count-number"></span>
                                            </center>
                                        </div>
                                    </div>

                                    <!--List of Notification Comments--> 
                                    <div id="notificationContainer">
                                        <div id="notificationTitle">Notifications</div>
                                        <div id="notificationsBody" class="notifications" style="margin-top:-10px"></div>                                
                                    </div>
                                    <!--/List of Notification Comments-->
                                </div>                               

                            </div>
                           

                            <div class="widget-content">
                                <div>
                                    <div class="cf">
                                        <form name="postForm">
                                            <div class="txtinput pull-left">
                                                <div class="txt-wrapper cf">
                                                    <input id="postTxt" type="text" class="pull-right" placeholder="Post anything">
                                                </div>                                        
                                            </div>
                                            <div class="post-btn-bx pull-left">
                                                <button id="postBtn" type="submit" class="post-btn pull-right">Post</button>
                                            </div>
                                        </form>    
                                    </div>

                                    <div class="widget-comments-list cf">                                    
                                        <!--Static-->
                                        <!--<div class="widget-comments-bx cf flex-general-row-wrapper">
                                            <div class="user-pic pull-left ">
                                             <img src="/images/cb-user.png">
                                            </div>
                                            <div class="user-comment2 pull-left" style="margin:5px;margin-left:7px;">
                                                <span class="comment-username">Jeff Whietman from CloudBoost</span>
                                                <span>
                                                   Hey, Thanks for coming up. CloudBoost is one simple API that you can build your big app on. Infact, the app you see here can be built on CloudBoost too! Feel free to play with it. 
                                                </span>                                             
                                            </div>
                                        </div>-->

                                                                           
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                       
                </div>

        <div class="col-md-6 col-md-offset-1 ">
         <div class="widget-div">
                <div class="code-bx">
                   <center>
                        <span class="widgetBrowserHeader">APP CODE</span>
                    </center>  

                    <div class="code-header cf">
                                                   
                        <div id='js' class="pull-left languageHeader active">
                            JavaScript   
                        </div>
                        <div id='java' class="pull-left languageHeader">
                            Java
                        </div>
                    </div>

<div id="Insert-js" class="code-snipper-wrapper">                           
<textarea id="objectInsert-js" disabled="true">
//insert a new object in CloudBoost
var obj = new CB.CloudObject('Post');
obj.set('text', 'Your text here.');
obj.save({
    success : function(obj){
        //object saved. 
    }, error : function (error){

    }
});
</textarea>
</div>

<div id="Realtime-js" class="code-snipper-wrapper">
<textarea id="objectRealtime-js" disabled="true">
//insert a new object in CloudBoost
CB.CloudObject.on('Post','created', function(post){
    //when a new post is created, this function is fired. 
});
   
</textarea>
</div>

<div id="Search-js" class="code-snipper-wrapper">
    <textarea id="objectSearch-js" disabled="true">
//create a new CloudSearch Object and pass table name in the constructor.
var cs = new CB.CloudSearch('Post',searchQuery);

//create a new SearchQuery
var searchQuery = new CB.SearchQuery();
searchQuery.searchOn('text', 'Your search text here');

cs.searchQuery = searchQuery;

cs.search({
    success : function(list){
        //list is an array of CloudObjects of Post Table.
    },error : function(error){
        //error
    }
});
    </textarea>

</div>


<div id="Insert-java" class="code-snipper-wrapper">                           
<textarea id="objectInsert-java" disabled="true">

CloudObject obj = new CloudObject("Post");
ob.set("text", "your text here");

Callback callbackObj = new Callback(){
    @Override
    public void success() {
        //success
    }
    @Override
    public void error() {
        //error
    }
};

obj.save(callbackObj);

</textarea>
</div>
<div id="Realtime-java" class="code-snipper-wrapper">
<textarea id="objectRealtime-java" disabled="true">

CloudObject obj = new CloudObject("Post");
//intializing CloudNotificationMethod, and overriding methods 
CloudNotificationMethod callbackObj = new CloudNotificationMethod(){ 
    @Override 
    public void onMethod(Object data) { // override this function as per your requirnment. 
        //data is an instance of CloudObject
    } 
}; 
obj.on("Post", "created",  callbackObj);

</textarea>
</div>
<div id="Search-java" class="code-snipper-wrapper">
    <textarea id="objectSearch-java" disabled="true">
    
CloudSearch cs = new CloudSearch('Post');

//create a new SearchQuery
SearchQuery searchQuery = new SearchQuery();
searchQuery.searchOn('text', 'Your search text here');

cs.setSearchQuery(searchQuery);

Map&lt;String, Object&gt;[] searchResultList;

CloudSearchCallback callbackObj = new CloudSearchCallback(){
    @Override
    public void success(list) {
        //list is an array of CloudObject
    }
    @Override
    public void error() {
        //error
    }
};
cs.search(callbackObj);
    </textarea>
</div>
                            
</div>
</div>  
    <div class="bottomBar cf flex-general-row-wrapper">

        <div class="bottomBarIcon cf">
            <div class="pull-left icon-wrapper">
                <div  id="InsertIcon" class="bottomBarIconHover" style="margin-left:15%;">
                    <center>
                        <i class="fa fa-database" ></i>
                        <div class="bottomText">STORAGE</div>
                    </center>
                </div>
            </div>
            <div class="pull-right verticalDivider"></div>
         </div>
       
        <div class="bottomBarIcon cf">
            <div class="pull-left icon-wrapper bottomBarIconHover " id="RealtimeIcon">
                <div style="margin-left:27px;">
                    <center>
                        <i class="fa fa-comment"></i>
                        <div class="bottomText">REALTIME</div>
                    </center>
                </div>
            </div>
            <div class="pull-right verticalDivider">
            </div>
        </div>
        
        <div class="bottomBarIcon">

            <div class="bottomBarIconHover icon-wrapper cf" id="SearchIcon">         
                <div style="margin-left:15%;">
                    <center>
                        <i class="fa fa-search"></i>
                        <div class="bottomText">SEARCH</div>
                    </center>
                </div>
            </div>
        </div>

      </div>  
    </div>
</div><!--//container-->        
</section>
<!--//promo-->
    
    <div class="sections-wrapper" >

        <!-- ******Why Section****** -->
        <section id="why" class="section why">
            <div class="container">
                <h5 class="text-center" style="color:#898989">LET US TAKE CARE OF YOUR INFRASTRUCTURE</h5>
                <h2 class="title text-center" style="font-size:50px; color:#565656">Focus on your app</h2>
                <p class="intro text-center"> CloudBoost can power your app's backend, including data storage, user authentication, real-time notifications, search and more. Focus on creating extraordinary user experiences for your users. We'll take care of the rest. </p>
                <p class="intro text-center"><a class="text-center btn btn-cta btn-cta-primary" style="font-size:20px;" href="https://dashboard.cloudboost.io/accounts/#/signup"><i class="fa fa-rocket"></i>&nbsp;SIGN UP FOR FREE</a></p>
                <div class="row item">
                    <div class="content col-md-offset-1 col-md-4 col-sm-12 col-xs-12">
                        <h3 class="title">Build realtime apps, effortlessly. </h3>
                        <div class="desc">
                            <p> When data changes, apps built with CloudBoost update instantly across every device -- web or mobile. Get an instant notification when data is inserted, updated, or deleted. </p>
                        </div>
                    </div><!--//content-->
                    <figure class="figure col-md-6 col-sm-12 col-xs-12 col-sm-offset-0 col-xs-offset-0">
                        <img class="img-responsive" style="height:175px" src="/images/figures/realtime_notification.gif" alt="Realtime Notifications with CloudBoost" />
                    </figure>
                </div><!--//item-->

                <div class="row item last-item">
                    <div class="content col-md-5 col-sm-12 col-xs-12 col-md-push-6 col-sm-push-0 col-xs-push-0" style="margin-top:50px;">
                        <h3 class="title">Implement search engine in your apps with CloudSearch.</h3>
                        <div class="desc">
                            <p> Implementing a search engine in your app can never be much easier. We index your data for search and let your users use our CloudSearch feature to get most accurate and relevant data as possible.  </p>
                        </div>
                    </div><!--//content-->
                    <figure class="figure col-md-4 col-sm-12 col-xs-11 col-md-pull-4 col-sm-pull-0 col-xs-pull-1">
                        <img class="img-responsive"  style="height:350px" src="
                        /images/figures/appSearch.gif" alt="CloudSearch : Database service with Search" />
                    </figure>
                </div><!--//item-->

                <div class="row item">
                    <div class="content col-md-offset-1 col-md-4 col-sm-12 col-xs-12" style="margin-top:50px">
                        <h3 class="title">Store documents, stream music &amp; videos using CloudFiles. </h3>
                        <div class="desc">
                            <p> We automatically process your files as soon as you upload them on CloudBoost, so they're always ready. Store documents, stream music or videos in near real-time.  </p>
                        </div>
                    </div><!--//content-->
                    <figure class="figure col-md-6 col-sm-12 col-xs-12 col-sm-offset-0 col-xs-offset-0">
                       <img class="img-responsive" style="height:350px" src="/images/figures/file.gif" alt="" />
                    </figure>
                </div><!--//item-->

              

                <div class="row item last-item">
                    <!--<div class="content col-md-5 col-sm-12 col-xs-12 col-md-push-6 col-sm-push-0 col-xs-push-0">
                        <h3 class="title">Your data is safe. Always!</h3>
                        <div class="desc">
                            <p>The safety and security of your data is our top priority. CloudBoost  allows you to restrict reading and writing via granular access controls and custom authentication. </p>
                            <p>We automatically backup and replicate all your data in secure-locations around the world. </p>
                        </div>

                    </div>
                    <figure class="figure col-md-4 col-sm-12 col-xs-11 col-md-pull-4 col-sm-pull-0 col-xs-pull-1">
                        <img class="img-responsive" style="height:175px" src="/images/figures/shield.png" alt="Data security : Your data is secure."/>
                    </figure>-->
                    <section class="twittr-feed">
                        <!--head-->
                        <div class="flex-general-column-wrapper-center" style="width:100%;padding:2px;">
                            <div style="font-size:25px;font-weight:700">
                                From Wall of Love
                            </div>    
                        </div>  
                        <!--content-->
                        <div id="tweetwrapper cf" style="padding-top:12px;">
                            
                            <div class="tweetparent cf">                       
                            </div>      
                               
                        </div>
                        <!--footer-->
                        <div class="flex-general-column-wrapper-center" style="width:100%;padding-top:2px;padding-bottom:16px;margin-top:-15px;">
                            <div class="flex-general-column-wrapper-center" style="position:relative !important;width:100%;">
                                <div class="flex-general-column-wrapper-center" style="cursor:pointer !important;position:absolute !important; z-index:99999;width:160px;width:100%;">
                                    <a href="https://twitter.com/cloudboostlove" target="_blank" style="font-size:16px !important;cursor:pointer !important;">See more cards
                                        <i class="fa fa-arrow-right"></i>
                                    </a>            
                                </div>
                            </div>    
                            
                        </div>  
                    </section>
                </div>

                 <div class="row item last-item">

                    <center>
                        <h2 class="title" style="margin-left:auto !important; margin-right:auto !important; width:50%">We've built SDK's that work on every platform. </h2>
                    </center>

                    <div>
                      <figure class="figure col-md-8 col-sm-12 col-xs-8 col-md-offset-2 col-xs-offset-2">
                       <a href="https://docs.cloudboost.io">
                        <img class="img-responsive"  src="/images/frameworks.png" alt="AngularJS, NodeJS, ReactJS, EmberJS, Java, JavaScript SDK's"/>
                       </a>
                      </figure>
                    </div>

                </div><!--//item-->

                <div class="feature-lead text-center">
                     <h2 class="title text-center" style="font-size:35px; color:#565656">Want to quickly get up and running?</h2>
                     <br/>
                     <p class="intro text-center"><a class="text-center btn btn-cta btn-cta-primary" style="font-size:20px;" href="/quickstart"><i class="fa fa-arrow-circle-right"></i>&nbsp;See our Quickstart</a></p>
                </div>
            </div><!--//container-->
        </section><!--//why-->       

        <section id="cta" class="section cta-section text-center home-cta-section">
            <% include ./partials/bottom_banner %>
        </section>

    </div><!--//section-wrapper-->    

    <!--footer-->
    <footer class="footer">
        <% include ./partials/footer %>
    </footer> 
    <!--scripts-->
    <% include ./partials/commonScripts %> 
    
    <!-- Video Modal -->
    <div class="modal modal-video" id="modal-video" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 id="videoModalLabel" class="modal-title sr-only">What is CLoudBoost?</h4>
                </div>
                <div class="modal-body">
                    <div class="video-container">
                        <iframe width="720" height="405" src="https://www.youtube.com/embed/CupmYkNzXnE" frameborder="0" allowfullscreen></iframe>
                    </div><!--//video-container-->
                </div><!--//modal-body-->
            </div><!--//modal-content-->
        </div><!--//modal-dialog-->
    </div><!--//modal-->  

<!--********************************************************************************************-->

<!--Slack chat-->
<a href="http://slack.cloudboost.io" target="_blank">
    <div class="intercomm flex-general-column-wrapper-center">    
        <i class="icon ion-ios-chatboxes" style="font-size:26px !important; color:white;margin-top:3px;"></i>
    </div> 
</a>
<!--/Slack chat-->

<script type="text/javascript" src="/controllers/indexController.js"></script>
<script type="text/javascript" src="/bower_components/underscrore/underscore.js"></script>    
<!--<script type="text/javascript" src="/js/owlcarousel/owl.carousel.js"></script> -->
<script type="text/javascript" src="/bower_components/slick-carousel/slick/slick.js"></script>
<script type="text/javascript" src="/bower_components/q/q.js"></script>
<script type="text/javascript">  
    
       $(document).ready(function(){
            $('.tweetparent').slick({                
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 2000,
                infinite:true,
                centerMode: true,
                slidesToShow:3,
                slidesPerRow:1,
                accessibility:false,
                arrows:false,
                initialSlide:0,
                respondTo:'slider'                
            });

            /*$('#myCarousel').carousel({
                interval: 200,
                wrap:true
            });*/

            /*slider=$(".tweetparent").lightSlider({
                item: 3,
                autoWidth: false,
                slideMove: 1, // slidemove will be 1 if loop is true
                slideMargin: 10 ,
                auto: true,
                mode: "slide",
                loop: true,  
                easing: 'linear',
                controls:true,
                pager:true             
            });*/
       });
        
            
        $.get(selfServerUrl+'/twitter/search',function(list, status){
            if(status=="success"){
                //console.log(list);                
                var promises=[];
                var tweertIds=[];
                for(var i=0;i<list.twitterFeed.length;++i){
                    //console.log(list.twitterFeed[i].entities.user_mentions[0]);
                    var tweetId=list.twitterFeed[i].id_str;
                    
                    //tweetId=JSON.stringify(tweetId);
                    //tweetId=20;
                    promises.push(getEachTweetById(tweetId));
                    tweertIds.push(tweetId);                
                    
                }

                Q.all(promises).then(function(dList){
                    //console.log(dList);
                  
                    appendTweet(dList,tweertIds);
                    appendTweet(dList,tweertIds);
                    appendTweet(dList,tweertIds);
                    appendTweet(dList,tweertIds);
                                       
                    
                    $(".tweetparent").slick('slickGoTo',true); 
                    
                },function(error){
                    console.log(error);
                });              
                        
            }else{
              console.log(status);
            }        
        });  

        function getEachTweetById(tweetId){
            var q=Q.defer();
            $.get(selfServerUrl+'/twitter/'+tweetId,function(twitterObj, newstatus){
                if(newstatus=="success"){ 
                   q.resolve(twitterObj);
                }else{
                    q.reject(newstatus);                    
                }
            }); 

            return  q.promise;  
        }

        function appendTweet(dList,tweertIds){
            var duplicateId=[];
            for(var i=0;i<dList.length;++i){
                
                var htmlTemp='<div class="tweetbody">';                    
                       htmlTemp+=dList[i].html;                            
                    htmlTemp+='</div>';

                if(duplicateId.length>0){
                    if(duplicateId.indexOf(tweertIds[i])<0){
                        duplicateId.push(tweertIds[i]);
                        $(".tweetparent").slick('slickAdd',htmlTemp); 
                    }
                }else{
                    duplicateId.push(tweertIds[i]);
                    $(".tweetparent").slick('slickAdd',htmlTemp); 
                }

                // $(".newtwitter").append(htmlTemp);                   

            }
        }
          
        
    </script>

</body>
</html>
