<!DOCTYPE html>
<html lang="en">
<head>
    <title>CloudBoost | NoSQL Database as a Service</title> 
    <base href="/">   
    <meta charset="utf-8">    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="CloudBoost | NoSQL Database as a Service"/>
    <meta name="description" content="CloudBoost is one complete Database Solution for your apps which does data-storage, search and realtime, graphs, time-series and much more.">
    <meta name="keywords" content="database service,database as a service, hybrid database, cloudboost, search, realtime, storage, app storage, nosql">
    <meta name="fragment" content="!"/>  
    <!--common head links-->  
    <% include ./partials/commonHead %>
    <link rel="stylesheet" href="/bower_components/slick-carousel/slick/slick.css"> 
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.8/slick-theme.css"/>
    <link rel="stylesheet" type="text/css" href="/css/trendingBox.css"/>
</head>

<body>

<!--header-->
<header id="header" class="header">
  <% include ./partials/header %>
</header>

<!--Content-->
<!--********************************************************************************************-->
<div style="height:100%">

    <!--<div class="bg-slider-wrapper">
        <div class="flexslider bg-slider">
            <ul class="slides">
                <li class="slide slide-1"></li>
                <li class="slide slide-2"></li>
                <li class="slide slide-3"></li>
            </ul>
        </div>
    </div>-->

    <div class="index-bg">
    </div>

    <section class="promo section trendingbox-section">
        <div class="trendingbox-section-wrap">
            <% include ./partials/trendingBox %> 
        </div>                  
    </section>
    
    
    <div class="sections-wrapper">

        <!-- ******Why Section****** -->
        <section id="why" class="section why">
            <div class="container">
                <h5 class="text-center" style="color:#898989">LET US TAKE CARE OF YOUR INFRASTRUCTURE</h5>
                <h2 class="title text-center" style="font-size:50px; color:#565656">Focus on your app</h2>
                <p class="intro text-center"> CloudBoost can power your app's backend, including data storage, user authentication, real-time notifications, search and more. Focus on creating extraordinary user experiences for your users. We'll take care of the rest. </p>
                <p class="intro text-center">
                    <a id="home-body-signup-btn" class="text-center btn btn-cta" style="background-color:#159CEE !important; color:white;font-size:20px;" href="https://dashboard.cloudboost.io/accounts/#/signup"><i class="fa fa-rocket"></i>&nbsp;SIGN UP FOR FREE</a>
                </p>                 
            </div> 
            <!--End-->                
        </section>   
       
       <section id="why" class="section why">
            <div class="widget-feature-ribbon">
                <div class="container" style="height:100%;">               
                    <div class="row" style="height:100%;">
                        <div class="content neo-features-wrap solo-horizontal-center">

                            <div class="neo-features-contain flex-general-row-wrapper">
                                <div class="each-feature-wrap storagefeat" data-featname="storage">
                                    <div class="each-feature">
                                        <div class="featureicon flex-general-column-wrapper-center">
                                            <i class="fa fa-database"></i>
                                        </div>
                                        <div class="featurelabel flex-general-column-wrapper-center">
                                            <span>STORAGE</span>
                                        </div>                                                                           
                                    </div>
                                    <div class="active-featuretail-wrap solo-horizontal-center">
                                        <div class="active-featuretail"></div>
                                    </div> 
                                </div>

                                <div class="each-feature-wrap searchfeat" data-featname="search">
                                    <div class="each-feature">
                                        <div class="featureicon flex-general-column-wrapper-center">
                                            <i class="fa fa-search"></i>
                                        </div>
                                        <div class="featurelabel flex-general-column-wrapper-center">
                                            <span>SEARCH</span>
                                        </div>                                    
                                    </div>
                                   <div class="active-featuretail-wrap solo-horizontal-center">
                                        <div class="active-featuretail"></div>
                                    </div> 
                                </div>

                                <div class="each-feature-wrap realtimefeat" data-featname="realtime">
                                    <div class="each-feature">
                                        <div class="featureicon flex-general-column-wrapper-center">
                                            <i class="fa fa-comment"></i>
                                        </div>
                                        <div class="featurelabel flex-general-column-wrapper-center">
                                            <span>REALTIME</span>
                                        </div>                                    
                                    </div>
                                    <div class="active-featuretail-wrap solo-horizontal-center">
                                        <div class="active-featuretail"></div>
                                    </div> 
                                </div>

                                <div class="each-feature-wrap queuesfeat" data-featname="queues">
                                    <div class="each-feature">
                                        <div class="featureicon flex-general-column-wrapper-center">
                                            <i class="fa fa-exchange"></i>
                                        </div>
                                        <div class="featurelabel flex-general-column-wrapper-center">
                                            <span>QUEUES</span>
                                        </div>                                    
                                    </div>
                                    <div class="active-featuretail-wrap solo-horizontal-center">
                                        <div class="active-featuretail"></div>
                                    </div> 
                                </div>

                                <div class="each-feature-wrap cachefeat" data-featname="cache">
                                    <div class="each-feature">
                                        <div class="featureicon flex-general-column-wrapper-center">
                                            <i class="fa fa-bolt"></i>
                                        </div>
                                        <div class="featurelabel flex-general-column-wrapper-center">
                                            <span>CACHE</span>
                                        </div>                                    
                                    </div>
                                    <div class="active-featuretail-wrap solo-horizontal-center">
                                        <div class="active-featuretail"></div>
                                    </div> 
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="container" style="margin-top:2%;">               
                <div class="row neo-showcasecode">              

                    <div class="content col-md-offset-1 col-md-5 col-sm-5 col-xs-12  neo-codedemon-wrap">
                        <div class="explaincode">
                           <div class="todos-explain">
                                <div class="introrap">
                                    <div class="intro1">
                                        <span style="color:#159CEE;font-size:26px;font-weight:100;line-height:27px;">Rock solid performance and scale. Store data. Any data.</span>
                                    </div>

                                    <div class="intro2" style="margin-top:12px;">
                                       <span style="color:#383838;font-size:16px;">Our API ensures compatibility with a variety of development tools, platforms and app infrastructures. Eliminate the risk and cost involved with scale thanks to CloudBoost's horizontal scaling architecture. Our Enhanced features ensure data is always available and durable throughout any situation.</span> 
                                    </div>
                                </div>
                           </div>                                                      
                        </div>
                    </div>

                    <div class="content col-md-6 col-sm-6 col-xs-12  neo-widget-wrap">
                        <div class="neo-widget-contain card-1">

                            <div class="lang-flipper-wrap flex-general-row-wrapper">
                                <div class="lang-fliprlabel solo-vertical-center jstab" data-langname="js">
                                    <span>Javascript</span>
                                </div>
                                <div class="lang-fliprlabel solo-vertical-center nodejstab" data-langname="nodejs">
                                    <span>Nodejs</span>
                                </div>
                                <div class="lang-fliprlabel solo-vertical-center javatab" data-langname="java">
                                    <span>Java</span>
                                </div>
                            </div>

                            <!--Storage-->
                            <div id="div-storage-js">
                                <textarea class="appcode-widget" id="storage-js">var obj = new CB.CloudObject('TableName');
obj.set('ColumnName', "AnyData");
obj.save({
    success : function(obj){        
        console.log(obj.id); 
    },error : function(error){
        console.log(error);
    }
});
                                </textarea>
                            </div>

                            <div id="div-storage-nodejs">
                                <textarea class="appcode-widget" id="storage-nodejs">
var obj = new CB.CloudObject('TableName');
obj.set('ColumnName', "AnyData");
obj.save({
    success : function(obj){        
        console.log(obj.id); 
    },error : function(error){
        console.log(error);
    }
});
                                </textarea>
                            </div>

                            <div id="div-storage-java">
                                <textarea class="appcode-widget" id="storage-java">
CloudObject obj = new CloudObject('TableName');
obj.set('ColumnName', "AnyData");
obj.save(new CloudObjectCallback(){
    @Override
    public void done(CloudObject x, CloudException e)throws CloudException {
        if(e != null)
            //error
        if(x!=null)
            //cloudObject
    }
});
                                </textarea>
                            </div>
                            <!--/Storage-->

                            <!--Search-->
                            <div id="div-search-js">
                                <textarea class="appcode-widget" id="search-js">
var cs = new CB.CloudSearch("Student");                                
cs.searchQuery = new CB.SearchQuery();
cs.searchQuery.searchOn('name','John');
cs.search({
  success: function(list) {
    //list is an array of relevant CloudObjects    
  },
  error: function(error) {
    //error
  }
});
                                </textarea>
                            </div>

                            <div id="div-search-nodejs">
                                <textarea class="appcode-widget" id="search-nodejs">
var cs = new CB.CloudSearch("Student");                                
cs.searchQuery = new CB.SearchQuery();
cs.searchQuery.searchOn('name','John');
cs.search({
  success: function(list) {
    //list is an array of relevant CloudObjects    
  },
  error: function(error) {
    //error
  }
});
                                </textarea>
                            </div>

                            <div id="div-search-java">
                                <textarea class="appcode-widget" id="search-java">
CloudSearch cs = new CloudSearch("Student");
SearchQuery searchQuery = new SearchQuery();
searchQuery.searchOn('name','John');
cs.search(new CloudObjectArrayCallback(){
    @Override
    public void done(CloudObject[] x, CloudException e) throws CloudException {
        if( e != null){
            //error
        }
        if(x!=null){
            //cloudObject
        }
    }
});
                                </textarea>
                            </div>
                            <!--/Search-->


                            <!--Realtime-->
                            <div id="div-realtime-js">
                                <textarea class="appcode-widget" id="realtime-js">
//Start Listening                                
CB.CloudNotification.on('ChannelName',function(data){
        //data can be anything you publish to a channel. Can be a string, number, object etc. 
}});

//Publish
CB.CloudNotification.publish('ChannelName','data');
                                </textarea>
                            </div>

                            <div id="div-realtime-nodejs">
                                <textarea class="appcode-widget" id="realtime-nodejs">
//Start Listening                                
CB.CloudNotification.on('ChannelName',function(data){
        //data can be anything you publish to a channel. Can be a string, number, object etc. 
}});

//Publish
CB.CloudNotification.publish('ChannelName','data');
                                </textarea>
                            </div>

                            <div id="div-realtime-java">
                                <textarea class="appcode-widget" id="realtime-java">
//Start Listening                                
CloudNotification.on('ChannelName',new CloudNotificationCallback(){
        //data can be anything you publish to a channel. Can be a string, number, object etc. 
}});

//Publish
CloudNotification.publish('ChannelName','data');
                                </textarea>
                            </div>
                            <!--/Realtime-->


                            <!--Queues-->
                            <div id="div-queues-js">
                                <textarea class="appcode-widget" id="queues-js">
var queue = new CB.CloudQueue('QueueName');
queue.addMessage('sample', {
    success : function(queueMessage){
        //queueMessage is an instance of CB.QueueMessage class.
        console.log(queueMessage.id);
    }, error : function(error){
        console.log(error);
    }
});
                                </textarea>
                            </div>

                            <div id="div-queues-nodejs">
                                <textarea class="appcode-widget" id="queues-nodejs">
var queue = new CB.CloudQueue('QueueName');
queue.addMessage('sample', {
    success : function(queueMessage){
        //queueMessage is an instance of CB.QueueMessage class.
        console.log(queueMessage.id);
    }, error : function(error){
        console.log(error);
    }
});
                                </textarea>
                            </div>

                            <div id="div-queues-java">
                                <textarea class="appcode-widget" id="queues-java">
//Coming soon
                                </textarea>
                            </div>
                            <!--/Queues-->

                            <!--Cache-->
                            <div id="div-cache-js">
                                <textarea class="appcode-widget" id="cache-js">
var cache = new CB.CloudCache('CacheName');
var item = {'name':'John Doe', 'age':24, 'sex':'MALE'};
cache.set('sample',item, {
    success : function(item){
        //item is the object that you added to the cache.
        console.log(item);
    }, error : function(error){
        console.log(error);
    }
});
                                </textarea>
                            </div>

                            <div id="div-cache-nodejs">
                                <textarea class="appcode-widget" id="cache-nodejs">
var cache = new CB.CloudCache('CacheName');
var item = {'name':'John Doe', 'age':24, 'sex':'MALE'};
cache.set('sample',item, {
    success : function(item){
        //item is the object that you added to the cache.
        console.log(item);
    }, error : function(error){
        console.log(error);
    }
});
                                </textarea>
                            </div>

                            <div id="div-cache-java">
                                <textarea class="appcode-widget" id="cache-java">
//Coming soon
                                </textarea>
                            </div>
                            <!--/Cache-->
                                                      
                        </div>
                    </div>

                </div>                              
            </div>

            <div class="container" style="">               
                <div class="row" style="">
                    <div class="text-center" style="margin-top:60px;">
                         <h2 class="title text-center" style="font-size:35px; color:#565656;font-weight:100 !important;">Want to quickly get up and running?</h2>
                         <br/>
                         <div style="width:100%" class="flex-general-column-wrapper-center">
                             <div style="width:50%" class="flex-general-row-wrapper">
                                <p class="intro text-center">
                                    <a id="home-body-quickstart-btn" class="text-center btn btn-cta" style="background-color:#159CEE !important; color:white;font-size:20px;" href="/quickstart">
                                        <i class="fa fa-bolt"></i>&nbsp;See our Quickstart
                                    </a>
                                </p>
                                 <p class="intro text-center">
                                    <a id="home-body-compare-btn" class="text-center btn btn-cta" style="" href="/compare">
                                        <i class="fa fa-arrow-circle-right"></i>&nbsp;Compare us with others
                                    </a>
                                </p>
                             </div>
                         </div>
                    </div>
                </div>
            </div>        

        </section>
                 

        <section id="why" class="section sampleapps-section" style="padding-top:20px;padding-bottom:50px;">
            <div class="container">               
                <div class="row">
                    <div class="content col-md-12 col-sm-12 col-xs-12">
                       <div class="sampleapps-intro1 solo-horizontal-center">
                           <span class="title" style="font-size:35px;font-weight:100;">What can you build with CloudBoost?</span>
                           <span class="title" style="font-size:35px;font-weight:400;">&nbsp;Everything.</span>
                       </div>
                       <div class="sampleapps-intro2 solo-horizontal-center">
                           <span class="title" style="font-size:25px;font-weight:100;">Checkout the clones of world's most popular apps built on CloudBoost.</span>
                       </div>
                    </div>
                </div>

                <div class="row" style="margin-top:30px;">
                    <a href="https://github.com/CloudBoost/whatsapp" target="_blank" class="clonelinks whatsappclone content col-md-offset-1 col-md-2 col-sm-2 col-xs-12">
                       <div class="sampleapp-bx">
                           <div class="icon flex-general-column-wrapper-center">
                               <img src="/images/whatsapp.png">
                            </div>

                            <div class="name flex-general-column-wrapper-center">
                               <span style="">Whatsapp</span>                               
                            </div>                            
                       </div>                       
                    </a>

                    <a href="https://github.com/CloudBoost/tinderclone" target="_blank" class="clonelinks tinderclone content col-md-2 col-sm-2 col-xs-12">
                       <div class="sampleapp-bx">
                           <div class="icon flex-general-column-wrapper-center">
                               <img src="/images/tinder.png">
                            </div>

                            <div class="name flex-general-column-wrapper-center">
                               <span style="">Tinder</span>                               
                            </div>
                           
                       </div>                       
                    </a>

                    <a href="https://github.com/CloudBoost/slack" target="_blank" class="clonelinks slackclone content col-md-2 col-sm-2 col-xs-12">
                       <div class="sampleapp-bx">
                           <div class="icon flex-general-column-wrapper-center">
                               <img src="/images/slack.png">
                            </div>

                            <div class="name flex-general-column-wrapper-center">
                               <span style="">Slack</span>                               
                            </div>
                       </div>                       
                    </a>

                    <a href="https://github.com/CloudBoost/sample-hackernews" target="_blank" class="clonelinks hnewsclone content col-md-2 col-sm-2 col-xs-12">
                       <div class="sampleapp-bx">
                           <div class="icon flex-general-column-wrapper-center">
                               <img src="/images/hackernews.png">
                            </div>

                            <div class="name flex-general-column-wrapper-center">
                               <span style="">Hacker News</span>                               
                            </div>
                       </div>                       
                    </a>

                    <a href="https://github.com/CloudBoost/instagram" target="_blank" class="clonelinks instagramclone content col-md-2 col-sm-2 col-xs-12">
                       <div class="sampleapp-bx">
                           <div class="icon flex-general-column-wrapper-center">
                               <img src="/images/instagram.png">
                            </div>

                            <div class="name flex-general-column-wrapper-center">
                               <span style="">Instagram</span>                               
                            </div>                           
                       </div>                       
                    </a>

                </div>

            </div>
        </section>
        

        <section class="twittr-feed">
            <!--head-->
            <div class="flex-general-column-wrapper-center" style="width:100%;padding:2px;">
                <div style="font-size:30px;">
                    <i class="fa fa-twitter" style="color:#5EA9DD;font-size:30px;"></i>&nbsp;From Wall of Love
                </div>    
            </div>  
            <!--content-->
            <div id="tweetwrapper cf" style="padding-top:12px;">
                
                <div class="tweetparent cf">                       
                </div>      
                   
            </div>
            <!--footer-->
            <div class="flex-general-column-wrapper-center" style="width:100%;padding-top:2px;padding-bottom:16px;margin-top:-15px;">
                <div class="flex-general-column-wrapper-center" style="position:relative !important;width:100%;height:auto;">
                    <div class="flex-general-column-wrapper-center" style="cursor:pointer !important;z-index:99999;width:100%;">
                        <div>
                            <a href="https://twitter.com/cloudboostlove" target="_blank" style="font-size:16px !important;cursor:pointer !important;">See more cards
                            <i class="fa fa-arrow-right"></i>
                            </a> 
                        </div>           
                    </div>
                </div>    
                
            </div>  
        </section>

        <section id="why" class="section why platforms-section">
            <div class="container">               
                <div class="row">
                    <div class="content col-md-12 col-sm-12 col-xs-12">
                       <div class="platforms-intro1 solo-horizontal-center">
                           <p class="title" style="font-size:35px;">
                            An <span style="font-weight:400;">Open Source Platform</span> to build Scalable Apps
                           </p>
                       </div>
                       <div class="platforms-intro2 solo-horizontal-center">
                           <span class="title" style="font-size:25px;">Install CloudBoost on any cloud and on any server.</span>
                       </div>
                    </div>
                </div>

                <div class="row" style="margin-top:30px;">
                    <div class="content col-md-12 col-sm-12 col-xs-12">
                       <div style="width:100%;" class="solo-horizontal-center"> 
                            <a href="https://github.com/CloudBoost/cloudboost" target="_blank" class="platform-bx dockerlink flex-general-column-wrapper-center">
                                <div class="logo flex-general-column-wrapper-center">
                                    <img src="/images/gitlogo.png" style="height:90%;">
                                </div>
                                <div class="name solo-horizontal-center">
                                    <span class="title" style="">Github</span>
                                </div>
                            </a>

                            <a href="https://github.com/CloudBoost/docker" target="_blank" class="platform-bx dockerlink flex-general-column-wrapper-center">
                                <div class="logo flex-general-column-wrapper-center">
                                    <img src="/images/dockerland.png" style="height:80%;">
                                </div>
                                <div class="name solo-horizontal-center">
                                    <span class="title" style="">Docker</span>
                                </div>
                            </a>

                            <a href="https://github.com/CloudBoost/kubernetes" target="_blank" class="platform-bx kuberneteslink flex-general-column-wrapper-center">
                                <div class="logo flex-general-column-wrapper-center">
                                    <img src="/images/Kubernetesland.png"  style="height:76%;">
                                </div>
                                <div class="name solo-horizontal-center">
                                    <span class="title">Kubernetes</span>
                                </div>
                            </a>
                                                      
                       </div>                       
                    </div>
                </div>
            </div>
        </section>            


        <section id="why" class="section">
            <div class="container">
                <div class="row last-item">

                    <center>
                        <h2 class="title" style="margin-left:auto !important; margin-right:auto !important; width:50%;font-weight:100 !important;font-size:35px;">We've built SDK's that work on every platform. </h2>
                    </center>

                    <div>
                      <figure class="figure col-md-8 col-sm-12 col-xs-8 col-md-offset-2 col-xs-offset-2">
                       <a href="https://docs.cloudboost.io">
                        <img class="img-responsive"  src="/images/frameworks.png" alt="AngularJS, NodeJS, ReactJS, EmberJS, Java, JavaScript SDK's"/>
                       </a>
                      </figure>
                    </div>

                </div><!--//item-->

                <div class="feature-lead text-center" style="margin-top:70px;">
                     <h2 class="title text-center" style="font-size:35px; color:#565656;font-weight:100 !important;">Want to quickly get up and running?</h2>
                     <br/>
                     <div style="width:100%" class="flex-general-column-wrapper-center">
                         <div style="width:50%" class="flex-general-row-wrapper">
                            <p class="intro text-center">
                                <a id="home-bottom-quickstart-btn" class="text-center btn btn-cta" style="background-color:#159CEE !important; color:white;font-size:20px;" href="/quickstart">
                                    <i class="fa fa-bolt"></i>&nbsp;See our Quickstart
                                </a>
                            </p>
                             <p class="intro text-center">
                                <a id="home-bottom-compare-btn" class="text-center btn btn-cta" style="" href="/compare">
                                    <i class="fa fa-arrow-circle-right"></i>&nbsp;Compare us with others
                                </a>
                            </p>
                         </div>
                     </div>
                </div>
            </div><!--//container-->
        </section><!--//why-->       

        <section id="cta" class="section cta-section text-center home-cta-section">
            <% include ./partials/bottom_banner %>
        </section>

    </div><!--//section-wrapper-->    

    <!--footer-->
    <footer class="footer">
        <% include ./partials/footer %>
    </footer> 
    <!--scripts-->
    <% include ./partials/commonScripts %> 
    
    <!-- Video Modal -->
    <div class="modal modal-video" id="modal-video" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 id="videoModalLabel" class="modal-title sr-only">What is CLoudBoost?</h4>
                </div>
                <div class="modal-body">
                    <div class="video-container">
                        <iframe width="720" height="405" src="https://www.youtube.com/embed/CupmYkNzXnE" frameborder="0" allowfullscreen></iframe>
                    </div><!--//video-container-->
                </div><!--//modal-body-->
            </div><!--//modal-content-->
        </div><!--//modal-dialog-->
    </div><!--//modal-->  

<!--********************************************************************************************-->

<script type="text/javascript" src="/controllers/indexController.js"></script>
<script type="text/javascript" src="/js/typed.js"></script>
<script type="text/javascript" src="/bower_components/slick-carousel/slick/slick.js"></script>
<script type="text/javascript" src="/bower_components/q/q.js"></script>
<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquerykeyframes/0.0.9/jquery.keyframes.min.js"></script>-->
<script type="text/javascript" src="/controllers/trendingBoxController.js"></script>
<script type="text/javascript">  
       
       var twitterDList; 
       var tweertIds=[];
       var windowScrolledTo;
       var twitterCardsAdded=false;
       $(document).ready(function(){
            $('.tweetparent').slick({                
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 2000,
                infinite:true,
                centerMode: true,
                slidesToShow:3,
                slidesPerRow:1,
                accessibility:false,
                arrows:false,
                initialSlide:0,
                respondTo:'slider'                
            });


            /*Twitter cards*/  
            //On Scroll to twitter cards
            $(window).scroll(function(e){                  
                windowScrolledTo=e.target.scrollingElement.scrollTop        
                //console.log(windowScrolledTo);

                if(windowScrolledTo>=750 && !twitterCardsAdded && twitterDList && twitterDList.length>0){
                    appendTweet(twitterDList,tweertIds);
                    appendTweet(twitterDList,tweertIds);
                    appendTweet(twitterDList,tweertIds);
                    appendTweet(twitterDList,tweertIds);
                    $(".tweetparent").slick('slickGoTo',true); 
                    twitterCardsAdded=true;
                }
            });
            /*Twitter cards*/
     
        });          
            
        $.get(selfServerUrl+'/twitter/search',function(list, status){
            if(status=="success"){
                //console.log(list);                
                var promises=[];                
                for(var i=0;i<list.twitterFeed.length;++i){
                    //console.log(list.twitterFeed[i].entities.user_mentions[0]);
                    var tweetId=list.twitterFeed[i].id_str;
                    
                    //tweetId=JSON.stringify(tweetId);
                    //tweetId=20;
                    promises.push(getEachTweetById(tweetId));
                    tweertIds.push(tweetId);                
                    
                }

                Q.all(promises).then(function(dList){
                    //console.log(dList);
                    twitterDList=dList;
                    positionAtTwitterCards();                    
                    
                },function(error){
                    console.log(error);
                });              
                        
            }else{
              console.log(status);
            }        
        });  

        function getEachTweetById(tweetId){
            var q=Q.defer();
            $.get(selfServerUrl+'/twitter/'+tweetId,function(twitterObj, newstatus){
                if(newstatus=="success"){ 
                   q.resolve(twitterObj);
                }else{
                    q.reject(newstatus);                    
                }
            }); 

            return  q.promise;  
        }

        function appendTweet(dList,tweertIds){
            var duplicateId=[];
            for(var i=0;i<dList.length;++i){
                
                var htmlTemp='<div class="tweetbody">';                    
                       htmlTemp+=dList[i].html;                            
                    htmlTemp+='</div>';

                if(duplicateId.length>0){
                    if(duplicateId.indexOf(tweertIds[i])<0){
                        duplicateId.push(tweertIds[i]);
                        $(".tweetparent").slick('slickAdd',htmlTemp); 
                    }
                }else{
                    duplicateId.push(tweertIds[i]);
                    $(".tweetparent").slick('slickAdd',htmlTemp); 
                }

                // $(".newtwitter").append(htmlTemp);                   

            }
        }

        function positionAtTwitterCards () {
            //If page opens at the place of twitter cards
            windowScrolledTo=$(window).scrollTop();
            var positionAtTwitterSlider=false;
            if(windowScrolledTo>=1800 && windowScrolledTo<=3000){
                positionAtTwitterSlider=true;
            }
            if(positionAtTwitterSlider && !twitterCardsAdded && twitterDList && twitterDList.length>0){
                appendTweet(twitterDList,tweertIds);
                appendTweet(twitterDList,tweertIds);
                appendTweet(twitterDList,tweertIds);
                appendTweet(twitterDList,tweertIds);
                $(".tweetparent").slick('slickGoTo',true); 
                twitterCardsAdded=true;
            }

        }
          
        
    </script>

</body>
</html>
