<!DOCTYPE html>
<html lang="en">
<head>
    <title>CloudBoost | Partners</title> 
    <base href="/">   
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="CloudBoost | Partners"/>
    <meta name="description" content="CloudBoost Partners : Join the CloudBoost Partner Program to earn client revenue share and access exclusive resources.">
    <meta name="keywords" content="partners, become a cloudboost partner,  baas, backend as a service, database as a service, hybrid database, cloudboost, search, realtime, storage, app storage, signup, cloudboost">
    <meta name="fragment" content="!"/>  
    <!--common head links-->  
    <% include ./partials/commonHead %>
</head>

<body>

<!--header-->
<header id="header" class="header">
  <% include ./partials/header %>
</header>

<!--Content-->
<!--********************************************************************************************-->
    <div class="headline-bg">
    </div><!--//headline-bg-->

     <section class="contact-section section section-on-bg" style="margin-bottom:-200px">
        <div class="container text-center">
            <h2 class="title text-center"> We help freelancers and agencies grow quicker. <br/> Let us help <b>rocket fuel</b> your growth. </h2>
            <p class="intro text-center"> Join the <b>CloudBoost Partner Program</b> to earn client revenue share and access exclusive resources.  It'll just take few lines of code to power your clients app with CloudBoost, saving you tons of time to focus on new projects. </p>
        </div><!--//container-->
    </section><!--//promo-->

    <br/><br/><br/></br><br/><br/></br><br/><br/></br>

     <!-- <section class="contact-other-section section">
            <div class="container text-center">
            <br/><br/><br/><br/><br/>
                <div class="row">
                    <ul class="other-info list-unstyled col-md-6 col-sm-10 col-xs-12 col-md-offset-3 col-sm-offset-1 xs-offset-0" >
                        <li><i class="fa fa-download"></i><b> <a href="https://api.cloudboost.io/sdk/js/1.0.0">Click here</a> to download the SDK</b></li>
                        <li><i class="fa fa-book"></i><b> <a href="https://docs.cloudboost.io/">Click here</a> to view our docs</b></li>
                       
                    </ul>
                </div>
            </div>
        </section> -->

       <section id="why" class="section why">
            <div class="container">
                <h2 class="title text-center">The best solution for your next project. </h2>  <br/> 
                <h3 class="title text-center">Search, realtime, storage a simple API call away.</h3>
                <div class="row item" style="border-bottom:0px; margin-bottom:-70px">
                    <div class="content col-md-offset-1 col-md-9 col-sm-12 col-xs-12">
                        <div class="quote">
                            <div class="quote-profile">
                               <div class="text-center" style="background:#549AFC; padding:10px; border-radius:50%; width:75px; height:75px; color:white;">
                                    <p style="font-size:2.3em"><i class="fa fa-book"></i></p>
                                </div>
                            </div><!--//profile-->
                            <div class="quote-content">
                                <p><b>Exclusive Resources : </b></a> We have exclusive resources for you so you dev team gets up and running as quickly as possible. We have made sure our API is super simple to understand and in the long run will save you a ton of development time. </p>
                            </div><!--//quote-content-->                                     
                        </div><!--//quote-->                        
                    </div><!--//content-->
                    
                </div><!--//item-->
                
                 <div class="row item" style="border-bottom:0px; margin-bottom:-70px">
                    <div class="content col-md-offset-1 col-md-9 col-sm-12 col-xs-12">
                        <div class="quote">
                            <div class="quote-profile" >
                                <div class="text-center" style="background:#549AFC; padding:10px; border-radius:50%; width:75px; height:75px; color:white;">
                                    <p style="font-size:2.3em"><i class="fa fa-life-ring"></i></p>
                                </div>
                            </div><!--//profile-->
                            <div class="quote-content">
                                <p><b>Great Support for Partners: </b></a> We have dedicated support ninjas to help you with any problems you have using the product, and your app development. We have a dedicated helpline so you can reach out to us. </p>
                            </div><!--//quote-content-->                                     
                        </div><!--//quote-->                        
                    </div><!--//content-->
                    
                </div><!--//item-->

                 <div class="row item" style="border-bottom:0px; margin-bottom:-70px">
                    <div class="content col-md-offset-1 col-md-9 col-sm-12 col-xs-12">
                        <div class="quote">
                            <div class="quote-profile" >
                                <div class="text-center" style="background:#549AFC; padding:10px; border-radius:50%; width:75px; height:75px; color:white;">
                                    <p style="font-size:2.3em"><i class="fa fa-money"></i></p>
                                </div>
                            </div><!--//profile-->
                            <div class="quote-content">
                                <p><b> Ongoing monthly revenue : </b> We give you flat 20% of what we make form your clients. As your client apps grow, you have a constant stream of revenue which will help you grow your business.  </p>
                            </div><!--//quote-content-->                                     
                        </div><!--//quote-->                        
                    </div><!--//content-->
                    
                </div><!--//item-->

                <div class="row item" style="border-bottom:0px; margin-bottom:-70px">
                    <div class="content col-md-offset-1 col-md-9 col-sm-12 col-xs-12">
                        <div class="quote">
                            <div class="quote-profile" >
                                <div class="text-center" style="background:#549AFC; padding:10px; border-radius:50%; width:75px; height:75px; color:white;">
                                    <p style="font-size:2.3em"><i class="fa fa-rocket"></i></p>
                                </div>
                            </div><!--//profile-->
                            <div class="quote-content">
                                <p><b> No limits on resources in development : </b> We never bog you down on the resources you use during development. You have all our Cloud. Well, that's one reason to use us and build your client apps on it. </p>
                            </div><!--//quote-content-->                                     
                        </div><!--//quote-->                        
                    </div><!--//content-->
                    
                </div><!--//item-->


                 <div class="row item" style="border-bottom:0px; margin-bottom:-70px">
                    <div class="content col-md-offset-1 col-md-9 col-sm-12 col-xs-12">
                        <div class="quote">
                            <div class="quote-profile" >
                                <div class="text-center" style="background:#549AFC; padding:10px; border-radius:50%; width:75px; height:75px; color:white;">
                                    <p style="font-size:2.3em"><i class="fa fa-flash"></i></p>
                                </div>
                            </div><!--//profile-->
                            <div class="quote-content">
                                <p><b> Build complicated features with ease : </b> We help you build complicated features with ease, by using our simple API - That's jack of all trades. </p>
                            </div><!--//quote-content-->                                     
                        </div><!--//quote-->                        
                    </div><!--//content-->
                    
                </div><!--//item-->

            </div><!--//container-->

            <br/><br/><br/><br/><br/><br/>

                <!-- Change the width and height values to suit you best -->
                <div class="typeform-widget" data-url="https://cloudboostio.typeform.com/to/XnJjbv" data-text="CloudBoost Partner Application" style="width:100%;height:500px;">
                </div>
                    <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()
                    </script>
                    <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;">Powered by <a href="http://www.typeform.com/?utm_campaign=typeform_XnJjbv&amp;utm_source=website&amp;utm_medium=typeform&amp;utm_content=typeform-embedded&amp;utm_term=English" style="color: #999" target="_blank">Typeform</a>
                    </div>

        </section>


    <!-- ******Steps Section****** -->
    <section class="steps section">
        <div class="container">
            <h2 class="title text-center">3 simple steps to be a <b>CloudBoost Partner.</b></h2>
            <div class="row">
                 <div class="step text-center col-md-4 col-sm-4 col-xs-12">
                     <h3 class="title"><span class="number">1</span><br /><span class="text">Reach out to us.</span></h3>
                     <p>Fill application form <a href="https://cloudboostio.typeform.com/to/XnJjbv">here </a> and tell us more about you, your team and why you want to be a partner.</p>
                 </div><!--//step-->
                 <div class="step text-center col-md-4 col-sm-4 col-xs-12">
                     <h3 class="title"><span class="number">2</span><br /><span class="text">One of our ninjas will reach out you.</span></h3>
                     <p>This usually takes 2 business days. One of our dedicated partner support monkeys will reach out to you. Equip your team with resources exclusive to our partners. Will be in constant touch with you to get product feedback and help your team, and make on-boarding process simpler.  </p>
                 </div><!--//step-->
                 <div class="step text-center col-md-4 col-sm-4 col-xs-12">
                     <h3 class="title"><span class="number">3</span><br /><span class="text">Party! You're in.</span></h3>
                     <p>Start experimenting and power your client's app with CloudBoost, We have features from data store, all the way to CloudNotificaions, and CloudSearch. Build your client's apps on CloudBoost to earn a revenue share and if you have a talented team. We get a ton of project requests. You'll earn more projects from us. </p>
                 </div><!--//step-->
            </div><!--//row-->

        </div><!--//container-->

    </section><!--//steps-->

    <section id="cta" class="section cta-section text-center home-cta-section">
        <% include ./partials/bottom_banner %>
    </section> 

    <!--footer-->
    <footer class="footer">
        <% include ./partials/footer %>
    </footer>   

    <!--scripts-->
    <% include ./partials/commonScripts %>   
    <script type="text/javascript">
        //Initialization
        $(document).ready(function(){         
            if(!__isDevelopment){
              /****Tracking************/            
               mixpanel.track('Visted Patners Page', {"visited":"visited Patners Page"});
              /****End of Tracking*****/
            }  
        });
        //Initialization
    </script>

<!--********************************************************************************************-->

</body>
</html>
