<!DOCTYPE html>
<html lang="en" if="twitter-wjs">
<head>
    <title>Pricing</title> 
    <base href="/">   
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="CloudBoost Pricing. Free plan to begin with and pay as you go as you scale.">
    <meta name="keywords" content="pricing, baas, backend as a service, database as a service, hybrid database, cloudboost, search, realtime, storage, app storage, signup, cloudboost">
    <meta name="fragment" content="!"/>  
    <!--common head links-->  
    <% include ./partials/commonHead %>  
    <!--<link rel="stylesheet" href="/js/owlcarousel/assets/owl.carousel.css"> -->
    <link rel="stylesheet" href="/bower_components/slick-carousel/slick/slick.css"> 
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.8/slick-theme.css"/>
    <link rel="stylesheet" type="text/css" href="bower_components/lightslider/dist/css/lightslider.min.css"/>
    

    <!-- Twitter -->
    <script>
        window.twttr = (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
          if (d.getElementById(id)) return t;
          js = d.createElement(s);
          js.id = id;
          js.src = "https://platform.twitter.com/widgets.js";
          fjs.parentNode.insertBefore(js, fjs);
         
          t._e = [];
          t.ready = function(f) {
            t._e.push(f);
          };
         
          return t;
        }(document, "script", "twitter-wjs"));
       
    </script>
    <!-- /Twitter -->
    
</head>

<body>

<!--header-->
<header id="header" class="header">
  <% include ./partials/header %>
</header>

<!--Content-->
<!--********************************************************************************************-->
   

    <div class="headline-bg pricing-headline-bg">
    </div><!--//headline-bg-->

    <!-- ******Pricing Section****** -->
    <section class="pricing section section-on-bg">
        <div class="container">

        <center>

        <h1 style="color:white; font-family:font-family: 'Signika', sans-serif; font-weight: 300; "> 
            <span style="font-weight: 700;">Pay-as-you-go </span> pricing. Simple and transparent</h1>
                        
            <div>             
                <h3 style="color:white; font-family:font-family: 'Signika', sans-serif; font-weight: 300; ">Free to use if your usage is <span style="color:white; font-family:font-family: 'Signika', sans-serif; font-weight: 800; ">below 50 USD/month</span>. Always!</h4>
            </div>

        </center>

            <p class="intro text-center"></p>
              <div class="price-cols row col-md-8 col-md-offset-2">

                    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                    
                    
                    <h3>API</h3>
                    <input type="text" id="api" name="example_name" value="" />
                    <span style="color:#696E6E">
                        <h4 class="pull-left">Requests / month</h4> <h4 class="pull-right">   $ <span id="apiText"></span> USD / month </h4> 
                    </span>

                    <br/><br/><br/>

                    <h3>Data Storage</h3>
                    <input type="text" id="storage" name="example_name" value="" />
                    <span style="color:#696E6E">
                        <h4 class="pull-left">Size of data stored</h4> <h4 class="pull-right"> $ <span id="storageText"></span> USD / month </h4> 
                    </span>

                    <br/><br/><br/>

                    <h3>Search</h3>
                    <input type="text" id="search" name="example_name" value="" />
                    <span style="color:#696E6E">
                        <h4 class="pull-left">Documents indexed for search</h4> <h4 class="pull-right"> $ <span id="searchText"></span> USD / month</h4> 
                    </span>

                    <br/><br/><br/>

                    <h3>Real-time (Pub / Sub)</h3>
                    <input type="text" id="realtime" name="example_name" value="" />
                    <div style="color:#696E6E">
                        <h4 class="pull-left">Concurrent Connections</h4> <h4 class="pull-right">$ <span id="realtimeText"></span> USD/ month</h4> 
                    </div>

                    <br/><br/><br/><br/><br/>
                    
                    <div>
                        <h2 class="title text-center pull-left" style="color:#6B6B6B">Total </h2> <h2 class="title text-center pull-right" style="color:#6B6B6B">$ <span id="totalText"></span> USD / month</h2> 
                    </div>
            </div>
        </div>
        <br/><br/>
         <div class="contact-lead text-center">
                <h3 class="title text-center" style="color:#6B6B6B"><b>Free $50 USD </b> every month for life. <br/></h3>
                <br/>
                <p class="intro text-center"><a class="text-center btn btn-cta btn-cta-primary" style="font-size:20px;" href="https://dashboard.cloudboost.io/accounts/#/signup"><i class="fa fa-rocket"></i>&nbsp;SIGN UP FOR FREE</a></p>
        </div>

        <!-- Change the width and height values to suit you best -->
    <div class="typeform-widget" data-url="https://cloudboostio.typeform.com/to/Y4JOQD" data-text="Enterprises" style="width:100%;height:500px;"></div>
<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
    <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;">Powered by <a href="http://www.typeform.com/?utm_campaign=typeform_Y4JOQD&amp;utm_source=website&amp;utm_medium=typeform&amp;utm_content=typeform-embedded&amp;utm_term=English" style="color: #999" target="_blank">Typeform</a></div>


    </section> 

    <!-- ******FAQ Section****** -->
    <section class="faq section has-bg-color">
        <div class="container">
          <h2 class="title text-center">Frequently Asked Questions</h2>
          <div class="row">
            <div class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1 col-xs-offset-0">
                    <div class="panel">
                        <div class="panel-heading" id="dfaq1" style="cursor:pointer">
                            <h4 class="panel-title"><a data-parent="#accordion"
                            data-toggle="collapse" class="panel-toggle"><i class="fa fa-plus-square"></i>What if I exceed the slider limits limits?</a></h4>
                        </div>

                        <div class="panel-collapse collapse" id="faq1">
                            <div class="panel-body">
                               <p>Call us. We have discounted pricing for you. </p>
                            </div>
                        </div>
                    </div><!--//panel-->

                    <div class="panel">
                        <div class="panel-heading" id="dfaq2" style="cursor:pointer">
                            <h4 class="panel-title"><a data-parent="#accordion"
                            data-toggle="collapse" class="panel-toggle"><i class="fa fa-plus-square"></i>Can I see my detailed metrics? </a></h4>
                        </div>

                        <div class="panel-collapse collapse" id="faq2">
                            <div class="panel-body">

                            Yes. Log in to your dashboard and you can.
                            </div>
                        </div>
                    </div><!--//panel-->

                    <div class="panel">
                        <div class="panel-heading" id="dfaq3" style="cursor:pointer">
                            <h4 class="panel-title"><a data-parent="#accordion"
                            data-toggle="collapse" class="panel-toggle"><i class="fa fa-plus-square"></i>Do you provide a backup of my data? </a></h4>
                        </div>

                        <div class="panel-collapse collapse" id="faq3">
                            <div class="panel-body">

                            We automatically backup your data twice a day and replicate your data every single time you save to three availability zones in 3 different data-centers across US, Europe and Asia. We’re working on a feature which helps you export your data which you have in CloudBoost to MongoDB / MySQL and others which we will launch in a month – If you want your data to be exported to any other database now (before we launch the feature). Shoot us an email and we’ll be happy to send you’re the dump of your data anytime you need. 
                            </div>
                        </div>
                    </div><!--//panel-->

                     <div class="panel">
                        <div class="panel-heading" id="dfaq4" style="cursor:pointer">
                            <h4 class="panel-title"><a data-parent="#accordion"
                            data-toggle="collapse" class="panel-toggle"><i class="fa fa-plus-square"></i>Where can I get CloudBoost Developers? </a></h4>
                        </div>

                        <div class="panel-collapse collapse" id="faq4">
                            <div class="panel-body">

                            Any developer can build apps on CloudBoost. We have SDK's launched on multiple languages. You can check them out <a href="https://docs.cloudboost.io">here.</a> We also have a consulting team who consults and builds your project for you. Feel free to talk to us if you want to choose that route. 
                            </div>
                        </div>
                    </div><!--//panel-->


                     <div class="panel">
                        <div class="panel-heading" id="dfaq5" style="cursor:pointer">
                            <h4 class="panel-title"><a data-parent="#accordion"
                            data-toggle="collapse" class="panel-toggle"><i class="fa fa-plus-square"></i>Do you have an SLA? </a></h4>
                        </div>

                        <div class="panel-collapse collapse" id="faq5">
                            <div class="panel-body">

                            Yes. We do. You can check it out <a href="/service-level-agreement">here.</a> 
                            </div>
                        </div>
                    </div><!--//panel-->

                    <div class="panel">
                        <div class="panel-heading" id="dfaq6"  style="cursor:pointer">
                            <h4 class="panel-title"><a data-parent="#accordion"
                            data-toggle="collapse" class="panel-toggle"><i class="fa fa-plus-square"></i>Can I add spending limits,  and cancel?</a></h4>
                        </div>

                        <div class="panel-collapse collapse" id="faq6">
                            <div class="panel-body">
                               Yes. You can change your CloudBoost App size or even cancel at any time from your dashboard. Note that we don't provide prorated refunds for downgrades or cancellations.
                            </div>
                        </div>
                    </div>

                    <div class="panel">
                        <div class="panel-heading" id="dfaq7"  style="cursor:pointer">
                            <h4 class="panel-title"><a data-parent="#accordion"
                            data-toggle="collapse" class="panel-toggle"><i class="fa fa-plus-square"></i> What kind of support will I receive?</a></h4>
                        </div>

                        <div class="panel-collapse collapse" id="faq7">
                            <div class="panel-body">
                                All paid CloudBoost Accounts come with email and phone support from CloudBoost engineers. Additional levels of support, including 24x7 phone support, are available to Enterprise customers.
                            </div>
                        </div>
                    </div><!--//panel-->

                    <div class="panel">
                        <div class="panel-heading" id="dfaq8"  style="cursor:pointer">
                            <h4 class="panel-title"><a data-parent="#accordion"
                            data-toggle="collapse" class="panel-toggle"><i class="fa fa-plus-square"></i>I'm awesome and I want to join your team.</a></h4>
                        </div>

                        <div class="panel-collapse collapse" id="faq8">
                            <div class="panel-body">
                                Feel free to reach out to us. Before you reach out : <br/>
                                #1 - We don't need people who are in it for the money <br/>
                                #2 - We need people who believe they can change the world. <br/>
                                #3 - If you enjoy learning crazy stuff, and love working with like-minded people. <br/><br/>
                                If this sounds like you. <a href="/joinus">Call us now.</a>
                            </div>
                        </div>
                    </div><!--//panel-->
                </div>
            </div><!--//row-->
            <div class="contact-lead text-center">
                <h4 class="title">Have more questions?</h4>
                <a class="btn btn-cta btn-cta-primary" href="/contact">Get in touch</a>
            </div>
        </div><!--//container-->
    </section><!--//faq-->   

    <section class="twittr-feed">
    <!--head-->
    <div class="flex-general-column-wrapper-center" style="width:100%;padding:2px;">
        <div style="font-size:25px;font-weight:700">
            From Wall of Love
        </div>    
    </div>  
    <!--content-->
    <div id="tweetwrapper cf" style="padding-top:12px;">
        
        <div class="tweetparent cf">                       
        </div>      
           
    </div>
    <!--footer-->
    <div class="flex-general-column-wrapper-center" style="width:100%;padding-top:2px;padding-bottom:16px;margin-top:-15px;">
        <div class="flex-general-column-wrapper-center" style="position:relative !important;width:100%;">
            <div class="flex-general-column-wrapper-center" style="cursor:pointer !important;position:absolute !important; z-index:99999;width:160px;width:100%;">
                <a href="https://twitter.com/cloudboostlove" target="_blank" style="font-size:16px !important;cursor:pointer !important;">See more cards
                    <i class="fa fa-arrow-right"></i>
                </a>            
            </div>
        </div>    
        
    </div>  
    </section> 

    <section id="cta" class="section cta-section text-center home-cta-section">
        <% include ./partials/bottom_banner %>
    </section>       

    <!--footer-->
    <footer class="footer">
        <% include ./partials/footer %>
    </footer> 

    <!--Slack chat-->
    <a href="http://slack.cloudboost.io" target="_blank">
        <div class="intercomm flex-general-column-wrapper-center">    
            <i class="icon ion-ios-chatboxes" style="font-size:26px !important; color:white;margin-top:3px;"></i>
        </div> 
    </a>
    <!--/Slack chat-->   

    <!--scripts-->
    <% include ./partials/commonScripts %>
    <script type="text/javascript" src="/bower_components/underscrore/underscore.js"></script>    
    <!--<script type="text/javascript" src="/js/owlcarousel/owl.carousel.js"></script> -->
    <script type="text/javascript" src="/bower_components/slick-carousel/slick/slick.js"></script>
    <script type="text/javascript" src="/bower_components/q/q.js"></script>


    <script type="text/javascript">  
    
       $(document).ready(function(){
            $('.tweetparent').slick({                
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 2000,
                infinite:true,
                centerMode: true,
                slidesToShow:3,
                slidesPerRow:1,
                accessibility:false,
                arrows:false,
                initialSlide:0,
                respondTo:'slider'                
            });

            /*$('#myCarousel').carousel({
                interval: 200,
                wrap:true
            });*/

            /*slider=$(".tweetparent").lightSlider({
                item: 3,
                autoWidth: false,
                slideMove: 1, // slidemove will be 1 if loop is true
                slideMargin: 10 ,
                auto: true,
                mode: "slide",
                loop: true,  
                easing: 'linear',
                controls:true,
                pager:true             
            });*/
       });
        
            
        $.get(selfServerUrl+'/twitter/search',function(list, status){
            if(status=="success"){
                //console.log(list);                
                var promises=[];
                var tweertIds=[];
                for(var i=0;i<list.twitterFeed.length;++i){
                    //console.log(list.twitterFeed[i].entities.user_mentions[0]);
                    var tweetId=list.twitterFeed[i].id_str;
                    
                    //tweetId=JSON.stringify(tweetId);
                    //tweetId=20;
                    promises.push(getEachTweetById(tweetId));
                    tweertIds.push(tweetId);                
                    
                }

                Q.all(promises).then(function(dList){
                    //console.log(dList);
                  
                    appendTweet(dList,tweertIds);
                    appendTweet(dList,tweertIds);
                    appendTweet(dList,tweertIds);
                    appendTweet(dList,tweertIds);
                    appendTweet(dList,tweertIds);
                    appendTweet(dList,tweertIds);
                    appendTweet(dList,tweertIds);
                    appendTweet(dList,tweertIds);
                    appendTweet(dList,tweertIds);
                    appendTweet(dList,tweertIds);
                    appendTweet(dList,tweertIds);
                    appendTweet(dList,tweertIds);
                    appendTweet(dList,tweertIds);                    
                    
                    $(".tweetparent").slick('slickGoTo',true); 
                    
                },function(error){
                    console.log(error);
                });              
                        
            }else{
              console.log(status);
            }        
        });  

        function getEachTweetById(tweetId){
            var q=Q.defer();
            $.get(selfServerUrl+'/twitter/'+tweetId,function(twitterObj, newstatus){
                if(newstatus=="success"){ 
                   q.resolve(twitterObj);
                }else{
                    q.reject(newstatus);                    
                }
            }); 

            return  q.promise;  
        }

        function appendTweet(dList,tweertIds){
            var duplicateId=[];
            for(var i=0;i<dList.length;++i){
                
                var htmlTemp='<div class="tweetbody">';                    
                       htmlTemp+=dList[i].html;                            
                    htmlTemp+='</div>';

                if(duplicateId.length>0){
                    if(duplicateId.indexOf(tweertIds[i])<0){
                        duplicateId.push(tweertIds[i]);
                        $(".tweetparent").slick('slickAdd',htmlTemp); 
                    }
                }else{
                    duplicateId.push(tweertIds[i]);
                    $(".tweetparent").slick('slickAdd',htmlTemp); 
                }

                // $(".newtwitter").append(htmlTemp);                   

            }
        }
          
        
    </script>

    
    <script type="text/javascript" src="/plugins/jquery-placeholder/jquery.placeholder.js"></script>
    <script type="text/javascript" src="/plugins/FitVids/jquery.fitvids.js"></script>      
  

<!--********************************************************************************************-->
    <script type="text/javascript" src="/controllers/pricingController.js"></script>
</body>
</html>
