<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pricing</title> 
    <base href="/">   
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="CloudBoost Pricing. Free plan to begin with and pay as you go as you scale.">
    <meta name="keywords" content="pricing, baas, backend as a service, database as a service, hybrid database, cloudboost, search, realtime, storage, app storage, signup, cloudboost">
    <meta name="fragment" content="!"/>  
    <!--common head links-->  
    <% include ./partials/commonHead %>
</head>

<body>

<!--header-->
<header id="header" class="header">
  <% include ./partials/header %>
</header>

<!--Content-->
<!--********************************************************************************************-->
   

    <div class="headline-bg pricing-headline-bg">
    </div><!--//headline-bg-->

    <!-- ******Pricing Section****** -->
    <section class="pricing section section-on-bg">
        <div class="container">

        <center>


                        <h1 style="color:white; font-family:font-family: 'Signika', sans-serif; font-weight: 300; "> <span style="font-weight: 700;">Pay-as-you-go </span> pricing. Simple and transparent</h1>
                    
                    <div>             
                            <h3 style="color:white; font-family:font-family: 'Signika', sans-serif; font-weight: 300; ">Free to use if your usage is <span style="color:white; font-family:font-family: 'Signika', sans-serif; font-weight: 800; ">below 50 USD/month</span>. Always!</h4>
                    </div>

        </center>

            <p class="intro text-center"></p>
              <div class="price-cols row col-md-8 col-md-offset-2">

                    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                    
                    
                    <h3>API</h3>
                    <input type="text" id="api" name="example_name" value="" />
                    <span style="color:#696E6E">
                        <h4 class="pull-left">Requests / month</h4> <h4 class="pull-right">   $ <span id="apiText"></span> USD / month </h4> 
                    </span>

                    <br/><br/><br/>

                    <h3>Data Storage</h3>
                    <input type="text" id="storage" name="example_name" value="" />
                    <span style="color:#696E6E">
                        <h4 class="pull-left">Size of data stored</h4> <h4 class="pull-right"> $ <span id="storageText"></span> USD / month </h4> 
                    </span>

                    <br/><br/><br/>

                    <h3>Search</h3>
                    <input type="text" id="search" name="example_name" value="" />
                    <span style="color:#696E6E">
                        <h4 class="pull-left">Documents indexed for search</h4> <h4 class="pull-right"> $ <span id="searchText"></span> USD / month</h4> 
                    </span>

                    <br/><br/><br/>

                    <h3>Real-time (Pub / Sub)</h3>
                    <input type="text" id="realtime" name="example_name" value="" />
                    <div style="color:#696E6E">
                        <h4 class="pull-left">Messages Sent / month</h4> <h4 class="pull-right">$ <span id="realtimeText"></span> USD/ month</h4> 
                    </div>

                    <br/><br/><br/><br/><br/>
                    
                    <div>
                        <h2 class="pull-left">Total </h2> <h2 class="pull-right">$ <span id="totalText"></span> USD / month</h2> 
                    </div>
            </div>
        </div>
        <br/><br/>
         <div class="contact-lead text-center">
                <h3 style="color:#6B6B6B">Want to get started? Start hacking now.</h3>
                <a class="btn btn-cta btn-cta-primary" href="{{signUpURL}}">Start hacking. </a>
        </div>

    </section> 

    <!-- ******FAQ Section****** -->
    <section class="faq section has-bg-color">
        <div class="container">
            <h2 class="title text-center">Frequently Asked Questions</h2>
            <div class="row">
                <div class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1 col-xs-offset-0">
                     <div class="panel">
                        <div class="panel-heading" id="dfaq1" style="cursor:pointer">
                            <h4 class="panel-title"><a data-parent="#accordion"
                            data-toggle="collapse" class="panel-toggle"><i class="fa fa-plus-square"></i>What if I exceed the slider limits limits?</a></h4>
                        </div>

                        <div class="panel-collapse collapse" id="faq1">
                            <div class="panel-body">
                               <p>Call us. We have discounted pricing for you. </p>
                            </div>
                        </div>
                    </div><!--//panel-->

                    <div class="panel">
                        <div class="panel-heading" id="dfaq2" style="cursor:pointer">
                            <h4 class="panel-title"><a data-parent="#accordion"
                            data-toggle="collapse" class="panel-toggle"><i class="fa fa-plus-square"></i>Can I see my detailed metrics? </a></h4>
                        </div>

                        <div class="panel-collapse collapse" id="faq2">
                            <div class="panel-body">

                            Yes. Log in to your dashboard and you can.
                            </div>
                        </div>
                    </div><!--//panel-->

                    <div class="panel">
                        <div class="panel-heading" id="dfaq3"  style="cursor:pointer">
                            <h4 class="panel-title"><a data-parent="#accordion"
                            data-toggle="collapse" class="panel-toggle"><i class="fa fa-plus-square"></i>Can I add spending limits,  and cancel?</a></h4>
                        </div>

                        <div class="panel-collapse collapse" id="faq3">
                            <div class="panel-body">
                               Yes. You can change your CloudBoost App size or even cancel at any time from your dashboard. Note that we don't provide prorated refunds for downgrades or cancellations.
                            </div>
                        </div>
                    </div>

                    <div class="panel">
                        <div class="panel-heading" id="dfaq4"  style="cursor:pointer">
                            <h4 class="panel-title"><a data-parent="#accordion"
                            data-toggle="collapse" class="panel-toggle"><i class="fa fa-plus-square"></i> What kind of support will I receive?</a></h4>
                        </div>

                        <div class="panel-collapse collapse" id="faq4">
                            <div class="panel-body">
                                All paid CloudBoost Accounts come with email and phone support from CloudBoost engineers. Additional levels of support, including 24x7 phone support, are available to Enterprise customers.
                            </div>
                        </div>
                    </div><!--//panel-->

                    <div class="panel">
                        <div class="panel-heading" id="dfaq8"  style="cursor:pointer">
                            <h4 class="panel-title"><a data-parent="#accordion"
                            data-toggle="collapse" class="panel-toggle"><i class="fa fa-plus-square"></i>I'm awesome and I want to join your team.</a></h4>
                        </div>

                        <div class="panel-collapse collapse" id="faq8">
                            <div class="panel-body">
                                Feel free to reach out to us. Before you reach out : <br/>
                                #1 - We don't need people who are in it for the money <br/>
                                #2 - We need people who believe they can change the world. <br/>
                                #3 - If you enjoy learning crazy stuff, and love working with like-minded people. <br/><br/>
                                If this sounds like you. <a href="/joinus">Call us now.</a>
                            </div>
                        </div>
                    </div><!--//panel-->
                </div>
            </div><!--//row-->
            <div class="contact-lead text-center">
                <h4 class="title">Have more questions?</h4>
                <a class="btn btn-cta btn-cta-primary" href="/contact">Get in touch</a>
            </div>
        </div><!--//container-->
    </section><!--//faq-->     

    <section id="cta" class="section cta-section text-center home-cta-section">
        <% include ./partials/bottom_banner %>
    </section>       

    <!--footer-->
    <footer class="footer">
        <% include ./partials/footer %>
    </footer>    

    <!--scripts-->
    <% include ./partials/commonScripts %>

    <script type="text/javascript" src="/plugins/back-to-top.js"></script>
    <script type="text/javascript" src="/plugins/jquery-placeholder/jquery.placeholder.js"></script>
    <script type="text/javascript" src="/plugins/FitVids/jquery.fitvids.js"></script>
    <script type="text/javascript" src="/plugins/flexslider/jquery.flexslider-min.js"></script> 

<!--********************************************************************************************-->
    <script type="text/javascript" src="/controllers/pricingController.js"></script>
</body>
</html>
