<!DOCTYPE html>
<html lang="en">
<head>
    <title>Quickstart</title> 
    <base href="/">   
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Quickstart : Start building your app in under 2 minutes.">
    <meta name="keywords" content="quickstart, cloudbost quickstart, baas, backend as a service, database as a service, hybrid database, cloudboost, search, realtime, storage, app storage">
    <meta name="fragment" content="!"/>  
    <!--common head links-->  
    <% include ./partials/commonHead %>
</head>

<body>

<!--header-->
<header id="header" class="header">
  <% include ./partials/header %>
</header>

<!--Content-->
<!--********************************************************************************************-->
    
    <div class="headline-bg">
    </div><!--//headline-bg-->

     <section class="contact-section section section-on-bg promo" style="height:400px;">
        <div class="container text-center">
                    <div class="col-md-12"> 
                        <h1 style="color:white; font-family:font-family: 'Signika', sans-serif; font-weight: 300; ">Here's a <span style="font-weight: 700;">a 2 minute quickstart </span> on CloudBoost.</h1>
                    </div> 
                    <div>             
                            <h4 style="color:white; font-family:font-family: 'Signika', sans-serif; font-weight: 300; ">Build mobile and web apps in minutes using client-side code and our powerful API. Save time. Delight your users.<br/><br/><b>It'll just take few lines of code to power your app with CloudBoost.</b></h4>
                    </div>
                    <br/><br/>
                    <div>
                         <button type="button" class="play-trigger btn-link " data-toggle="modal" data-target="#modal-video" data-backdrop="static" data-keyboard="false"><i class="fa fa-youtube-play"></i> WATCH THE QUICKSTART VIDEO</button> &nbsp;&nbsp; | &nbsp;&nbsp; <a href="https://github.com/CloudBoost/CloudBoost.github.io/tree/master/socialNetApp" target="_blank" class="play-trigger btn-link " ><i class="fa fa-rocket"></i> SAMPLE APP BUILT ON CLOUDBOOST</a>

                    </div>
        </div><!--//container-->
    </section><!--//promo-->


   <section id="why" class="section why">

        <div class="container">
            <h2 class="title text-center">Take your first step towards  building your next big thing... </h2>
            <div class="row item" style="border-bottom:0px; margin-bottom:-70px">

                <div class="content col-md-offset-1 col-md-9 col-sm-12 col-xs-12">
                    <div class="quote">
                        <div class="quote-profile">
                           <div class="text-center" style="background:#549AFC; padding:10px; border-radius:50%; width:75px; height:75px; color:white;">
                                <p style="font-size:2.2em">1</p>
                            </div>
                        </div><!--//profile-->
                        <div class="quote-content">
                           <p>
                             <a id="acheck" href="https://docs.cloudboost.io" target="_blank" style="cursor:pointer"><b>Download the SDK : </b>
                              </a>
                               Download the CloudBoost SDK and link it to your app. You can find the SDK's
                              <a href="https://docs.cloudboost.io" target="_blank" style="cursor:pointer;">here.</a>
                            </p>
                           
                        </div><!--//quote-content-->                                     
                    </div><!--//quote-->                        
                </div><!--//content-->
            </div><!--//item-->
            
            <div class="row item" style="border-bottom:0px; margin-bottom:-70px">
                <div class="content col-md-offset-1 col-md-9 col-sm-12 col-xs-12">
                    <div class="quote">
                        <div class="quote-profile" >
                            <div class="text-center" style="background:#549AFC; padding:10px; border-radius:50%; width:75px; height:75px; color:white;">
                                <p style="font-size:2.2em">2</p>
                            </div>
                        </div><!--//profile-->
                        <div class="quote-content">
                            <p><a href="https://docs.cloudboost.io" target="_blank"><b>Initialize your CloudBoost App : </b></a> Initializing your CloudBoost app is just one single line of code :  </p>
                    <div class="code-bx" style="height:110px">
                       <center>
                            <span class="widgetBrowserHeader">INIT YOUR APP</span>
                        </center>  

                        <div class="code-header cf">
                                                       
                            <div id='js' class="pull-left languageHeader active js" style="color:white">
                                JavaScript   
                            </div>
                            <div id='java' class="pull-left languageHeader java" style="color:white">
                                Java
                            </div>
                        </div>

                        <div id="init-js" class="jsCode" style="height:20px;">                           
                        <textarea id="initCode-js" disabled="true" width="height:30px">
                        //Initialize your CloudBoost App
                        CB.CloudApp.init('YOUR APP ID', 'YOUR APP KEY'); 
                        </textarea>
                        </div>
                        <div id="init-java" class="javaCode">                           
                        <textarea rows="3" id="initCode-java" disabled="true" width="height:30px">
                        //Initialize your CloudBoost App
                        CloudApp.init("Your App Id", "Your Secret Key");
                        </textarea>
                        </div>
                        </div>
                            
                        </div><!--//quote-content-->                                     
                    </div><!--//quote-->                        
                </div><!--//content-->
                
            </div><!--//item-->

        </div><!--//container-->

    </section>

    <!-- ******Features Section****** -->
    <section class="features-tabbed section">
        <div class="container">

            <div class="row">
                <div class=" text-center col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1 col-xs-offset-0">

                    <!--Nav tabs-->
                    <ul class="nav nav-tabs text-center" role="tablist">
                        <li id="feature1List" class="active" style="cursor:pointer"><a id="afeature1"  role="tab" data-toggle="tab"><i class="fa fa-database"></i><br /><span class="hidden-sm hidden-xs">Store</span></a></li>
                        <li id="feature2List" style="cursor:pointer"><a id="afeature2"  role="tab" data-toggle="tab"><i class="fa fa-clock-o"></i><br /><span class="hidden-sm hidden-xs">Realtime</span></a></li>
                        <li id="feature3List" style="cursor:pointer"><a id="afeature3"  role="tab" data-toggle="tab"><i class="fa fa-search"></i><br /><span class="hidden-sm hidden-xs">Search</span></a></li>
                    </ul><!--//nav-tabs-->

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="feature1">
                            <h3 class="title sr-only">Feature One</h3>
                            <div class="desc text-left">
                                <p> <b> Insert data into your CloudBost app </b> :  </p>

                                <p> Inserting data into your CloudBoost app is very simple. Here we create a new CloudObject of type Student, set a name to John Smith and save it to the database. </p>
                                
                        <div class="code-bx">
                           <center>
                                <span class="widgetBrowserHeader">INSERT DATA</span>
                            </center>  

                            <div class="code-header cf">
                                                           
                                <div id='js' class="pull-left languageHeader active js" style="color:white" >
                                    JavaScript   
                                </div>
                                <div id='java' class="pull-left languageHeader java" style="color:white">
                                    Java
                                </div>
                            </div>
    <div id="Insert-js" class="jsCode">                           
    <textarea id="objectInsert-js"  disabled="true">

//insert a new object in CloudBoost
var obj = new CB.CloudObject('Student');
obj.set('name', 'John Smith.');
obj.save({
    success : function(obj){
        //object saved. 
    }, error : function (error){

    }
});
    </textarea>
    </div>
    <div id="Insert-java" class="javaCode">                           
    <textarea id="objectInsert-java"  disabled="true">
//Insert a new object in CloudBoost
CloudObject obj = new CloudObject("Student"); 
obj.set("name", "Smith");
Callback callbackObj = new Callback(){ 
    @Override public void success(){ 
        //success
    } 
    @Override public void error(){ 
        //error
    } 
}; 
obj.save(callbackObj);
    </textarea>
    </div>
    </div>


                                <br/><br/>

                                <p> <b> Query data in CloudBoost </b> :  </p>

                                <p> Querying data from your CloudBoost app is crazy simple. Here we create a new CloudQuery object of type Student, set a name to John Smith and query it from the  database. </p>

                                 <div class="code-bx">
                                   <center>
                                        <span class="widgetBrowserHeader">QUERY DATA</span>
                                    </center>  

                            <div class="code-header cf">
                                                           
                                <div id='js' class="pull-left languageHeader active js" style="color:white">
                                    JavaScript   
                                </div>
                                <div id='java' class="pull-left languageHeader java" style="color:white">
                                    Java
                                </div>
                            </div>
    <div id="query-js" class="jsCode">                           
     <textarea id="objectQuery-js" disabled="true">

//query data from CloudBoost

var query = new CB.CloudQuery('Student');
query.equalTo('name', 'John Smith');
query.find({
    success : function(list){
        //list is an array of CloudObjects.
    }, error : function (error){

    }
});

</textarea>
    </div>
        <div id="query-java" class="javaCode">                           
     <textarea id="objectQuery-java" disabled="true">

CloudQuery query = new CloudQuery("Student");
query.equalTo("name", "John Smith");

CloudQueryCallback callbackObj = new CloudQueryCallback(){ 
    @Override 
    public void success(Map <String, Object>[] list){ 
       //list is an array of CloudObjects
    } 
    @Override 
    public void error(){ 
        //error
    } 
}; 

query.find(callbackObj);
</textarea>
    </div>
    

     </div>
    </div><!--//desc-->
</div><!--//tab-pane-->
                        <div class="tab-pane in active" id="feature2">
                            <h3 class="title sr-only">Feature Two</h3>
                           
                            <div class="desc text-left">

                            <p> <b> Get notifications when object is inserted / updated or deleted </b> : </p>

                                <p> Get instant alerts when data in your database is created / updated or deleted and keep all your apps in sync and in realtime. WOW your users with great user expeirence by implementing realtime.  
                                </p>


                                 <div class="code-bx">
                            <center>
                                <span class="widgetBrowserHeader">INSERT DATA</span>
                            </center>  

                            <div class="code-header cf">
                                                           
                                <div id='js' class="pull-left languageHeader active js" style="color:white">
                                    JavaScript   
                                </div>
                                <div id='java' class="pull-left languageHeader java" style="color:white">
                                    Java
                                </div>
                            </div>
    <div id="notifications-js" class="jsCode">                           
<textarea id="objectNotifications-js" disabled="true">



//CloudObjects Notification.

CB.CloudObject.on('Student', 'created', function(obj){ 
    //your custom function which you want to fire.
    //obj is an instance of CloudObject
    alert('Student Created : '+ obj.get('name'));
});

                                </textarea>
    </div>
    <div id="notifications-java" class="javaCode">                           
<textarea id="objectNotifications-java" disabled="true">
//intializing CloudNotificationMethod, and overriding methods 
CloudNotificationMethod callbackObj = new CloudNotificationMethod(){ 
    @Override 
    public void onMethod(Object data){ // override this function as per your requirnment.
        //data is an instance of CloudObject 
    } 
}; 
CloudObject.on("Student", "created", callbackObj); 
                                </textarea>
    </div>

    </div>
    
                                <br/><br/>

                                <p> <b> Updating your app with realtime notifications </b>:  </p>

                                <p> CloudNotifications provide an easy way to crate custom channels, and publish data to those channels and update your app in realtime. </p>

                                <div class="code-bx">
                            <center>
                                <span class="widgetBrowserHeader">INSERT DATA</span>
                            </center>  

                            <div class="code-header cf">
                                                           
                                <div id='js' class="pull-left languageHeader active js" style="color:white">
                                    JavaScript   
                                </div>
                                <div id='java' class="pull-left languageHeader java" style="color:white">
                                    Java
                                </div>
                            </div>
    <div id="cloudNotification-js" class="jsCode">                           
        <textarea id="cloudNotifications-js" disabled="true">
//CloudNotification

CB.CloudNotification.on('sample', function(data){
    alert(data);
}, {
    success : function(){
        //successfully subscribed.
    },
    error : function(){
        
    }
});


CB.CloudNotification.publish('sample', 'data', {
    success : function(){
        //succesfully published. 
    },
    error : function(err){
       
    }
});

        </textarea>
    </div>
    <div id="cloudNotification-java" class="javaCode">                           
        <textarea id="cloudNotifications-java" disabled="true">
//intializing CloudNotificationMethod, and overriding methods 
CloudNotificationMethod callbackObj = new CloudNotificationMethod(){ 
    @Override 
    public void onMethod(Object data){
         //data is basically the message 
    } 
}; 
CloudNotification.on("sample", callbackObj);

CloudNotification.publish("sample","data");
        </textarea>
    </div>
</div>



                                

                            </div><!--//desc-->
                        </div><!--//tab-pane-->
                        <div class="tab-pane in active" id="feature3">
                            <h3 class="title sr-only">Feature Four</h3>
                            
                            <div class="desc text-left">
                                <p> <b> Index objects for search </b> :  </p>

                                <p> Indexing your data is easy. Every CloudObject has a property called isSearchable, You just have to set it to true and We'll automatically index your object for search. </p>

                                 <div class="code-bx">
                            <center>
                                <span class="widgetBrowserHeader">INSERT DATA</span>
                            </center>  

                            <div class="code-header cf">
                                                           
                                <div id='js' class="pull-left languageHeader active js" style="color:white">
                                    JavaScript   
                                </div>
                                <div id='java' class="pull-left languageHeader java" style="color:white">
                                    Java
                                </div>
                            </div>
    <div id="indexSearch-js" class="jsCode">                           
<textarea id="indexSearches-js" disabled="true">
//insert a new object adn index it for Search.
var obj = new CB.CloudObject('Student');
obj.set('name', 'John Smith');
obj.isSearchable = true; //index this object for search. 
obj.save({
    success : function(obj){

    }, error : function (error){

    }
});
    </textarea>
    </div>
    <div id="indexSearch-java" class="javaCode">                           
    <textarea id="indexSearches-java" disabled="true">
CloudObject obj = new CloudObject("Student");
obj.set("name", "John Smith");
obj.setIsSearchable(true);
Callback callbackObj = new Callback(){ 
    @Override public void success(){ 
        //success
    } 
    @Override 
    public void error(){ 
        //error
    } 
}; 
obj.save(callbackObj);
</textarea>
    </div>

    </div>

                                
                                <br/><br/>

                                <p> <b> Search your data with CloudSearch </b> :  </p>

                                <p> CloudSearch is more like a search-engine which returns your data in the order of relevance and searching for your data is as simple as querying.  </p>

                                 <div class="code-bx">
                            <center>
                                <span class="widgetBrowserHeader">INSERT DATA</span>
                            </center>  

                            <div class="code-header cf">
                                                           
                                <div id='js' class="pull-left languageHeader active js" style="color:white" >
                                    JavaScript   
                                </div>
                                <div id='java' class="pull-left languageHeader java" style="color:white">
                                    Java
                                </div>
                            </div>
    <div id="searchSearches-js" class="jsCode">                           
<textarea id="searchSearch-js" disabled="true">



//search data with CloudSearch

var cs = new CB.CloudSearch('Student');
cs.searchOn('name', 'John');
cs.search({
    success : function(list){
        //list is an array of CloudObjects.
    }, error : function (error){

    }
});

                                </textarea>
    </div>
    <div id="searchSearches-java" class="javaCode">                           
<textarea id="searchSearch-java" disabled="true">
//search data with CloudSearch
CloudSearch cs = new CloudSearch("Student");
cs.searchOn("name", "John");
CloudSearchCallback callbackObj = new CloudSearchCallback(){ 
    @Override 
    public void success(Map &lt;String,Object&gt;[] list){ 
        //list is an array of CloudObjects
    } 
    @Override 
    public void error(){ 
        //error
    } 
}; 
cs.search(callbackObj);
</textarea>
    </div>

    </div>

                                
                                
                            </div><!--//desc-->
                        </div><!--//tab-pane-->
                    </div><!--//tab-content-->
                </div><!--//col-md-x-->
            </div><!--//row-->
        </div>

            <div class="feature-lead text-center">
                    <p>We have an amazing API documented beautifully for you. <br/> Want to have a look?<p>
                    <p><a class="btn btn-cta btn-cta-primary" href="https://docs.cloudboost.io">See our API Docs.</a></p>
            </div>


        </div><!--//container-->
    </section><!--//features-tabbed-->

    <!-- ******Steps Section****** -->
    <section class="steps section">
        <div class="container">
            <h2 class="title text-center">3 Simple Steps to build your app with CloudBoost</h2>
            <div class="row">
                 <div class="step text-center col-md-4 col-sm-4 col-xs-12">
                     <h3 class="title"><span class="number">1</span><br /><span class="text">Create a new app</span></h3>
                     <p>Sign-up for a new free hacker account on CloudBoost and start experimenting by creating a new app, which will give you API keys to access our CloudBoost API</p>
                 </div><!--//step-->
                 <div class="step text-center col-md-4 col-sm-4 col-xs-12">
                     <h3 class="title"><span class="number">2</span><br /><span class="text">Link the SDK to your app</span></h3>
                     <p><a href="https://docs.cloudboost.io" target="_blank">Download </a> and link our SDK to your app, inititialize the SDK with the API Key and you're ready to go.</p>
                 </div><!--//step-->
                 <div class="step text-center col-md-4 col-sm-4 col-xs-12">
                     <h3 class="title"><span class="number">3</span><br /><span class="text">Start Hacking</span></h3>
                     <p>Start experimenting and power your app with CloudBoost, We have features from data store, all the way to CloudNotificaions, and CloudSearch.</p>
                 </div><!--//step-->
            </div><!--//row-->

        </div><!--//container-->

    </section><!--//steps--> 


    <!-- Video Modal -->
    <div class="modal modal-video" id="modal-video" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 id="videoModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <div class="video-container">
                        <iframe width="720" height="405" src="https://www.youtube.com/embed/pYnPdzoV67w" frameborder="0" allowfullscreen></iframe>
                    </div><!--//video-container-->
                </div><!--//modal-body-->
            </div><!--//modal-content-->
        </div><!--//modal-dialog-->
    </div><!--//modal-->

    <section id="cta" class="section cta-section text-center home-cta-section">
        <% include ./partials/bottom_banner %>
    </section>       

    <!--footer-->
    <footer class="footer">
        <% include ./partials/footer %>
    </footer> 

    <!--scripts-->
    <% include ./partials/commonScripts %>   

<!--********************************************************************************************-->
    <script type="text/javascript" src="/controllers/quickStartController.js"></script>
</body>
</html>
