<!DOCTYPE html>
<html lang="en">
<head>
    <title>Quickstart</title> 
    <base href="/">   
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Quickstart : Start building your app in under 2 minutes.">
    <meta name="keywords" content="quickstart, cloudbost quickstart, baas, backend as a service, database as a service, hybrid database, cloudboost, search, realtime, storage, app storage">
    <meta name="fragment" content="!"/>  
    <!--common head links-->  
    <% include ./partials/commonHead %>
</head>

<body style="background-color:#F5F5F5;">

<!--header-->
<header id="header" class="header">
  <% include ./partials/header %>
</header>

<!--Content-->
<!--********************************************************************************************-->
    
    <div class="headline-bg">
    </div><!--//headline-bg-->

    <section class="contact-section section section-on-bg promo-quickstart">
        <div class="container text-center">
                    <div class="col-md-12"> 
                        <h1 style="color:white; font-family:font-family: 'Signika', sans-serif; font-weight: 300; ">Here's a <span style="font-weight: 700;">a 2 minute quickstart </span> on CloudBoost.</h1>
                    </div> 
                    <div>             
                            <h4 style="color:white; font-family:font-family: 'Signika', sans-serif; font-weight: 300; ">Build mobile and web apps in minutes using client-side code and our powerful API. Save time. Delight your users.<br/><br/><b>It'll just take few lines of code to power your app with CloudBoost.</b></h4>
                    </div>
                    <br/><br/>
                    <div>
                         <button type="button" class="play-trigger btn-link " data-toggle="modal" data-target="#modal-video" data-backdrop="static" data-keyboard="false"><i class="fa fa-youtube-play"></i> WATCH THE QUICKSTART VIDEO</button> &nbsp;&nbsp; | &nbsp;&nbsp; <a href="https://blog.cloudboost.io/building-a-sample-social-networking-app-with-cloudboost-io/" target="_blank" class="play-trigger btn-link " ><i class="fa fa-rocket"></i> SAMPLE APP BUILT ON CLOUDBOOST</a>

                    </div>
        </div><!--//container-->
    </section><!--//promo-->

     <div style="background:white; padding:50px; margin-top:-80px;margin-left:0px;margin-right:-20px" class="container" >
        <div class="col-md-9">
            <div class="padding-left:30px">
               <h1 style="margin-top:30px; color:#737373; font-family:font-family: 'Signika', sans-serif; font-weight: 700; ">CloudBoost Quick Start Guide</h1>
              <span style="margin-top:10px; color:#737373; font-family:font-family: 'Signika', sans-serif; font-weight: 300; ">Be up & running with CloudBoost in 2 minutes for all languages & frameworks.</span>
            </div>
        </div>
        <div class="col-md-3">
             <p class="intro text-center"><a class="text-center btn btn-cta btn-cta-primary" style="font-size:20px;margin-top:40px;" href="/quickstart"><i class="fa fa-arrow-circle-right"></i>&nbsp;Get Started</a></p>
        </div>
     </div>

    <!--Tutorials-->
    <section id="why" class="section why why-quickstart cb-tutorials">
       

        <div class="container">
            <!--Heading-->
            <div class="tut-heading flex-general-column-wrapper-center">
               <h1 style="margin-top:30px; color:#737373; font-family:font-family: 'Signika', sans-serif; font-weight: 700; ">Starter Boxes</h1>
              <span style="margin-top:10px; color:#737373; font-family:font-family: 'Signika', sans-serif; font-weight: 300; ">We designed tutorials for each one of you needs.</span>
            </div>

            <!--Boxes-->
            <div class="tut-bx-wrapper flex-general-row-wrapper">
                <!--******BOX*******-->
                <div style="position:relative">
                    <div class="tut-bx-container" style="height:350px;width:375px">
                        <center>
                        <div class="tut-name flex-general-column-wrapper-center">
                            <h3 style="margin-top:30px; color:#737373; font-family:font-family: 'Signika', sans-serif; font-weight: 300; ">Data Storage</h3>
                        </div> 
                        
                        <div class="tut-desc">
                            <span style="color:#737373; font-family:font-family: 'Signika', sans-serif; font-weight: 300; font-size:15px">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
                        </div> 

                        <div class="tut-labels flex-general-row-wrapper-center" style="margin-top:40px;">
                            <div class="flex-general-row-wrapper" style="width:80%" style="color:#737373;">
                                <div class="flex-equal-ratio-items">
                                    <i class="fa fa-graduation-cap" style="color:#BEB7BF !important"></i>
                                    <span style="color:#BEB7BF !important">&nbsp;Easy</span>
                                </div>
                                <div class="flex-equal-ratio-items">
                                    <i class="fa fa-clock-o" style="color:#BEB7BF !important"></i>
                                   <span style="color:#BEB7BF !important">&nbsp;6 min</span>
                                </div>
                            </div>
                        </div>

                        <div style="border-top:1px solid #BCBABA;margin-top:25px;">
                        </div>    
                        
                        <div class="tut-prog-langs" style="margin-top:5px;">
                            <div class="flex-general-column-wrapper-center" style="margin:0;">
                                <span style="margin:0;color:#BCBABA;">Available in</span>
                            </div> 
                            <div class="prog-lang-list flex-general-column-wrapper-center" style="margin-top:10px; color:#BCC9DE">
                                <div class="flex-general-row-wrapper">
                                    <div class="flex-equal-ratio-items">
                                        <i class="icon ion-social-javascript fa-lg"></i>
                                    </div>                            
                                    <div class="flex-equal-ratio-items" style="margin-left:10px;">
                                        <i class="icon ion-social-windows fa-lg"></i>
                                    </div>
                                    <div class="flex-equal-ratio-items" style="margin-left:10px;">
                                        <i class="icon ion-social-nodejs fa-lg"></i>
                                    </div>
                                </div>
                            </div>   
                        </div>
                        </center> 
                    </div>
                    <!--On Hover-->
                    <div class="tut-bx-container-gray-bx flex-general-column-wrapper-center">
                        <button type="button" class="tut-view-btn">View</button>
                    </div> 
                </div> 
                <!--****/END BOX****-->                  
            </div>    
        </div>
    </section>  
    <!--/End Tutorials-->     




    <!-- Video Modal -->
    <div class="modal modal-video" id="modal-video" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 id="videoModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <div class="video-container">
                        <iframe width="720" height="405" src="https://www.youtube.com/embed/pYnPdzoV67w" frameborder="0" allowfullscreen></iframe>
                    </div><!--//video-container-->
                </div><!--//modal-body-->
            </div><!--//modal-content-->
        </div><!--//modal-dialog-->
    </div><!--//modal-->

    <section id="cta" class="section cta-section text-center home-cta-section">
        <% include ./partials/bottom_banner %>
    </section>       

    <!--footer-->
    <footer class="footer">
        <% include ./partials/footer %>
    </footer> 

    <!--scripts-->
    <% include ./partials/commonScripts %>   

<!--********************************************************************************************-->
    <script type="text/javascript" src="/controllers/quickStartController.js"></script>
</body>
</html>
