.trendingbox-section{
	height: 88vh;
	margin-bottom: 10px;
	padding: 0;		
}
.trending-wrapper{
	border:1px solid red;
	width:98%;
	height: auto;
	padding: 20px;
}
.trending-slides{
	position:relative;
	width:100%;
	height: 82vh;	
}

.animsec1{
	position: absolute;
	width:100%;	
	z-index: 5;		
}
.goToSlide2 .animsec1{
	z-index: 4;
}

.animsec2{
	position: absolute;
	width:100%;		
	z-index: 4;	
	opacity: 0;	
}

.goToSlide2 .animsec2{	
	opacity: 1;
	z-index: 5;	
}

.animsec3{
	position: absolute;
	width:100%;		
	z-index: 3;
	opacity: 0;	
}
.animsec4{
	position: absolute;
	width:100%;		
	z-index: 2;
	opacity: 0;	
}

.animsec5{
	position: absolute;
	width:100%;		
	z-index: 1;	
	opacity: 0;	
}


/*Section1*/
.start-demo{
	color: #0BA7C0;
    padding: 2px;
    border-radius: 13px;
    height: 30px;
    width: 100px;
    margin-top: 10px;
    border: none;
    background-color: #f5f5f5;
}
.start-demo:focus{
	outline: none;
}

.animsec1 .graphic-row1{
	width:100%;
	height:0;
}
.animsec1 .graphic-row2{
	width:100%;
	height:525px;	
	border:1px solid black;
}
.animsec1 .graphic-row3{
	width:100%;
	height:0;
}

.animsec1 .graphic-column1{
	width:50%;
	height:100%;	
	border:1px solid yellow;
}
.animsec1 .demo-explain{
	transition-property:opacity;
	transition-duration:.5s;
	transition-delay:0.3s;
}
.goToSlide2 .animsec1 .demo-explain{
	opacity:0;
}

.animsec1 .graphic-column1 .demo-main-heading p{
	font-size:32px;	
}

.animsec1 .graphic-column2{
	width:50%;
	height:100%;	
	border:1px solid green;
}

.animsec1 .demo-product-wrap{
	width: 100%;	
	height:100%;	
}
.animsec1 .demo-product{
	width: 100%;	
	height:auto;
	transition-property:opacity;
	transition-duration:.5s;		
}

.goToSlide1 .animsec1 .graphic-column2 .demo-product{
	opacity:0;
}
/*Section1*/

/*Section2*/
.animsec2 .graphic-row1{
	width:100%;
	height:0;
}
.animsec2 .graphic-row2{
	width:100%;
	height:525px;	
	border:1px solid black;
}
.animsec2 .graphic-row3{
	width:100%;
	height:0;
}
.animsec2 .graphic-column1{
	width:50%;
	height:100%;	
	border:1px solid yellow;
}
.animsec2 .graphic-column2{
	width:50%;
	height:100%;	
	border:1px solid green;
}
.animsec2 .demo-explain{
	opacity:0;
	transition-property:opacity;
	transition-duration:.5s;
	transition-delay:1.5s;
}

.goToSlide2 .animsec2 .demo-explain{
	opacity:1;
}

.animsec2 .demo-product-wrap{
	width: 100%;	
	height:100%;	
}
.animsec2 .demo-product{
	width: 100%;	
	height:auto;	
}
.goToSlide2 .animsec2 .demo-product	{
	-webkit-animation: openAnimation 1s both ease;
}

@-webkit-keyframes openAnimation {
    0% {
        -webkit-transform: translateY(300px);
    }
    100% {
        -webkit-transform: translateY(-10px);
    }
}
/*Section2*/


/*Section3*/
.animsec3 .graphic-row1{
	width:100%;
	height:0;
}
.animsec3 .graphic-row2{
	width:100%;
	height:525px;	
	border:1px solid black;
}
.animsec3 .graphic-row3{
	width:100%;
	height:0;
}

.animsec3 .graphic-column1{
	width:50%;
	height:100%;	
	border:1px solid yellow;
}
.animsec3 .graphic-column2{
	width:50%;
	height:100%;	
	border:1px solid green;
}

.animsec3 .demo-product-wrap{
	width: 100%;	
	height:100%;	
}
.animsec3 .demo-product{
	width: 100%;	
	height:auto;		
}
/*Section3*/

/*Section4*/
.animsec4 .graphic-row1{
	width:100%;
	height:0;
}
.animsec4 .graphic-row2{
	width:100%;
	height:525px;	
	border:1px solid black;
}
.animsec4 .graphic-row3{
	width:100%;
	height:0;
}

.animsec4 .graphic-column1{
	width:33.33%;
	height:100%;	
	border:1px solid yellow;
}
.animsec4 .graphic-column2{
	width:33.33%;
	height:100%;	
	border:1px solid green;
}
.animsec4 .graphic-column3{
	width:33.33%;
	height:100%;	
	border:1px solid green;
}

.animsec4 .demo-product-wrap{
	width: 100%;	
	height:100%;	
}
.animsec4 .demo-product{
	width: 100%;	
	height:auto;		
}
/*Section4*/

/*Section5*/
.animsec5 .graphic-row1{
	width:100%;
	height:125px;
	border:1px solid white;
}
.animsec5 .graphic-row1 .graphic-column1{
	width:100%;
	height:100%;	
}
.animsec5 .graphic-row2{
	width:100%;
	height:400px;	
	border:1px solid black;
}
.animsec5 .graphic-row3{
	width:100%;
	height:0;
}

.animsec5 .graphic-column1{
	width:33.33%;
	height:100%;	
	border:1px solid yellow;
}
.animsec5 .graphic-column2{
	width:33.33%;
	height:100%;	
	border:1px solid green;
}
.animsec5 .graphic-column3{
	width:33.33%;
	height:100%;	
	border:1px solid green;
}

.animsec5 .demo-product-wrap{
	width: 100%;	
	height:100%;	
}
.animsec5 .demo-product{
	width: 100%;	
	height:auto;		
}
/*Section5*/

