
    <div class="wrapper">
        <!-- ******HEADER****** -->
        <!--Start Header-->
        <div ng-include="'app/views/subviews/blog_header.html'"></div>
        <!--End Header-->

        <section class="featured-blog-posts section">

            <div class="flexslider blog-slider">
                <ul class="slides">
                    <li class="slide slide-1">
                        <div class="flex-caption container">
                            <h3 class="title"><a href="#">Ideas are easy, execution is hard</a></h3>
                            <div class="meta">16th Oct, 2014</div>
                            <a class="more-link" href="blog-single.html">Read more &rarr;</a>
                        </div><!--//flex-caption-->
                    </li>
                    <li class="slide slide-2">
                        <div class="flex-caption container">
                            <h3 class="title"><a href="#">Done is better than perfect</a></h3>
                            <div class="meta">23rd Sep, 2014</div>
                            <a class="more-link" href="blog-single.html">Read more &rarr;</a>
                        </div><!--//flex-caption-->
                    </li>
                    <li class="slide slide-3">
                        <div class="flex-caption container">
                            <h3 class="title"><a href="#">The value of an idea lies in the using of it</a></h3>
                            <div class="meta">18th Aug, 2014</div>
                            <a class="more-link" href="blog-single.html">Read more &rarr;</a>
                        </div><!--//flex-caption-->
                    </li>
                    <li class="slide slide-4">
                        <div class="flex-caption container">
                            <h3 class="title"><a href="#">Good design is good business</a></h3>
                            <div class="meta">5th Aug, 2014</div>
                            <a class="more-link" href="blog-single.html">Read more &rarr;</a>
                        </div><!--//flex-caption-->
                    </li>
                </ul><!--//slides-->
            </div><!--//flexslider-->

        </section><!--//featured-blog-posts-->

        <!-- ******BLOG LIST****** -->
        <div class="blog container">
            <div class="row">
                <div id="blog-mansonry" class="blog-list">
                    <article class="post col-md-4 col-sm-6 col-xs-12">
                        <div class="post-inner">
                            <figure class="post-thumb">
                                <a href="blog-single.html"><img class="img-responsive" src="assets/images/blog/post-1-thumb.jpg" alt="" /></a>
                            </figure><!--//post-thumb-->
                            <div class="content">
                                <h3 class="post-title"><a href="blog-single.html">Ideas are easy, execution is hard</a></h3>
                                <div class="post-entry">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lobortis mattis erat, dictum facilisis magna posuere ac. Curabitur consectetur magna mauris, et aliquam lectus ornare nec.</p>
                                    <a class="read-more" href="blog-single.html">Read more <i class="fa fa-long-arrow-right"></i></a>
                                </div>
                                <div class="meta">
                                    <ul class="meta-list list-inline">
                                    	<li class="post-time post_date date updated">16th Oct, 2014</li>
                                    	<li class="post-author"> by <a href="#">James Lee</a></li>
                                    	<li class="post-comments-link">
                                	        <a href="blog-single.html#comment-area"><i class="fa fa-comments"></i>8</a>
                                	    </li>
                                	</ul><!--//meta-list-->
                                </div><!--meta-->
                            </div><!--//content-->
                        </div><!--//post-inner-->
                    </article><!--//post-->

                    <article class="post col-md-4 col-sm-6 col-xs-12">
                        <div class="post-inner">
                            <figure class="post-thumb">
                                <a href="blog-single.html"><img class="img-responsive" src="assets/images/blog/post-2-thumb.jpg" alt="" /></a>
                            </figure><!--//post-thumb-->
                            <div class="content">
                                <h3 class="post-title"><a href="blog-single.html">Done is better than perfect</a></h3>
                                <div class="post-entry">
                                    <p>Aenean interdum ligula sed sollicitudin scelerisque. Morbi sed purus erat. Quisque adipiscing, dolor vitae porttitor egestas, orci elit feugiat libero, id pellentesque libero nulla quis tortor. Nulla sodales erat eu aliquam sollicitudin. Proin hendrerit porta lorem, ultricies blandit tortor mollis ut. Suspendisse potenti.</p>
                                    <a class="read-more" href="blog-single.html">Read more <i class="fa fa-long-arrow-right"></i></a>
                                </div>
                                <div class="meta">
                                    <ul class="meta-list list-inline">
                                    	<li class="post-time post_date date updated">23rd Sep, 2014</li>
                                    	<li class="post-author"> by <a href="#">James Lee</a></li>
                                    	<li class="post-comments-link">
                                	        <a href="blog-single.html#comment-area"><i class="fa fa-comments"></i>3</a>
                                	    </li>
                                	</ul><!--//meta-list-->
                                </div><!--meta-->
                            </div><!--//content-->
                        </div><!--//post-inner-->
                    </article><!--//post-->

                    <article class="post col-md-4 col-sm-6 col-xs-12">
                        <div class="post-inner">
                            <figure class="post-thumb">
                                <a href="blog-single.html"><img class="img-responsive" src="assets/images/blog/post-3-thumb.jpg" alt="" /></a>
                            </figure><!--//post-thumb-->
                            <div class="content">
                                <h3 class="post-title"><a href="blog-single.html">The value of an idea lies in the using of it</a></h3>
                                <div class="post-entry">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lobortis mattis erat, dictum facilisis magna posuere ac. Curabitur consectetur magna mauris, et aliquam lectus ornare nec. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris quis tellus magna.</p>
                                    <a class="read-more" href="blog-single.html">Read more <i class="fa fa-long-arrow-right"></i></a>
                                </div>
                                <div class="meta">
                                    <ul class="meta-list list-inline">
                                    	<li class="post-time post_date date updated">18th Aug, 2014</li>
                                    	<li class="post-author"> by <a href="#">Jeremy Green</a></li>
                                    	<li class="post-comments-link">
                                	        <a href="blog-single.html#comment-area"><i class="fa fa-comments"></i>2</a>
                                	    </li>
                                	</ul><!--//meta-list-->
                                </div><!--meta-->
                            </div><!--//content-->
                        </div><!--//post-inner-->
                    </article><!--//post-->

                    <article class="post col-md-4 col-sm-6 col-xs-12">
                        <div class="post-inner">
                            <figure class="post-thumb">
                                <a href="blog-single.html"><img class="img-responsive" src="assets/images/blog/post-4-thumb.jpg" alt="" /></a>
                            </figure><!--//post-thumb-->
                            <div class="content">
                                <h3 class="post-title"><a href="blog-single.html">Good design is good business</a></h3>
                                <div class="post-entry">
                                    <p>Praesent congue eros at vestibulum luctus. Integer faucibus eros ac mauris aliquam vehicula. Nulla vel purus quis libero viverra aliquet. Praesent consequat varius augue, et euismod lorem hendrerit ac. Duis eget lacus nisi. Sed sed erat velit.</p>
                                    <a class="read-more" href="blog-single.html">Read more <i class="fa fa-long-arrow-right"></i></a>
                                </div>
                                <div class="meta">
                                    <ul class="meta-list list-inline">
                                    	<li class="post-time post_date date updated">12th April, 2014</li>
                                    	<li class="post-author"> by <a href="#">James Lee</a></li>
                                    	<li class="post-comments-link">
                                	        <a href="blog-single.html#comment-area"><i class="fa fa-comments"></i>4</a>
                                	    </li>
                                	</ul><!--//meta-list-->
                                </div><!--meta-->
                            </div><!--//content-->
                        </div><!--//post-inner-->
                    </article><!--//post-->

                    <article class="post col-md-4 col-sm-6 col-xs-12">
                        <div class="post-inner">
                            <figure class="post-thumb">
                                <a href="blog-single.html"><img class="img-responsive" src="assets/images/blog/post-5-thumb.jpg" alt="" /></a>
                            </figure><!--//post-thumb-->
                            <div class="content">
                                <h3 class="post-title"><a href="blog-single.html">Hackathon brainstorming</a></h3>
                                <div class="post-entry">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lobortis mattis erat, dictum facilisis magna posuere ac. Curabitur consectetur magna mauris, et aliquam lectus ornare nec. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris quis tellus magna.</p>
                                    <a class="read-more" href="blog-single.html">Read more <i class="fa fa-long-arrow-right"></i></a>
                                </div>
                                <div class="meta">
                                    <ul class="meta-list list-inline">
                                    	<li class="post-time post_date date updated">3th April, 2014</li>
                                    	<li class="post-author"> by <a href="#">James Lee</a></li>
                                    	<li class="post-comments-link">
                                	        <a href="blog-single.html#comment-area"><i class="fa fa-comments"></i>1</a>
                                	    </li>
                                	</ul><!--//meta-list-->
                                </div><!--meta-->
                            </div><!--//content-->
                        </div><!--//post-inner-->
                    </article><!--//post-->

                    <article class="post col-md-4 col-sm-6 col-xs-12">
                        <div class="post-inner">
                            <figure class="post-thumb">
                                <a href="blog-single.html"><img class="img-responsive" src="assets/images/blog/post-6-thumb.jpg" alt="" /></a>
                            </figure><!--//post-thumb-->
                            <div class="content">
                                <h3 class="post-title"><a href="blog-single.html">You can do big things with a small team</a></h3>
                                <div class="post-entry">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lobortis mattis erat, dictum facilisis magna posuere ac. Curabitur consectetur magna mauris, et aliquam lectus ornare nec. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris quis tellus magna.</p>
                                <a class="read-more" href="blog-single.html">Read more <i class="fa fa-long-arrow-right"></i></a>
                                </div>
                                <div class="meta">
                                    <ul class="meta-list list-inline">
                                    	<li class="post-time post_date date updated">3th April, 2014</li>
                                    	<li class="post-author"> by <a href="#">James Lee</a></li>
                                    	<li class="post-comments-link">
                                	        <a href="blog-single.html#comment-area"><i class="fa fa-comments"></i>5</a>
                                	    </li>
                                	</ul><!--//meta-list-->
                                </div><!--meta-->
                            </div><!--//content-->
                        </div><!--//post-inner-->
                    </article><!--//post-->

                    <article class="post col-md-4 col-sm-6 col-xs-12">
                        <div class="post-inner">
                            <figure class="post-thumb">
                                <a href="blog-single.html"><img class="img-responsive" src="assets/images/blog/post-7-thumb.jpg" alt="" /></a>
                            </figure><!--//post-thumb-->
                            <div class="content">
                                <h3 class="post-title"><a href="blog-single.html">Nothing works better than just improving your product.</a></h3>
                                <div class="post-entry">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lobortis mattis erat, dictum facilisis magna posuere ac. Curabitur consectetur magna mauris, et aliquam lectus ornare nec. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris quis tellus magna.</p>
                                    <a class="read-more" href="blog-single.html">Read more <i class="fa fa-long-arrow-right"></i></a>
                                </div>
                                <div class="meta">
                                    <ul class="meta-list list-inline">
                                    	<li class="post-time post_date date updated">3th April, 2014</li>
                                    	<li class="post-author"> by <a href="#">Alex Morgan</a></li>
                                    	<li class="post-comments-link">
                                	        <a href="blog-single.html#comment-area"><i class="fa fa-comments"></i>1</a>
                                	    </li>
                                	</ul><!--//meta-list-->
                                </div><!--meta-->
                            </div><!--//content-->
                        </div><!--//post-inner-->
                    </article><!--//post-->

                    <article class="post col-md-4 col-sm-6 col-xs-12">
                        <div class="post-inner">
                            <figure class="post-thumb">
                                <a href="blog-single.html"><img class="img-responsive" src="assets/images/blog/post-8-thumb.jpg" alt="" /></a>
                            </figure><!--//post-thumb-->
                            <div class="content">
                                <h3 class="post-title"><a href="blog-single.html">Don't try to be original, just try to be good</a></h3>
                                <div class="post-entry">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lobortis mattis erat, dictum facilisis magna posuere ac. Curabitur consectetur magna mauris, et aliquam lectus ornare nec. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris quis tellus magna.</p>
                                    <a class="read-more" href="blog-single.html">Read more <i class="fa fa-long-arrow-right"></i></a>
                                </div>
                                <div class="meta">
                                    <ul class="meta-list list-inline">
                                    	<li class="post-time post_date date updated">3th April, 2014</li>
                                    	<li class="post-author"> by <a href="#">James Lee</a></li>
                                    	<li class="post-comments-link">
                                	        <a href="blog-single.html#comment-area"><i class="fa fa-comments"></i>28</a>
                                	    </li>
                                	</ul><!--//meta-list-->
                                </div><!--meta-->
                            </div><!--//content-->
                        </div><!--//post-inner-->
                    </article><!--//post-->

                    <article class="post col-md-4 col-sm-6 col-xs-12">
                        <div class="post-inner">
                            <figure class="post-thumb">
                                <a href="blog-single.html"><img class="img-responsive" src="assets/images/blog/post-9-thumb.jpg" alt="" /></a>
                            </figure><!--//post-thumb-->
                            <div class="content">
                                <h3 class="post-title"><a href="blog-single.html">It's not about ideas. It's about making ideas happen</a></h3>
                                <div class="post-entry">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lobortis mattis erat, dictum facilisis magna posuere ac. Curabitur consectetur magna mauris, et aliquam lectus ornare nec. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris quis tellus magna.</p>
                                    <a class="read-more" href="blog-single.html">Read more <i class="fa fa-long-arrow-right"></i></a>
                                </div>
                                <div class="meta">
                                    <ul class="meta-list list-inline">
                                    	<li class="post-time post_date date updated">3th April, 2014</li>
                                    	<li class="post-author"> by <a href="#">Jo Bailey</a></li>
                                    	<li class="post-comments-link">
                                	        <a href="blog-single.html#comment-area"><i class="fa fa-comments"></i>110</a>
                                	    </li>
                                	</ul><!--//meta-list-->
                                </div><!--meta-->
                             </div><!--//content-->
                        </div><!--//post-inner-->
                    </article><!--//post-->

                </div><!--//blog-list-->
            </div><!--//row-->
            <div class="pagination-container text-center">
                <ul class="pagination">
                    <li class="disabled"><a href="#">&laquo;</a></li>
                    <li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul><!--//pagination-->
            </div><!--//pagination-container-->
        </div><!--//blog-->
    </div><!--//wrapper-->

    <!-- ******FOOTER****** -->
  <!--Footer Start-->
  <div ng-include="'app/views/subviews/footer.html'"></div>
  <!--Footer End-->

    <!-- Video Modal -->
    <div class="modal modal-video" id="modal-video" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 id="videoModalLabel" class="modal-title sr-only">Video Tour</h4>
                </div>
                <div class="modal-body">
                    <div class="video-container">
                        <iframe src="http://player.vimeo.com/video/28872840?color=ffffff&amp;wmode=transparent" width="720" height="405" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div><!--//video-container-->
                </div><!--//modal-body-->
            </div><!--//modal-content-->
        </div><!--//modal-dialog-->
    </div><!--//modal-->

    <!-- *****CONFIGURE STYLE****** -->
    <div class="config-wrapper">
        <div class="config-wrapper-inner">
            <a id="config-trigger" class="config-trigger" href="#"><i class="fa fa-cog"></i></a>
            <div id="config-panel" class="config-panel">
                <h5>Choose Colour</h5>
                <ul id="color-options" class="list-unstyled list-inline">
                    <li class="theme-1 active" ><a data-style="assets/css/styles.css" href="#"></a></li>
                    <li class="theme-2"><a data-style="assets/css/styles-2.css" href="#"></a></li>
                    <li class="theme-3"><a data-style="assets/css/styles-3.css" href="#"></a></li>
                    <li class="theme-4"><a data-style="assets/css/styles-4.css" href="#"></a></li>
                    <li class="theme-5"><a data-style="assets/css/styles-5.css" href="#"></a></li>
                    <li class="theme-6"><a data-style="assets/css/styles-6.css" href="#"></a></li>
                    <li class="theme-7"><a data-style="assets/css/styles-7.css" href="#"></a></li>
                    <li class="theme-8"><a data-style="assets/css/styles-8.css" href="#"></a></li>
                    <li class="theme-9"><a data-style="assets/css/styles-9.css" href="#"></a></li>
                    <li class="theme-10"><a data-style="assets/css/styles-10.css" href="#"></a></li>
                </ul><!--//color-options-->
                <a id="config-close" class="close" href="#"><i class="fa fa-times-circle"></i></a>
            </div><!--//configure-panel-->
        </div><!--//config-wrapper-inner-->
    </div><!--//config-wrapper-->

    <!-- Javascript -->
    <script type="text/javascript" src="assets/plugins/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="assets/plugins/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/plugins/bootstrap-hover-dropdown.min.js"></script>
    <script type="text/javascript" src="assets/plugins/back-to-top.js"></script>
    <script type="text/javascript" src="assets/plugins/jquery-placeholder/jquery.placeholder.js"></script>
    <script type="text/javascript" src="assets/plugins/FitVids/jquery.fitvids.js"></script>
    <script type="text/javascript" src="assets/plugins/flexslider/jquery.flexslider-min.js"></script>

    <!-- blog page specific js starts -->
    <script type="text/javascript" src="assets/plugins/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="assets/plugins/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="assets/js/blog.js"></script>
    <!-- blog page specific js ends -->

    <script type="text/javascript" src="assets/js/main.js"></script>
