
        	<form role="form" class="projectForm" name="projectForm" ng-submit="createProject(projectForm.$valid)">
		   <div class="projectBoxHeader text-center">
		    <span class="projectHeaderText">NEW PROJECT</span>
		  </div>
		  <div class="form-group formControlGroup">
		    <label class="formLabel">PROJECT NAME</label>
		    <input type="text" class="form-control projectFormControl" placeholder="Enter Project Name" required ng-model="name">
		  </div>
		  <div class="form-group formControlGroup">
		    <label class="formLabel">URL</label>
		    <span><input type="text" class="form-control projectFormControl" placeholder="URL" required ng-model="url">.CloudBoost.io</span>
		  </div>
		  <center>
		  	<button type="submit" class="btn btn-default cbBtn"><i class="fa fa-save buttonIcon"></i>Save</button>
		  <center>
		</form>

    <!-- Javascript -->
    <script type="text/javascript" src="assets/plugins/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="assets/plugins/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/plugins/bootstrap-hover-dropdown.min.js"></script>
    <script type="text/javascript" src="assets/plugins/back-to-top.js"></script>
    <script type="text/javascript" src="assets/plugins/jquery-placeholder/jquery.placeholder.js"></script>
    <script type="text/javascript" src="assets/plugins/FitVids/jquery.fitvids.js"></script>
    <script type="text/javascript" src="assets/plugins/flexslider/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="assets/js/main.js"></script>
