


    <!--Start Header-->
    <div ng-include="'app/views/subviews/header.html'"></div>
    <!--End Header-->

    <div class="headline-bg">
    </div><!--//headline-bg-->

     <section class="promo section section-on-bg" style="margin-bottom:-200px">
        <div class="container text-center">
            <h3 class="title" style="font-size:30px">Features that are so simple that it'll take you by surprise and yes of-course,<br/><span class="bigTitle" style="font-size:35px">That'll super-charge your app development. <br/>We promise </span></h3>
            <p class="intro">CloudBoost helps you to build data-driven web apps in days instead of months and the best part, You never have to see code. </p>
        </div><!--//container-->
    </section><!--//promo-->

    <!-- ******Features Section****** -->
    <section class="features-tabbed section" data-ng-init="init()">
        <div class="container">
            <h2 class="title text-center">What's in it for me?</h2>
            <div class="row">
                <div class=" text-center col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1 col-xs-offset-0">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs text-center" role="tablist">
                        <li id="feature1List" class="active" style="cursor:pointer"><a data-ng-click="switchFeature(1)" role="tab" data-toggle="tab"><i class="fa fa-database"></i><br /><span class="hidden-sm hidden-xs">Database Designer</span></a></li>
                        <li id="feature2List" style="cursor:pointer"><a data-ng-click="switchFeature(2)" role="tab" data-toggle="tab"><i class="fa fa-cogs"></i><br /><span class="hidden-sm hidden-xs">App Designer</span></a></li>
                        <li id="feature4List" style="cursor:pointer"><a data-ng-click="switchFeature(4)" role="tab" data-toggle="tab"><i class="fa fa-cloud-upload"></i><br /><span class="hidden-sm hidden-xs">Publish</span></a></li>
                    </ul><!--//nav-tabs-->

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="feature-1">
                            <h3 class="title sr-only">Feature One</h3>
                            <div class="desc text-left">
                                <p> <b>Data types that makes sense</b> :  Every wondered why playing around with datatypes such as int, float,string was such a pain? Yes! Now that was back in the day - We have a new database for you that actually understand what you want to store - text, description, photo, video, email, website - these URL make sense. Doesn't it?</p><br/><br/>
                                <p><b>Relationships that tells the story of your app</b> :  When you relate entities to one another - our AI Engine actually understands what you're trying to build and how your entities are connected and in which way to design forms. So, you don't have to worry about anything.</p><br/><br/>
                                 <p><b>Search is a breeze</b> :  Oh did we tell you, we auto-index your data to help you search faster (and not worry about indexing) and even write search algorithm for you automatically. So, if you've ever spent a week working on search before - back in the days, You'll find this feature a breze.</p><br/><br/>
                                  <p><b>Its in the Cloud</b> :  When we say this - geo-replication, auto-backup, auto-scaling,sharding is all taken care of. If you don't know what all of these mean - You really dont have to! We take care of all that tech jargon for you.</p><br/><br/>
                                
                            </div><!--//desc-->
                        </div><!--//tab-pane-->
                        <div class="tab-pane in active" id="feature-2">
                            <h3 class="title sr-only">Feature Two</h3>
                           
                            <div class="desc text-left">
                                 <p> <b>Form designer that designs forms automatically</b> :  That's where we kill our competitors out. We have a kick-ass form designer that lets you just drag and drop an entity on the canvas and boom! - We have everything up and running for you. You can custom-design as well, but we're sure you'll never feel the need to do it. </p><br/><br/>

                                <p><b>Custom Logic</b> :  We use flow-based-programming (see noflojs.org) to help you design your app logic. So, if you were annoyed by writing code to send an email,authentication,saving forms, editing entities - Well, thats no more. We have custom components for you incase you need to write custom logic. But 90% of the time you'll never have to.</p><br/><br/>
                                 <p><b>Custom Code</b> : Do you want to talk to a 3rd party API that we dont support yet? No problem. Drag and drop a custom component and code JavaScript. That all it takes. Simple! </p><br/><br/>

                                  <p><b>Security</b> :  We know this is hard for anyone to do. Making sure you secure your app from potential hackers out there. We do this for you automatically. We have an Access Control List that helps every record in your database to be just as safe. We also auto encrypt confidencial data, So, even if its out there - no one can read it.</p><br/><br/>

                                   <p><b>Web Hooks, Background Jobs, API  </b> :  We'll launch this soon, but we have support for Web Hooks, Background Jobs, and custom create your REST API on our roadmap. They'll launch soon. We promise.</p><br/><br/>

                            </div><!--//desc-->
                        </div><!--//tab-pane-->
                        <div class="tab-pane in active" id="feature-4">
                            <h3 class="title sr-only">Feature Four</h3>
                            
                            <div class="desc text-left">
                                <p> <b>One click publish</b> :  That's all it takes to get your app off the ground - Clicking on publish and within minutes, you're live. Throw any amount of traffic at your app, We'll handle all of it, without you need to worry about anything. </p><br/><br/>

                                <p><b>Custom Domain</b> :  We let you attach custom domain to your app too!, It's a breeze - Just follow our instructions and you'll get it done just right. </p><br/><br/>
                                 <p><b>Test Environment</b> :Want to test before you're live? We support a sandbox envirommnent that will help you test run your site before showcasing it out to the world. </p><br/><br/>

                                
                            </div><!--//desc-->
                        </div><!--//tab-pane-->
                    </div><!--//tab-content-->
                </div><!--//col-md-x-->
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//features-tabbed-->

    <!-- ******Steps Section****** -->
    <section class="steps section">
        <div class="container">
            <h2 class="title text-center">3 Simple Steps to build your app with CloudBoost</h2>
            <div class="row">
                 <div class="step text-center col-md-4 col-sm-4 col-xs-12">
                     <h3 class="title"><span class="number">1</span><br /><span class="text">Design your Database</span></h3>
                     <p>We have a very simple database designer for you, that'll help you design any kind of data-model you like and store any thing you'd like - Be it a photo, video or even any kind of wierd file.</p>
                 </div><!--//step-->
                 <div class="step text-center col-md-4 col-sm-4 col-xs-12">
                     <h3 class="title"><span class="number">2</span><br /><span class="text">Design your app</span></h3>
                     <p>Just drag and drop your database entity on the form and We'll generate forms for you - Automatically! - Then use our aweosme logic designer to design the business logic you like. Yes! Its that simple.</p>
                 </div><!--//step-->
                 <div class="step text-center col-md-4 col-sm-4 col-xs-12">
                     <h3 class="title"><span class="number">3</span><br /><span class="text">Publish it out</span></h3>
                     <p>Want to assign a custom domain? Yes - Its a breeze. We help you do everything that will take your app from development to showcasing it to the world.</p>
                 </div><!--//step-->
            </div><!--//row-->

        </div><!--//container-->
    </section><!--//steps-->

    <div ng-include="'app/views/subviews/bottom_banner.html'"></div>

    <!--Footer Start-->
    <div ng-include="'app/views/subviews/footer.html'"></div>
    <!--Footer End-->

    <!-- Javascript -->
    <script type="text/javascript" src="assets/plugins/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="assets/plugins/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/plugins/bootstrap-hover-dropdown.min.js"></script>
    <script type="text/javascript" src="assets/plugins/back-to-top.js"></script>
    <script type="text/javascript" src="assets/plugins/jquery-placeholder/jquery.placeholder.js"></script>
    <script type="text/javascript" src="assets/plugins/FitVids/jquery.fitvids.js"></script>
    <script type="text/javascript" src="assets/plugins/flexslider/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="assets/js/main.js"></script>
