


    <div class="upper-wrapper" ng-init='init()' style="background-size:cover; background-image: url('/assets/images/background/bg-header-1.jpg'); background-repeat: no-repeat;">
        <!-- ******HEADER****** -->
        <header class="header">
            <div class="container">
                <h1 class="logo">
                <a href='/'>
                    <span class="text">
                    <img id="logoImg" style="margin-bottom:10px" height="75" src='/assets/images/cblogo.png'/>
                    </span></a>
                </h1><!--//logo-->

            </div><!--//container-->
        </header><!--//header-->

        <!-- ******Login Section****** -->
        <section class="login-section access-section section">
            <div class="container">
                <div class="row">
                    <div class="form-box col-md-7 col-sm-12 col-xs-12 col-md-offset-3 col-sm-offset-0 xs-offset-0">
                        <div class="form-box-inner">
                            <h2 class="title text-center">Log in to CloudBoost</h2>
                            <div class="row">
                                <div class="form-container col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
                                  <p ng-hide="showSpinner" class="text-center" style="color:red;">{{err}}</p>
                                  <div class="text-center" ng-show="showSpinner"><i class="fa fa-spin fa-4x fa-spinner"></i></div>
                                    <form ng-show="!showSpinner" class="login-form" name="userForm" ng-submit="logIn(userForm.$valid)">
                                        <div class="form-group email">
                                            <label class="sr-only" for="login-email">Email</label>
                                            <input id="login-email" type="email" class="form-control login-email" placeholder="Email"  required  ng-model="email">
                                        </div><!--//form-group-->
                                        <div class="form-group password">
                                            <label class="sr-only" for="login-password">Password</label>
                                            <input id="login-password" type="password" class="form-control login-password" placeholder="Password"  required  ng-model="password">
                                            <p class="forgot-password"><a href="#!/forgotpassword">Forgot password?</a></p>
                                        </div><!--//form-group-->
                                        <button type="submit" class="btn btn-block btn-cta-primary">Log in</button>
                                        <div class="checkbox remember">
                                            <label>
                                                <input type="checkbox"> Remember me
                                            </label>
                                        </div><!--//checkbox-->
                                         <p class="lead">Don't have a CloudBoost account yet? <br /><a class="signup-link" href="#!/signup">Create your account now</a></p>
                                    </form>
                                </div><!--//form-container-->
                            </div><!--//row-->
                        </div><!--//form-box-inner-->
                    </div><!--//form-box-->
                </div><!--//row-->
            </div><!--//container-->
        </section><!--//contact-section-->
    </div><!--//upper-wrapper-->

    <!--Footer Start-->
    <div ng-include="'app/views/subviews/footer.html'"></div>
    <!--Footer End-->


