

    <!--Start Header-->
    <div ng-include="'app/views/subviews/header.html'"></div>
    <!--End Header-->

    <div class="headline-bg pricing-headline-bg">
    </div><!--//headline-bg-->

    <!-- ******Pricing Section****** -->
    <section class="pricing section section-on-bg">
        <div class="container">
            <h2 class="title text-center">Have <span class="highlight">questions?</span><br/> We have the answers</h2>
            <p class="intro text-center">If you have something that we did-not think of - shout-out to us at hello@cloudboost.io. We'd love to hear from you.</p>
             <!-- <div class="price-cols row">
                <div class="items-wrapper col-md-10 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
                    <div class="item price-1 col-md-4 col-sm-4 col-xs-12 text-center">
                        <div class="item-inner">
                            <div class="heading">
                            <h3 class="title">Starter</h3>
                                <p class="price-figure"><span class="price-figure-inner"><span class="number">Free</span></span><br/><span class="unit">for experiements and prototypes</span></p>
                            </div>
                            <div class="content">
                                <ul class="list-unstyled feature-list">
                                    <li><i class="fa fa-check"></i>50 users</li>
                                    <li><i class="fa fa-check"></i>1 GB storage</li>
                                    <li><i class="fa fa-check"></i>Basic Component Library</li>
                                    <li><i class="fa fa-check"></i>CloudBoost.io subdomain</li>    
                                    <li><i class="fa fa-check"></i>Free email support</li>
                                </ul>
                                <a class=" disabled btn btn-cta btn-cta-primary" href="signup.html">Launching soon</a>

                            </div>
                        </div>
                    </div>

                    <div class="item price-2 col-md-4 col-sm-4 col-xs-12 text-center best-buy">
                        <div class="item-inner">
                            <div class="heading">
                            <h3 class="title">Small App</h3>
                                <p class="price-figure"><span class="price-figure-inner"><span class="currency">$</span><span class="number">20</span><br /><span class="unit">per month</span></span></p>
                            </div>
                            <div class="content">
                                <ul class="list-unstyled feature-list">
                                    <li><i class="fa fa-check"></i>500 users</li>
                                    <li><i class="fa fa-check"></i>20 GB storage</li>
                                    <li><i class="fa fa-check"></i>Advanced Component Library</li>
                                    <li><i class="fa fa-check"></i>Custom Domain Support</li>    
                                    <li><i class="fa fa-check"></i>Free email support</li>
                                    <li><i class="fa fa-check"></i>Free online support</li>
                                </ul>
                                <a class=" disabled btn btn-cta btn-cta-primary" href="signup.html">Launching soon</a>
                            </div>
                        </div>
                    </div>

                    <div class="item price-3 col-md-4 col-sm-4 col-xs-12 text-center">
                        <div class="item-inner">
                            <div class="heading">
                                <h3 class="title">Apps at Scale</h3>
                                <p class="price-figure"><span class="price-figure-inner"><span class="currency">$</span><span class="number">50</span><br /><span class="unit">per month</span></span></p>
                            </div>
                            <div class="content">
                                <ul class="list-unstyled feature-list">
                                    <li><i class="fa fa-check"></i>5000 users</li>
                                    <li><i class="fa fa-check"></i>50 GB storage</li>
                                    <li><i class="fa fa-check"></i>Advanced Component Library</li>
                                    <li><i class="fa fa-check"></i>Custom Domain Support</li>    
                                    <li><i class="fa fa-check"></i>Free email support</li>
                                    <li><i class="fa fa-check"></i>Free online support</li>
                                </ul>
                                <a class=" disabled btn btn-cta btn-cta-primary" href="signup.html">Launching soon</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
    </section> 

    <!-- ******FAQ Section****** -->
    <section class="faq section has-bg-color">
        <div class="container">
            <h2 class="title text-center">Frequently Asked Questions</h2>
            <div class="row">
                <div class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1 col-xs-offset-0">
                    <div class="panel">
                        <div class="panel-heading" data-ng-click="faqExpand('faq1')" style="cursor:pointer">
                            <h4 class="panel-title"><a data-parent="#accordion"
                            data-toggle="collapse" class="panel-toggle"><i class="fa fa-plus-square"></i>How fast can I build a web app?</a></h4>
                        </div>

                        <div class="panel-collapse collapse" id="faq1">
                            <div class="panel-body">
                                Well, lets say - You can build Hacker News in a day (or less), freelancer.com in 3 days or less, and zomato.com in 5 days (or less). That's crazy fast. Is'nt it? Yeah - We know. To try us out, see out starter plans and play around as long as you want. 
                            </div>
                        </div>
                    </div><!--//panel-->

                    <div class="panel">
                        <div class="panel-heading" data-ng-click="faqExpand('faq2')" style="cursor:pointer">
                            <h4 class="panel-title"><a data-parent="#accordion"
                            data-toggle="collapse" class="panel-toggle"><i class="fa fa-plus-square"></i>What if I want to custom code / integrate with 3rd party API? </a></h4>
                        </div>

                        <div class="panel-collapse collapse" id="faq2">
                            <div class="panel-body">
                                You can! We have custom componnts for you. Write Javascript (the language which most of us in web already know). But, We only let you code if you have to. For all the mundane tasks like email,auth we have components built for you which you can use. 
                            </div>
                        </div>
                    </div><!--//panel-->

                  <!--   <div class="panel">
                        <div class="panel-heading" data-ng-click="faqExpand('faq3')" style="cursor:pointer">
                            <h4 class="panel-title"><a data-parent="#accordion"
                            data-toggle="collapse" class="panel-toggle"><i class="fa fa-plus-square"></i>What if I exceed your "App at Scale" plan.</a></h4>
                        </div>

                        <div class="panel-collapse collapse" id="faq3">
                            <div class="panel-body">
                               <a href="#/contact">Call us.</a> We'll get the right plan to suit your needs. 
                            </div>
                        </div>
                    </div> -->

                    <div class="panel">
                        <div class="panel-heading" data-ng-click="faqExpand('faq4')" style="cursor:pointer">
                            <h4 class="panel-title"><a data-parent="#accordion"
                            data-toggle="collapse" class="panel-toggle"><i class="fa fa-plus-square"></i>What if I dont like the default theme?</a></h4>
                        </div>

                        <div class="panel-collapse collapse" id="faq4">
                            <div class="panel-body">
                                We have tons of themes to help you play aorund with. If you dont like any - then you can edit HTML,CSS and custom brand your site.
                            </div>
                        </div>
                    </div><!--//panel-->

                    <div class="panel">
                        <div class="panel-heading" data-ng-click="faqExpand('faq5')" style="cursor:pointer">
                            <h4 class="panel-title"><a data-parent="#accordion"
                            data-toggle="collapse" class="panel-toggle"><i class="fa fa-plus-square"></i>What if I need a feature which you dont have. </a></h4>
                        </div>

                        <div class="panel-collapse collapse" id="faq5">
                            <div class="panel-body">
                                We're always expanding our list of features. We're sorry if we miss anything. Give us a shout-out, and We'll be there to help.
                            </div>
                        </div>
                    </div><!--//panel-->

                    <div class="panel">
                        <div class="panel-heading" data-ng-click="faqExpand('faq6')" style="cursor:pointer">
                            <h4 class="panel-title"><a data-parent="#accordion"
                            data-toggle="collapse" class="panel-toggle"><i class="fa fa-plus-square"></i>Am I locked in?</a></h4>
                        </div>

                        <div class="panel-collapse collapse" id="faq6">
                            <div class="panel-body">
                                By locked in you mean if I own my data. Yes. You do. We help you export your data to any format you like. OR If by locked in you mean, my backend is locked in. Unfortunately yes, To achieve apps that build crazy fast - we need to have a custom backend which we have. One important thing though - If you host with us, We will auto-update your app regularly with and will always keep it fresh.
                            </div>
                        </div>
                    </div><!--//panel-->

                    <div class="panel">
                        <div class="panel-heading" data-ng-click="faqExpand('faq7')" style="cursor:pointer">
                            <h4 class="panel-title"><a data-parent="#accordion"
                            data-toggle="collapse" class="panel-toggle"><i class="fa fa-plus-square"></i>Updates? What kind of updates?</a></h4>
                        </div>

                        <div class="panel-collapse collapse" id="faq7">
                            <div class="panel-body">
                               New improvements in Search, performance, data-storage, blobs and more. We dont change your look-and-feel. We only update the backend which we have.
                            </div>
                        </div>
                    </div><!--//panel-->

                    <div class="panel">
                        <div class="panel-heading" data-ng-click="faqExpand('faq8')" style="cursor:pointer">
                            <h4 class="panel-title"><a data-parent="#accordion"
                            data-toggle="collapse" class="panel-toggle"><i class="fa fa-plus-square"></i>I'm awesome and I want to join your team.</a></h4>
                        </div>

                        <div class="panel-collapse collapse" id="faq8">
                            <div class="panel-body">
                                Feel free to reach out to us. Before you reach out : <br/>
                                #1 - We don't need people who are in for money. <br/>
                                #2 - We need people who believe they can change the world. <br/>
                                #3 - If you enjoy learning crazy stuff, and love working with like-minded people. <br/><br/>
                                If this sounds like you. <a href="#/joinus">Call us now.</a>
                            </div>
                        </div>
                    </div><!--//panel-->
                </div>
            </div><!--//row-->
            <div class="contact-lead text-center">
                <h4 class="title">Have more questions?</h4>
                <a class="btn btn-cta btn-cta-secondary" href="#/contact">Get in touch</a>
            </div>
        </div><!--//container-->
    </section><!--//faq-->

      <div ng-include="'app/views/subviews/bottom_banner.html'"></div>

      <!--Footer Start-->
      <div ng-include="'app/views/subviews/footer.html'"></div>
      <!--Footer End-->


    <!-- Javascript -->
    <script type="text/javascript" src="assets/plugins/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="assets/plugins/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/plugins/bootstrap-hover-dropdown.min.js"></script>
    <script type="text/javascript" src="assets/plugins/back-to-top.js"></script>
    <script type="text/javascript" src="assets/plugins/jquery-placeholder/jquery.placeholder.js"></script>
    <script type="text/javascript" src="assets/plugins/FitVids/jquery.fitvids.js"></script>
    <script type="text/javascript" src="assets/plugins/flexslider/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="assets/js/main.js"></script>
