

    <div class="headline-bg pricing-headline-bg">
    </div><!--//headline-bg-->

    <!-- ******Pricing Section****** -->
    <section class="pricing section section-on-bg" data-ng-init="init()">
        <div class="container">

            <h2 class="title text-center">Pay-as-you-go pricing. Simple and transparent. </h2>

            <p class="intro text-center">No contracts. Pay-as-yo-go. Cancel anytime.  Not satisfied with anything? We'll refund. No questions asked.</p>
              <div class="price-cols row col-md-8 col-md-offset-2">

                    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                    
                    <h3>API</h3>
                    <input type="text" id="api" name="example_name" value="" />
                    <span style="color:#696E6E">
                        <h4 class="pull-left">Requests / month</h4> <h4 class="pull-right">   $ <span id="apiText"></span> USD </h4> 
                    </span>

                    <br/><br/><br/>

                    <h3>Data Storage</h3>
                    <input type="text" id="storage" name="example_name" value="" />
                    <span style="color:#696E6E">
                        <h4 class="pull-left">Size of data stored</h4> <h4 class="pull-right"> $ <span id="storageText"></span> USD </h4> 
                    </span>

                    <br/><br/><br/>

                    <h3>Search</h3>
                    <input type="text" id="search" name="example_name" value="" />
                    <span style="color:#696E6E">
                        <h4 class="pull-left">Documents indexed for search</h4> <h4 class="pull-right"> $ <span id="searchText"></span> USD</h4> 
                    </span>

                    <br/><br/><br/>

                    <h3>Real-time (Pub / Sub)</h3>
                    <input type="text" id="realtime" name="example_name" value="" />
                    <div style="color:#696E6E">
                        <h4 class="pull-left">Messages Sent / month</h4> <h4 class="pull-right">$ <span id="realtimeText"></span> USD</h4> 
                    </div>

                    <br/><br/><br/><br/><br/>
                    
                    <div>
                        <h2 class="pull-left">Total </h2> <h2 class="pull-right">$ <span id="totalText"></span> USD / month</h2> 
                    </div>
            </div>
        </div>
    </section> 

    <!-- ******FAQ Section****** -->
    <section class="faq section has-bg-color">
        <div class="container">
            <h2 class="title text-center">Frequently Asked Questions</h2>
            <div class="row">
                <div class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1 col-xs-offset-0">
                    <div class="panel">
                        <div class="panel-heading" data-ng-click="faqExpand('faq1')" style="cursor:pointer">
                            <h4 class="panel-title"><a data-parent="#accordion"
                            data-toggle="collapse" class="panel-toggle"><i class="fa fa-plus-square"></i>What if I exceed the slider limits limits?</a></h4>
                        </div>

                        <div class="panel-collapse collapse" id="faq1">
                            <div class="panel-body">
                               <p>Call us. We have discounted pricing for you. </p>
                            </div>
                        </div>
                    </div><!--//panel-->

                    <div class="panel">
                        <div class="panel-heading" data-ng-click="faqExpand('faq2')" style="cursor:pointer">
                            <h4 class="panel-title"><a data-parent="#accordion"
                            data-toggle="collapse" class="panel-toggle"><i class="fa fa-plus-square"></i>Can I see my detailed metrics? </a></h4>
                        </div>

                        <div class="panel-collapse collapse" id="faq2">
                            <div class="panel-body">

                            Yes. Log in to your dashboard and you can.
                            </div>
                        </div>
                    </div><!--//panel-->

                    <div class="panel">
                        <div class="panel-heading" data-ng-click="faqExpand('faq3')" style="cursor:pointer">
                            <h4 class="panel-title"><a data-parent="#accordion"
                            data-toggle="collapse" class="panel-toggle"><i class="fa fa-plus-square"></i>Can I add spending limits,  and cancel?</a></h4>
                        </div>

                        <div class="panel-collapse collapse" id="faq3">
                            <div class="panel-body">
                               Yes. You can change your CloudBoost App size or even cancel at any time from your dashboard. Note that we don't provide prorated refunds for downgrades or cancellations.
                            </div>
                        </div>
                    </div>

                    <div class="panel">
                        <div class="panel-heading" data-ng-click="faqExpand('faq4')" style="cursor:pointer">
                            <h4 class="panel-title"><a data-parent="#accordion"
                            data-toggle="collapse" class="panel-toggle"><i class="fa fa-plus-square"></i> What kind of support will I receive?</a></h4>
                        </div>

                        <div class="panel-collapse collapse" id="faq4">
                            <div class="panel-body">
                                All paid CloudBoost Accounts come with email and phone support from CloudBoost engineers. Additional levels of support, including 24x7 phone support, are available to Enterprise customers.
                            </div>
                        </div>
                    </div><!--//panel-->

                

                    <div class="panel">
                        <div class="panel-heading" data-ng-click="faqExpand('faq8')" style="cursor:pointer">
                            <h4 class="panel-title"><a data-parent="#accordion"
                            data-toggle="collapse" class="panel-toggle"><i class="fa fa-plus-square"></i>I'm awesome and I want to join your team.</a></h4>
                        </div>

                        <div class="panel-collapse collapse" id="faq8">
                            <div class="panel-body">
                                Feel free to reach out to us. Before you reach out : <br/>
                                #1 - We don't need people who are in for money. <br/>
                                #2 - We need people who believe they can change the world. <br/>
                                #3 - If you enjoy learning crazy stuff, and love working with like-minded people. <br/><br/>
                                If this sounds like you. <a href="#!/joinus">Call us now.</a>
                            </div>
                        </div>
                    </div><!--//panel-->
                </div>
            </div><!--//row-->
            <div class="contact-lead text-center">
                <h4 class="title">Have more questions?</h4>
                <a class="btn btn-cta btn-cta-secondary" href="#!/contact">Get in touch</a>
            </div>
        </div><!--//container-->
    </section><!--//faq-->

      <div ng-include="'app/views/subviews/bottom_banner.html'"></div>

      <!--Footer Start-->
      <div ng-include="'app/views/subviews/footer.html'"></div>
      <!--Footer End-->

    
    <script type="text/javascript" src="assets/plugins/back-to-top.js"></script>
    <script type="text/javascript" src="assets/plugins/jquery-placeholder/jquery.placeholder.js"></script>
    <script type="text/javascript" src="assets/plugins/FitVids/jquery.fitvids.js"></script>
    <script type="text/javascript" src="assets/plugins/flexslider/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="assets/js/main.js"></script>
