
    <div class="headline-bg">
    </div><!--//headline-bg-->

     <section class="contact-section section section-on-bg" style="margin-bottom:-200px">
        <div class="container text-center">
             <div class="col-md-12"> 
                        <h1 style="color:white; font-family:font-family: 'Signika', sans-serif; font-weight: 300; ">Here's a <span style="font-weight: 700;">a 2 minute quickstart </span> on CloudBoost.</h1>
                    </div> 
                    <div>             
                            <h4 style="color:white; font-family:font-family: 'Signika', sans-serif; font-weight: 300; ">Build mobile and web apps in minutes using client-side code and our powerful API. Save time. Delight your users.  <br/><br/><b>It'll just take few lines of code to power your app with CloudBoost.</b> </h4>
                    </div>
           
        </div><!--//container-->
    </section><!--//promo-->

    <br/><br/><br/></br><br/><br/></br><br/><br/></br></br><br/><br/></br>

       <section id="why" class="section why">
            <div class="container">
                <h2 class="title text-center">Take your first step towards  building your next big thing... </h2>
                <div class="row item" style="border-bottom:0px; margin-bottom:-70px">
                    <div class="content col-md-offset-1 col-md-9 col-sm-12 col-xs-12">
                        <div class="quote">
                            <div class="quote-profile">
                               <div class="text-center" style="background:#549AFC; padding:10px; border-radius:50%; width:75px; height:75px; color:white;">
                                    <p style="font-size:2.2em">1</p>
                                </div>
                            </div><!--//profile-->
                            <div class="quote-content">
                                <p><a href="https://api.cloudboost.io/sdk/js/1.0.0" target="_blank"><b>Download the SDK : </b></a> Download the CloudBoost JavaScirpt SDK and link it to your app. A good place for it to be is in the head of index.html / main page of your app. </p>
                                <p class="source">Note : You need to link <a href="http://code.jquery.com/jquery-2.1.3.min.js"> jQuery </a> before you link CloudBoost SDK.</p>
                            </div><!--//quote-content-->                                     
                        </div><!--//quote-->                        
                    </div><!--//content-->
                </div><!--//item-->
                
                 <div class="row item" style="border-bottom:0px; margin-bottom:-70px">
                    <div class="content col-md-offset-1 col-md-9 col-sm-12 col-xs-12">
                        <div class="quote">
                            <div class="quote-profile" >
                                <div class="text-center" style="background:#549AFC; padding:10px; border-radius:50%; width:75px; height:75px; color:white;">
                                    <p style="font-size:2.2em">2</p>
                                </div>
                            </div><!--//profile-->
                            <div class="quote-content">
                                <p><a href="https://api.cloudboost.io/sdk/js/1.0.0" target="_blank"><b>Initialize your CloudBoost App : </b></a> Initializing your CloudBoost app is just one single line of code :  </p>
                                <textarea rows="3" id="initCode" disabled="true" width="height:30px">
//Initialize your CloudBoost App
CB.CloudApp.init('YOUR APP ID', 'YOUR APP KEY'); </textarea>
                            </div><!--//quote-content-->                                     
                        </div><!--//quote-->                        
                    </div><!--//content-->
                    
                </div><!--//item-->

            </div><!--//container-->
        </section>

    <!-- ******Features Section****** -->
    <section class="features-tabbed section" data-ng-init="init()">
        <div class="container">

            <div class="row">
                <div class=" text-center col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1 col-xs-offset-0"

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs text-center" role="tablist">
                        <li id="feature1List" class="active" style="cursor:pointer"><a data-ng-click="switchFeature(1)" role="tab" data-toggle="tab"><i class="fa fa-database"></i><br /><span class="hidden-sm hidden-xs">Store</span></a></li>
                        <li id="feature2List" style="cursor:pointer"><a data-ng-click="switchFeature(2)" role="tab" data-toggle="tab"><i class="fa fa-clock-o"></i><br /><span class="hidden-sm hidden-xs">Realtime</span></a></li>
                        <li id="feature4List" style="cursor:pointer"><a data-ng-click="switchFeature(4)" role="tab" data-toggle="tab"><i class="fa fa-search"></i><br /><span class="hidden-sm hidden-xs">Search</span></a></li>
                    </ul><!--//nav-tabs-->

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="feature1">
                            <h3 class="title sr-only">Feature One</h3>
                            <div class="desc text-left">
                                <p> <b> Insert data into your CloudBost app </b> :  </p>

                                <p> Inserting data into your CloudBoost app is very simple. Here we create a new CloudObject of type Student, set a name to John Smith and save it to the database. </p>

                                <textarea id="objectInsert" disabled="true">

//insert a new object in CloudBoost

var obj = new CB.CloudObject('Student');
obj.set('name', 'John Smith');
obj.save({
    success : function(obj){

    }, error : function (error){

    }
});

                                </textarea>

                                <br/><br/>

                                <p> <b> Query data in CloudBoost </b> :  </p>

                                <p> Querying data from your CloudBoost app is crazy simple. Here we create a new CloudQuery object of type Student, set a name to John Smith and query it from the  database. </p>

                                <textarea id="objectQuery" disabled="true">

//query data from CloudBoost

var query = new CB.CloudQuery('Student');
query.equalTo('name', 'John Smith');
query.find({
    success : function(list){
        //list is an array of CloudObjects.
    }, error : function (error){

    }
});

                                </textarea>

                                
                            </div><!--//desc-->
                        </div><!--//tab-pane-->
                        <div class="tab-pane in active" id="feature2">
                            <h3 class="title sr-only">Feature Two</h3>
                           
                            <div class="desc text-left">

                            <p> <b> Get notifications when object is inserted / updated or deleted </b> : </p>

                                <p> Get instant alerts when data in your database is created / updated or deleted and keep all your apps in sync and in realtime. WOW your users with great user expeirence by implementing realtime.  
                                </p>

                                <textarea id="objectNotifications" disabled="true">

//CloudObjects Notification.

CB.CloudObject.on('Student', 'created', function(obj){ 
    //your custom function which you want to fire.
    //obj is an instance of CloudObject
    alert('Student Created : '+ obj.get('name'));
});

                                </textarea>
                                 

                                <br/><br/>

                                <p> <b> Updating your app with realtime notifications </b>:  </p>

                                <p> CloudNotifications provide an easy way to crate custom channels, and publish data to those channels and update your app in realtime. </p>

                                <textarea id="cloudNotifications" disabled="true">

//CloudNotification

CB.CloudNotification.on('sample', function(data){
    alert(data);
}, {
    success : function(){
        //successfully subscribed.
    },
    error : function(){
        
    }
});


CB.CloudNotification.publish('sample', 'data', {
    success : function(){
        //succesfully published. 
    },
    error : function(err){
       
    }
});

                                </textarea>

                                

                            </div><!--//desc-->
                        </div><!--//tab-pane-->
                        <div class="tab-pane in active" id="feature4">
                            <h3 class="title sr-only">Feature Four</h3>
                            
                            <div class="desc text-left">
                                <p> <b> Index objects for search </b> :  </p>

                                <p> Indexing your data is easy. Every CloudObject has a property called isSearchable, You just have to set it to true and We'll automatically index your object for search. </p>

                                <textarea id="indexSearch" disabled="true">

//insert a new object adn index it for Search.

var obj = new CB.CloudObject('Student');
obj.set('name', 'John Smith');
obj.isSearchable = true; //index this object for search. 
obj.save({
    success : function(obj){

    }, error : function (error){

    }
});

                                </textarea>

                                <br/><br/>

                                <p> <b> Search your data with CloudSearch </b> :  </p>

                                <p> CloudSearch is more like a search-engine which returns your data in the order of relevance and searching for your data is as simple as querying.  </p>

                                <textarea id="searchSearch" disabled="true">

//search data with CloudSearch

var cs = new CB.CloudSearch('Student');
cs.searchOn('name', 'John');
cs.search({
    success : function(list){
        //list is an array of CloudObjects.
    }, error : function (error){

    }
});

                                </textarea>

                                
                            </div><!--//desc-->
                        </div><!--//tab-pane-->
                    </div><!--//tab-content-->
                </div><!--//col-md-x-->
            </div><!--//row-->

            <div class="feature-lead text-center">
                    <p>We have an amazing API documented beautifully for you. <br/> Want to have a look?<p>
                    <p><a class="btn btn-cta btn-cta-secondary" href="https://docs.cloudboost.io">See our API Docs.</a></p>
                </div>


        </div><!--//container-->
    </section><!--//features-tabbed-->

    <!-- ******Steps Section****** -->
    <section class="steps section">
        <div class="container">
            <h2 class="title text-center">3 Simple Steps to build your app with CloudBoost</h2>
            <div class="row">
                 <div class="step text-center col-md-4 col-sm-4 col-xs-12">
                     <h3 class="title"><span class="number">1</span><br /><span class="text">Create a new app</span></h3>
                     <p>Sign-up for a new free hacker account on CloudBoost and start experimenting by creating a new app, which will give you API keys to access our CloudBoost API</p>
                 </div><!--//step-->
                 <div class="step text-center col-md-4 col-sm-4 col-xs-12">
                     <h3 class="title"><span class="number">2</span><br /><span class="text">Link the SDK to your app</span></h3>
                     <p><a href="https://api.cloudboost.io/sdk/js/1.0.0">Download </a> and link our SDK to your app, inititialize the SDK with the API Key and you're ready to go.</p>
                 </div><!--//step-->
                 <div class="step text-center col-md-4 col-sm-4 col-xs-12">
                     <h3 class="title"><span class="number">3</span><br /><span class="text">Start Hacking</span></h3>
                     <p>Start experimenting and power your app with CloudBoost, We have features from data store, all the way to CloudNotificaions, and CloudSearch.</p>
                 </div><!--//step-->
            </div><!--//row-->

        </div><!--//container-->

    </section><!--//steps-->

    <div ng-include="'app/views/subviews/bottom_banner.html'"></div>

    <!--Footer Start-->
    <div ng-include="'app/views/subviews/footer.html'"></div>
    <!--Footer End-->





