

    <div class="upper-wrapper" ng-init='init()' style="background-size:cover; background-image: url('/assets/images/background/bg-header-1.jpg'); background-repeat: no-repeat;">
        <!-- ******HEADER****** -->
        <header class="header">
            <div class="container">
                 <h1 class="logo">
                    <a href='#/'>
                        <span class="text">
                            <img id="logoImg" style="margin-bottom:10px" height="75" src='/assets/images/cblogo.png'/>
                        </span></a>
                </h1><!--//logo-->
            </div><!--//container-->
        </header><!--//header-->

        <!-- ******Login Section****** -->
        <section class="signup-section access-section section">
            <div class="container">
                <div class="row">
                    <div class="form-box col-md-10 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 xs-offset-0">
                        <div class="form-box-inner">
                            <h2 class="title text-center">Sign up now</h2>
                            <p class="intro text-center">It only takes 2 minutes!</p>

                            <div class="row">

                                <div class="form-container col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
                                  <p style="color:red;">{{err}}</p>
                                    <div id="spinner" ng-show="showSpinner"></div>
                                    <form class="signup-form" name="userForm" ng-submit="signUp(userForm.$valid)">
                                      <div class="form-group email">
                                          <label class="sr-only" for="signup-email">Your name</label>
                                          <input id="signup-email" type="text" class="form-control login-email" placeholder="Your name"  required  ng-model="name">
                                      </div><!--//form-group-->
                                        <div class="form-group email">
                                            <label class="sr-only" for="signup-email">Your email</label>
                                            <input id="signup-email" type="email" class="form-control login-email" placeholder="Your email"  required  ng-model="email">
                                        </div><!--//form-group-->
                                        <div class="form-group password">
                                            <label class="sr-only" for="signup-password">Your password</label>
                                            <input id="signup-password" type="password" class="form-control login-password" placeholder="Password"  required  ng-model="password">
                                        </div><!--//form-group-->
                                        <button type="submit" class="btn btn-block btn-cta-primary">Sign up</button>
                                        <p class="note">By signing up, you agree to our terms of services and privacy policy.</p>
                                        <p class="lead">Already have an account? <a class="login-link" id="login-link" href="#/login">Log in</a></p>
                                    </form>
                                </div><!--//form-container-->
                            </div><!--//row-->
                        </div><!--//form-box-inner-->
                    </div><!--//form-box-->
                </div><!--//row-->
            </div><!--//container-->
        </section><!--//contact-section-->
    </div><!--//upper-wrapper-->

    <!--Footer Start-->
    <div ng-include="'app/views/subviews/footer.html'"></div>
    <!--Footer End-->
