    <div style="height:100%" data-ng-init="init()">

    <div class="bg-slider-wrapper">
        <div class="flexslider bg-slider">
            <ul class="slides">
                <li class="slide slide-1"></li>
                <li class="slide slide-2"></li>
                <li class="slide slide-3"></li>
            </ul>
        </div>
    </div><!--//bg-slider-wrapper-->

    <section class="promo section section-on-bg">

        <div class="container">
            <div class="row">
                <center>
                    <div class="col-md-12"> 
                        <h1 style="color:white; font-family:font-family: 'Signika', sans-serif; font-weight: 300; ">One <span style="font-weight: 700;">Complete Database Service </span> for your app</h1>
                    </div> 
                    <div>             
                            <h4 style="color:white; font-family:font-family: 'Signika', sans-serif; font-weight: 300; ">Add Data-storage, Realtime, Search, Cache,  Graphs, Time-Series, Geo-Spartial with <b>One Simple API.</b> </h4>
                    </div>
                    <div>
                         <button type="button" class="play-trigger btn-link " data-toggle="modal" data-target="#modal-video" data-backdrop="static" data-keyboard="false"><i class="fa fa-youtube-play"></i> Watch the video</button>
                    </div>
                </center>
            </div>       
            <div class="row">
                <div class="col-md-5">
                    <div class="widget-div">
                        <div class="widget-bx">
                            <div class="widget-bxmenu cf">
                                <div class="apple-circle pull-left" style="background-color:#FB544E;"></div>
                                <div class="apple-circle pull-left" style="margin-left:4px; background-color:#F7BD43;"></div>
                                <div class="apple-circle pull-left" style="margin-left:4px; background-color:#00C57E;"></div>
                            </div>  

                            <div class="widget-header cf">
                                <div class="widget-search pull-left cf">
                                    <input type="text" id="search-input" placeholder="Search anything" class="pull-left" ng-model="search.comment">
                                    <a class="search-btn pull-left"><i class="fa fa-search"></i></a>
                                </div>                              
                               
                                 <div class="realtime-div pull-right" ng-click="toggleNotifications()">
                                    <i class="fa fa-comments notify-icon"></i>
                                    <div class="notify-counter" ng-show="notificationCount>0">
                                        <center>
                                           <span class="count-number">{{notificationCount}}</span>
                                        </center>
                                    </div>
                                </div>

                            </div>
                            <!--List of comments--> 
                            <div id="notificationContainer"  ng-show="showNotifications">
                                <div id="notificationTitle">Notifications</div>
                                <div id="notificationsBody" class="notifications" style="margin-top:-10px">
                                   <div class="comments-container cf" ng-repeat="eachComment in filteredCommentList=(commentsList | filter:filterUserFn)">
                                       <div class="user-pic pull-left">
                                            <img src="assets/images/{{eachComment.userPic}}.png">
                                       </div>
                                       <div class="user-comment pull-left">                    
                                        <span>
                                          Hi,You got a new notification from <span class="notify-username">Jeff Whietman </span>
                                        </span>    
                                       </div>
                                   </div>

                                   <div class="comments-container cf" ng-show="!filteredCommentList.length">
                                    <span style="color:black; font-size:12px;">There are no notifications</span>
                                   </div>

                                </div>                                
                            </div>
                            <!--/List of comments-->

                            <div class="widget-content">
                                <div>
                                    <div class="cf">
                                        <form name="postForm" ng-submit="postComment(postForm.$valid)">
                                            <div class="txtinput pull-left">
                                                <div class="txt-wrapper cf">
                                                    <input tyoe="text" class="pull-right" placeholder="Post anything" ng-model="comment">
                                                </div>                                        
                                            </div>
                                            <div class="post-btn-bx pull-left">
                                                <button type="submit" class="post-btn pull-right">Post</button>
                                            </div>
                                        </form>    
                                    </div>

                                    <div class="widget-comments-list cf">
                                        <div class="widget-comments-bx cf" ng-repeat="eachComment in commentsList | filter:search | orderBy:'index':true">
                                            <div class="user-pic pull-left">
                                             <img src="assets/images/{{eachComment.userPic}}.png">
                                           </div>
                                           <div class="user-comment2 pull-left" style="margin:5px;margin-left:7px;">
                                                <span class="comment-username">{{eachComment.name}}</span>
                                                <span ng-bind-html="eachComment.comment">
                                                   
                                                </span>    
                                           </div>
                                        </div>

                                        <!--Static-->
                                        <div class="widget-comments-bx cf">
                                            <div class="user-pic pull-left">
                                             <img src="assets/images/cb-user.png">
                                            </div>
                                            <div class="user-comment2 pull-left" style="margin:5px;margin-left:7px;">
                                                <span class="comment-username">Jeff Whietman from CloudBoost</span>
                                                <span>
                                                   Hey, Thanks for coming up. CloudBoost is one simple API that you can build your big app on. Infact, the app you see here can be built on CloudBoost too! Feel free to play with it. 
                                                </span>                                             
                                            </div>
                                        </div>
                                                                           
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                       
                </div>
                <div class="col-md-6 col-md-offset-1 ">
                 <div class="widget-div">
                        <div class="code-bx">
                           <center>
                                <span class="widgetBrowserHeader">APP CODE</span>
                            </center>  

                            <div class="code-header cf">
                                                           
                                <div id='js' class="pull-left languageHeader active" ng-click="languageClick('js')">
                                    JavaScript   
                                </div>
                                <div id='java' class="pull-left languageHeader" ng-click="languageClick('java')">
                                    Java
                                </div>
                            </div>
<div id="Insert-js">                           
<textarea id="objectInsert-js" disabled="true">

//insert a new object in CloudBoost
var obj = new CB.CloudObject('Post');
obj.set('text', 'Your text here.');
obj.save({
    success : function(obj){
        //object saved. 
    }, error : function (error){

    }
});
</textarea>
</div>
<div id="Realtime-js">
<textarea id="objectRealtime-js" disabled="true">

//insert a new object in CloudBoost
CB.CloudObject.on('Post','created', function(post){
    //when a new post is created, this function is fired. 
});
   
</textarea>
</div>
<div id="Search-js">
    <textarea id="objectSearch-js" disabled="true">

var cs = new CB.CloudSearch('Post');
cs.searchOn('text', 'Your search text here');
cs.search({
    success : function(list){
        //list is an array of CloudObjects of Post Table.
    },error : function(error){
        //error
    }
});
    </textarea>

</div>


<div id="Insert-java">                           
<textarea id="objectInsert-java" disabled="true">

CloudObject obj = new CloudObject("Post");
ob.set("text", "your text here");

Callback callbackObj = new Callback(){
	@Override
	public void success() {
		//success
	}
	@Override
	public void error() {
		//error
	}
};

obj.save(callbackObj);

</textarea>
</div>
<div id="Realtime-java">
<textarea id="objectRealtime-java" disabled="true">

CloudObject obj = new CloudObject("Post");
//intializing CloudNotificationMethod, and overriding methods 
CloudNotificationMethod callbackObj = new CloudNotificationMethod(){ 
	@Override 
	public void onMethod(Object data) { // override this function as per your requirnment. 
		//data is an instance of CloudObject
	} 
}; 
obj.on("Post", "created",  callbackObj);

</textarea>
</div>
<div id="Search-java">
    <textarea id="objectSearch-java" disabled="true">
    
CloudSearch cs = new CloudSearch('Post');
cs.searchOn('text', 'Your search text here');
Map&lt;String, Object&gt;[] searchResultList;

CloudSearchCallback callbackObj = new CloudSearchCallback(){
	@Override
	public void success(list) {
		//list is an array of CloudObject
	}
	@Override
	public void error() {
		//error
	}
};
cs.search(callbackObj);
    </textarea>
</div>



                            
                        </div>
                </div>  
                <div class="bottomBar">

                    <div class="col-md-4 bottomBarIcon">
                        <div>
                            <div style="width:60%; margin:0 auto;" id="InsertIcon" class="pull-left bottomBarIconHover" ng-click="featureClick('Insert')">
                                <center>
                                    <i class="fa fa-database" ></i>
                                    <div class="bottomText">STORAGE</div>
                                </center>
                            </div>
                        </div>
                        <div class="pull-right verticalDivider"></div>
                     </div>
                   
                    <div class="col-md-4 bottomBarIcon">
                        <div class="pull-left bottomBarIconHover" id="RealtimeIcon" ng-click="featureClick('Realtime')">
                            <div style="margin-left:27px;">
                                <center>
                                    <i class="fa fa-comment"></i>
                                    <div class="bottomText">REALTIME</div>
                                </center>
                            </div>
                        </div>
                        <div class="pull-right verticalDivider">
                        </div>
                    </div>
                    
                    <div class="col-md-4 bottomBarIcon bottomBarIconHover" id="SearchIcon" ng-click="featureClick('Search')">
                     
                        <div style="width:60%; margin:0 auto;" class="pull-left">
                            <center>
                                <i class="fa fa-search"></i>
                                <div class="bottomText">SEARCH</div>
                            </center>
                        </div>
                    </div>

                  </div>  
                </div>
        </div><!--//container-->
        <div class="row" style="margin-top:40px">
                <center>
                    <div class="col-md-12"> 
                        <h1 style="color:white; font-family:font-family: 'Signika', sans-serif; font-weight: 300; "> <span style="font-weight: 700;"><a style="color:white; " href="/signup" class="whiteButton">Start Hacking</a></span> with a free account now.</h1>
                    </div> 
                    
                </center>
            </div>       
    </section><!--//promo-->

    <div class="sections-wrapper" >

        <!-- ******Why Section****** -->
        <section id="why" class="section why">
            <div class="container">
                <h2 class="title text-center">Why build your apps with us?</h2>
                <p class="intro text-center"> You want to build an app that does a bunch of things - from search, to updates in realtime, to caching for faster data-access and more. <br/>We do it all of it for you, with a very simple SDK.</p>
                <div class="row item">
                    <div class="content col-md-offset-1 col-md-4 col-sm-12 col-xs-12">
                        <h3 class="title">Build realtime apps, effortlessly. </h3>
                        <div class="desc">
                            <p> When data changes, apps built with CloudBoost update instantly across every device -- web or mobile. Get an instant notification when data is inserted, updated, or deleted. </p>
                        </div>
                    </div><!--//content-->
                    <figure class="figure col-md-6 col-sm-12 col-xs-12 col-sm-offset-0 col-xs-offset-0">
                        <img class="img-responsive" style="height:175px" src="assets/images/figures/realtime_notification.png" alt="" />
                    </figure>
                </div><!--//item-->

                <div class="row item last-item">
                    <div class="content col-md-5 col-sm-12 col-xs-12 col-md-push-6 col-sm-push-0 col-xs-push-0">
                        <h3 class="title">Implement search-engine in your apps on your data with CloudSearch.</h3>
                        <div class="desc">
                            <p> Implementing a search engine in your app can never be much easier. We index your data for search and let your users use our CloudSearch feature to get most accurate and relevant data as possible.  </p>
                        </div>
                    </div><!--//content-->
                    <figure class="figure col-md-4 col-sm-12 col-xs-12 col-md-pull-4 col-sm-pull-0 col-xs-pull-0">
                        <img class="img-responsive"  style="height:175px" src="assets/images/figures/database_search-256.png" alt="" />
                    </figure>
                </div><!--//item-->

                <div class="row item">
                    <div class="content col-md-offset-1 col-md-4 col-sm-12 col-xs-12">
                        <h3 class="title">Rock solid data store. </h3>
                        <div class="desc">
                            <p>We use a rock-solid data-store to store all your data. We can be used as you would use any database - querying, aggregations, insert ,save, update still work as expected.   </p>
                        </div>
                    </div><!--//content-->
                    <figure class="figure col-md-6 col-sm-12 col-xs-12 col-sm-offset-0 col-xs-offset-0">
                       <img class="img-responsive" style="height:175px" src="assets/images/figures/Database-Cloud.png" alt="" />
                    </figure>
                </div><!--//item-->

                <div class="row item last-item">
                     <center><h2 class="title" style="margin-left:auto !important; margin-right:auto !important; width:50%">We've built SDK's that work on every platform. </h2></center>
                     <div><figure class="figure col-md-8 col-sm-12 col-xs-12 col-md-offset-2 ">
                       <img class="img-responsive"  src="assets/images/frameworks.png" alt="AngularJS, NodeJS, ReactJS, EmberJS, Java, JavaScript SDK's" />
                    </figure></div>
                </div><!--//item-->

                <div class="row item last-item">
                    <div class="content col-md-5 col-sm-12 col-xs-12 col-md-push-6 col-sm-push-0 col-xs-push-0">
                        <h3 class="title">Your data is safe. Always!</h3>
                        <div class="desc">
                            <p>The safety and security of your data is our top priority. CloudBoost  allows you to restrict reading and writing via granular access controls and custom authentication. </p>
                            <p>We automatically backup and replicate all your data in secure-locations around the world. </p>
                        </div>

                    </div><!--//content-->
                    <figure class="figure col-md-4 col-sm-12 col-xs-12 col-md-pull-4 col-sm-pull-0 col-xs-pull-0">
                        <img class="img-responsive" style="height:175px" src="assets/images/figures/shield.png" alt="" />
                    </figure>
                </div><!--//item-->


                <div class="feature-lead text-center">
                    <h4 class="title">Want to quickly get up and running?</h4>
                    <p><a class="btn btn-cta btn-cta-primary " href="/quickstart">See our quickstart.</a></p>
                </div>
            </div><!--//container-->
        </section><!--//why-->

       <div ng-include="'app/views/subviews/bottom_banner.html'"></div>

    </div><!--//section-wrapper-->

    <!--Footer Start-->
    <div ng-include="'app/views/subviews/footer.html'"></div>
    <!--Footer End-->

     <!-- Video Modal -->
    <div class="modal modal-video" id="modal-video" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 id="videoModalLabel" class="modal-title sr-only">Video Tour</h4>
                </div>
                <div class="modal-body">
                    <div class="video-container">
                        <iframe width="720" height="405" src="https://www.youtube.com/embed/CupmYkNzXnE" frameborder="0" allowfullscreen></iframe>
                    </div><!--//video-container-->
                </div><!--//modal-body-->
            </div><!--//modal-content-->
        </div><!--//modal-dialog-->
    </div><!--//modal-->


  
    
