
    <div class="bg-slider-wrapper">
        <div class="flexslider bg-slider">
            <ul class="slides">
                <li class="slide slide-1"></li>
                <li class="slide slide-2"></li>
                <li class="slide slide-3"></li>
            </ul>
        </div>
    </div><!--//bg-slider-wrapper-->

     <!-- Video Modal -->
<!--     <div class="modal modal-video" id="modal-video" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 id="videoModalLabel" class="modal-title sr-only">Video Tour</h4>
                </div>
                <div class="modal-body">
                     <div class="video-container">
                        <iframe src="http://player.vimeo.com/video/28872840?color=ffffff&amp;wmode=transparent" width="720" height="405" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <section class="promo section section-on-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">                   
                        <h1 style="width:55%; margin:0 auto;">One solutions for all Database problems</h1>
                        <h4 style="width:15%; margin:0 auto; margin-top:15px;">Single API</h4>             
                 </div>
            </div>        
            <div class="row">
                <div class="col-md-5">
                    <div class="widget-div">
                        <div class="widget-bx">
                           <div class="widget-header cf">
                                <div class="widget-search pull-left cf">
                                    <input type="text" id="search-input" placeholder="Search anything" class="pull-left" ng-model="search.comment">
                                    <a class="search-btn pull-left"><i class="fa fa-search"></i></a>
                                </div>                              
                               
                                 <div class="realtime-div pull-right" ng-click="toggleNotifications()">
                                    <i class="fa fa-comments notify-icon"></i>
                                    <div class="notify-counter" ng-show="notificationCount>0">
                                        <center>
                                           <span class="count-number">{{notificationCount}}</span>
                                        </center>
                                    </div>
                                </div>

                            </div>
                            <!--List of comments--> 
                            <div id="notificationContainer"  ng-show="showNotifications">
                                <div id="notificationTitle">Notifications</div>
                                <div id="notificationsBody" class="notifications">
                                   <div class="comments-container cf" ng-repeat="eachComment in filteredCommentList=(commentsList | filter:filterUserFn)">
                                       <div class="user-pic pull-left">
                                            <img src="assets/images/{{eachComment.userPic}}.png">
                                       </div>
                                       <div class="user-comment pull-left">                    
                                        <span>
                                          Hi,You got a new Notification from <span class="notify-username">CloudBoost</span>
                                        </span>    
                                       </div>
                                   </div>

                                   <div class="comments-container cf" ng-show="!filteredCommentList.length">
                                    <span style="color:black; font-size:12px;">There are no notifications</span>
                                   </div>

                                </div>                                
                            </div>
                            <!--/List of comments-->

                            <div class="widget-content">
                                <div class="widget-inner">
                                    <div class="widget-post-bx cf">
                                        <form name="postForm" ng-submit="postComment(postForm.$valid)">
                                            <div class="txtinput pull-left">
                                                <div class="txt-wrapper cf">
                                                    <input tyoe="text" class="pull-right" placeholder="Post anything" ng-model="comment">
                                                </div>                                        
                                            </div>
                                            <div class="post-btn-bx pull-left">
                                                <button type="submit" class="post-btn pull-right">Post</button>
                                            </div>
                                        </form>    
                                    </div>

                                    <div class="widget-comments-list cf">
                                        <div class="widget-comments-bx cf" ng-repeat="eachComment in commentsList | filter:search | orderBy:'index':true">
                                            <div class="user-pic pull-left">
                                             <img src="assets/images/{{eachComment.userPic}}.png">
                                           </div>
                                           <div class="user-comment2 pull-left">
                                                <span class="comment-username">{{eachComment.name}}</span>
                                                <span>
                                                   {{eachComment.comment}}
                                                </span>    
                                           </div>
                                        </div>

                                        <!--Static-->
                                         <div class="widget-comments-bx cf">
                                            <div class="user-pic pull-left">
                                             <img src="assets/images/cb-user.png">
                                           </div>
                                           <div class="user-comment2 pull-left">
                                                <span class="comment-username">CloudBoost</span>
                                                <span>
                                                   Database as a service with only One API
                                                </span>                                             
                                           </div>
                                        </div>
                                                                           
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                       
                </div>
                <div class="col-md-6 col-md-offset-1">
                  <div class="code-widget">
                        <!-- Nav tabs -->
                    <ul class="nav nav-tabs text-center" role="tablist">
                        <li id="feature1List" class="active" style="cursor:pointer"><a data-ng-click="switchFeature(1)" role="tab" data-toggle="tab"><i class="fa fa-database"></i><br /><span class="hidden-sm hidden-xs">Store</span></a></li>
                        <li id="feature2List" style="cursor:pointer"><a data-ng-click="switchFeature(2)" role="tab" data-toggle="tab"><i class="fa fa-clock-o"></i><br /><span class="hidden-sm hidden-xs">Realtime</span></a></li>
                        <li id="feature4List" style="cursor:pointer"><a data-ng-click="switchFeature(4)" role="tab" data-toggle="tab"><i class="fa fa-search"></i><br /><span class="hidden-sm hidden-xs">Search</span></a></li>
                    </ul><!--//nav-tabs-->

                    <!-- Tab panes -->
                    <div class="tab-content homepage-tab">
                        <div class="tab-pane fade in active" id="feature1">
                            <h3 class="title sr-only">Feature One</h3>
                            <div class="desc text-left">
                                <div style="padding:20px;">
                                     <p> <b> Insert data into your CloudBost app </b> </p>
                                </div>                         

                                <textarea id="objectInsert" disabled="true">

//insert a new object in CloudBoost

var obj = new CB.CloudObject('Student');
obj.set('name', 'John Smith');
obj.save({
    success : function(obj){

    }, error : function (error){

    }
});

                                </textarea>
                                
                            </div><!--//desc-->
                        </div><!--//tab-pane-->
                        <div class="tab-pane in active" id="feature2">
                            <h3 class="title sr-only">Feature Two</h3>
                           
                            <div class="desc text-left">
                            <div style="padding:20px;">
                            <p> <b> Get notifications when object is inserted / updated or deleted </b>  </p>
                                
                            </div>    
                                <textarea id="objectNotifications" disabled="true">

//CloudObjects Notification.

CB.CloudObject.on('Student', 'created', function(obj){ 
    //your custom function which you want to fire.
    //obj is an instance of CloudObject
    alert('Student Created : '+ obj.get('name'));
});

                                </textarea>                           

                            </div><!--//desc-->
                        </div><!--//tab-pane-->
                        <div class="tab-pane in active" id="feature4">
                            <h3 class="title sr-only">Feature Four</h3>
                            
                            <div class="desc text-left">
                            <div style="padding:20px;">    
                                <p> <b> Index objects for search </b>   </p>                               
                            </div>
                                <textarea id="indexSearch" disabled="true">

//insert a new object adn index it for Search.

var obj = new CB.CloudObject('Student');
obj.set('name', 'John Smith');
obj.isSearchable = true; //index this object for search. 
obj.save({
    success : function(obj){

    }, error : function (error){

    }
});

                                </textarea>

                              

                                
                            </div><!--//desc-->
                        </div><!--//tab-pane-->
                    </div><!--//tab-content-->
                  </div>  
                </div>     
            </div>    
        </div><!--//container-->
    </section><!--//promo-->

    <div class="sections-wrapper" data-ng-init="init()">

        <!-- ******Why Section****** -->
        <section id="why" class="section why">
            <div class="container">
                <h2 class="title text-center">Why build your apps with us?</h2>
                <p class="intro text-center"> You want to build an app that does a bunch of things - from search, to updates in realtime, to caching for faster data-access and more. <br/>We do it all of it for you, with a very simple SDK.</p>
                <div class="row item">
                    <div class="content col-md-offset-1 col-md-4 col-sm-12 col-xs-12">
                        <h3 class="title">Build realtime apps, effortlessly. </h3>
                        <div class="desc">
                            <p> When data changes, apps built with CloudBoost update instantly across every device -- web or mobile. Get an instant notification when data is inserted, updated, or deleted. </p>
                        </div>
                    </div><!--//content-->
                    <figure class="figure col-md-6 col-sm-12 col-xs-12 col-sm-offset-0 col-xs-offset-0">
                        <img class="img-responsive" style="height:175px" src="assets/images/figures/realtime_notification.png" alt="" />
                    </figure>
                </div><!--//item-->

                <div class="row item last-item">
                    <div class="content col-md-5 col-sm-12 col-xs-12 col-md-push-6 col-sm-push-0 col-xs-push-0">
                        <h3 class="title">Implement search-engine in your apps on your data with CloudSearch.</h3>
                        <div class="desc">
                            <p> Implementing a search engine in your app can never be much easier. We index your data for search and let your users use our CloudSearch feature to get most accurate and relevant data as possible.  </p>
                        </div>
                    </div><!--//content-->
                    <figure class="figure col-md-4 col-sm-12 col-xs-12 col-md-pull-4 col-sm-pull-0 col-xs-pull-0">
                        <img class="img-responsive"  style="height:175px" src="assets/images/figures/database_search-256.png" alt="" />
                    </figure>
                </div><!--//item-->

                <div class="row item">
                    <div class="content col-md-offset-1 col-md-4 col-sm-12 col-xs-12">
                        <h3 class="title">Rock solid data store. </h3>
                        <div class="desc">
                            <p>We use a rock-solid data-store to store all your data. We can be used as you would use any database - querying, aggregations, insert ,save, update still work as expected.   </p>
                        </div>
                    </div><!--//content-->
                    <figure class="figure col-md-6 col-sm-12 col-xs-12 col-sm-offset-0 col-xs-offset-0">
                       <img class="img-responsive" style="height:175px" src="assets/images/figures/Database-Cloud.png" alt="" />
                    </figure>
                </div><!--//item-->

                <div class="row item last-item">
                    <div class="content col-md-5 col-sm-12 col-xs-12 col-md-push-6 col-sm-push-0 col-xs-push-0">
                        <h3 class="title">Cloud Cache to make things crazy fast.</h3>
                        <div class="desc">
                            <p>We move your most requested data to a cache, so accessing it is blazing fast, making your app more responsive with a much more enhanced experience. </p>
                        </div>

                    </div><!--//content-->
                    <figure class="figure col-md-4 col-sm-12 col-xs-12 col-md-pull-4 col-sm-pull-0 col-xs-pull-0">
                        <img class="img-responsive" style="height:175px" src="assets/images/figures/memory.png" alt="" />
                    </figure>
                </div><!--//item-->

                <div class="row item ">
                    <div class="content col-md-offset-1 col-md-4 col-sm-12 col-xs-122">
                        <h3 class="title">AI Engine understands how you query your data.</h3>
                        <div class="desc">
                            <p>We automatically replicate your data into cache, to search engines, and to a storage which better understands your data and make querying for data much faster. </p>
                            <p>You can do a whole bunch of stuff like implementing a search feaure, realtime texting, files storage,  aggregations, and more.</p>
                        </div>
                    </div><!--//content-->
                    <figure class="figure col-md-6 col-sm-12 col-xs-12 col-sm-offset-0 col-xs-offset-0">
                        <img class="img-responsive" style="height:175px" src="assets/images/figures/artificial-intelligence-256.png" alt="" />
                    </figure>
                </div><!--//item-->

                <div class="row item last-item">
                    <div class="content col-md-5 col-sm-12 col-xs-12 col-md-push-6 col-sm-push-0 col-xs-push-0">
                        <h3 class="title">Your data is safe. Always!</h3>
                        <div class="desc">
                            <p>The safety and security of your data is our top priority. CloudBoost  allows you to restrict reading and writing via granular access controls and custom authentication. </p>
                            <p>We automatically backup and replicate all your data in secure-locations around the world. </p>
                        </div>

                    </div><!--//content-->
                    <figure class="figure col-md-4 col-sm-12 col-xs-12 col-md-pull-4 col-sm-pull-0 col-xs-pull-0">
                        <img class="img-responsive" style="height:175px" src="assets/images/figures/shield.png" alt="" />
                    </figure>
                </div><!--//item-->


                <div class="feature-lead text-center">
                    <h4 class="title">Want to quickly get up and running?</h4>
                    <p><a class="btn btn-cta btn-cta-secondary" href="#!/quickstart">See our quickstart.</a></p>
                </div>
            </div><!--//container-->
        </section><!--//why-->

       <div ng-include="'app/views/subviews/bottom_banner.html'"></div>

    </div><!--//section-wrapper-->

    <!--Footer Start-->
    <div ng-include="'app/views/subviews/footer.html'"></div>
    <!--Footer End-->


  
    
